<div class="right_col" role="main">
  <div ng-controller="SanteplanteComptagedesravageursCtrl as pc" class="modal-demo">
    <md-content class="md-padding">
      <md-tabs md-selected="-1" md-border-bottom="" md-autoselect="" md-swipe-content="">
        <md-tab label="{{'Fiche de surveillance' | translate}}" ui-sref="comptagedesravageursfichedesurveillance"></md-tab>
        <md-tab label="{{'Synthèse de surveillance' | translate}}" ui-sref="comptagedesravageurssynthesesurveillance"></md-tab>
        <md-tab label="{{'Synthèse de surveillance par culture' | translate}}" ui-sref="comptagedesravageurssyntheseparculturesurveillance"></md-tab>
      </md-tabs>
    </md-content>
    <br />
    <span> {{'Santé de la plante' | translate}} <i class="fa fa-angle-right"></i> <b>{{'Comptage des ravageurs' | translate}}</b></span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>{{'Parcelle culturale' | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{'Cible' | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{'De' | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{'A' | translate}}</td>
          </tr>
          <tr>
            <td>
              <select id="Parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle.parcelle" ng-change="parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Parcelle culturale' | translate}}">
                  <option ng-repeat="parcellecultural in pc.parcellescultural" ng-value="parcellecultural.ID" style="width: 250px;">{{ parcellecultural.Ref }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Cible" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="cible.cible" ng-change="cible_change()" multiple data-live-search="true" title="{{'Cible' | translate}} ..." data-selected-text-format="count > 1"
                data-size="10">
                <optgroup label="{{'Cible' | translate}}">
                  <option ng-repeat="cible in pc.cibes" ng-value="cible.ID_cible" style="width: 250px;">{{ cible.Cible }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

          </tr>

        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <div class="table-responsive">
      <table style="background-color: white" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>
  </div>
  <br /><br />
</div>