<div class="right_col" role="main">
  <div ng-controller="SantedelaplanteComptagepiegeagemapCtrl as pc" class="modal-demo">
    <span> {{"Santé de la plante" | translate}} <i class="fa fa-angle-right"></i> {{"Comptage piégeage" | translate}} <i class="fa fa-angle-right"></i> <b>{{"Vue cartographique" | translate}}</b></span>
    <br />
    <div class="dontshowit ">
      <a class="dt-button pull-right" ui-sref="comptagepiegeagefichedesurveillance"><i class="fa fa-reorder"></i></a>
      <a class="dt-button pull-right" ui-sref="comptagePiege"><i class="fa fa-list"></i></a>
    </div>
    <br /><br />
    <div id="map"></div>
    <br /><br />
    <div id="filterDev" class="animated fadeIn" style="display:none;">
      <br />
      <table style="border-collapse: collapse;">
        <tr>
          <td>
            <input id="date_fin" type="date" class="" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}" style="width:150px;height:35px;" onkeypress="return false">
          </td>
          <td>
            &nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <select id="Cible" class="form-control  input-sm  selectpicker" ng-model="cible.cible" ng-change="cible_change()" data-live-search="true" title="{{'Cible' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
              <option selected disabled value="" style="background-color: #ffffff;width:100px;"> {{"Cible" | translate}} ..</option>
              <option ng-repeat="cible in pc.cibles" ng-value="cible.ID_cible" ng-if="cible.Cible != ''" style="width:200px;">{{ cible.Cible }}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <div id="infoparcelle" style="display:none;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;width:250px;">

        <h5 class="badge-orange-squar">&nbsp<font color="#ffffff" size="2px">Parcelle infos</font>
        </h5>


        <table class="w3-table w3-striped">
          <tr>
            <td style=""><small>{{"Référence" | translate}}</small></td>
            <td style=""><small>
                <bn id="ref"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{"Superficie" | translate}}</small></td>
            <td style="text-align:right; "><small>
                <bn id="superficie"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{"Position" | translate}}</small></td>
            <td style=""><small>
                <bn id="Position"></bn>
              </small></td>
          </tr>
        </table>

      </div>





    </div>

    <div id="infoPiege" style="display:none;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;width:250px;">

        <h5 class="badge-orange-squar">&nbsp<font color="#ffffff" size="2px">{{"Piège infos" | translate}}</font>
        </h5>


        <table class="w3-table w3-striped">
          <tr>
            <td style=""><small>{{"Code" | translate}}</small></td>
            <td style=""><small>
                <bn id="Code"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{"Position" | translate}}</small></td>
            <td style=""><small>
                <bn id="PositionPiege"></bn>
              </small></td>
          </tr>
        </table>


      </div>
      <br />
    </div>


    <div id="details" style="display:none;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;width:250px;">

        <h5 class="badge-orange-squar">&nbsp<font color="#ffffff" size="2px">{{"Détails observation" | translate}}</font>
        </h5>
        <table class="w3-table w3-striped">
          <tr>
            <td style=""><small>{{"Cible" | translate}}</small></td>
            <td><small>
                <bn id="CibleObs"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{"Nombre insectes" | translate}}</small></td>
            <td style="text-align:right; "><small>
                <bn id="Nombreinsectes"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{"Risque" | translate}}</small></td>
            <td style="text-align:right; "><small>
                <bn id="alerte"></bn>
              </small></td>
          </tr>
        </table>
      </div>
    </div>


    <div id="nbrPiegeView" style="display:none;margin-bottom: 20px;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;font-size: 2rem;padding: 7px;">
        <center>{{nbrPiege}} Piège(s)</center>
      </div>
    </div>


  </div>
</div>