<div class="right_col" role="main">
  <div ng-controller="SanteplanteOrdretraitementphytosanitaireCtrl as pc" class="modal-demo">
    <md-content class="md-padding">
      <md-tabs md-selected="0" md-border-bottom="" md-autoselect="" md-swipe-content="">
        <md-tab label="{{'Ordre de traitement'| translate}}" ui-sref="ordretraitementphytosanitaire"></md-tab>
        <md-tab label="{{'Réalisation'| translate}}" ui-sref="realisationtraitementphytosanitaire"></md-tab>
      </md-tabs>
    </md-content>
    <br />
    <span> {{'Santé de la plante'| translate}} <i class="fa fa-angle-right"></i> {{'Traitement phytosanitaire'| translate}} <i class="fa fa-angle-right"></i> <b>{{'Ordre de traitement'| translate}}</b>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i> <b>{{'Détails Ordre'| translate}}</b></bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable"><i class="fa fa-remove"></i></a>
      <a class="ng-class: pc.class_dt_refordre;" ng-if="!pc.showtable">{{pc.etat_traitemen_detail}}</a>
    </span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>
            <td>{{'De'| translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{'A'| translate}}</td>
          </tr>
          <tr>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

          </tr>

        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <div class="table-responsive" style="" ng-show="pc.showtable">
      <table style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>
    <div ng-show="!pc.showtable">
      <br />
      <div style="overflow-x:auto;">
        <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
          <thead>
            <tr>
              <th>{{'N° Traitement'| translate}}</th>
              <th>{{"N° d'observation"| translate}}</th>
              <th>{{"Date d'instruction"| translate}}</th>
              <th>{{'Stade'| translate}}</th>
              <th>{{'Type'| translate}}</th>
              <th>{{'Méthode'| translate}}</th>
              <th>{{'Observation'| translate}}</th>
              <th>{{'Opération'| translate}}</th>
              <th>{{'Responsable technique'| translate}}</th>
              <th>{{'Opérateur'| translate}} </th>
            </tr>
          </thead>
          <tr>
            <td><span class="ng-class: pc.class_refordre;">{{ pc.ordretraitementphytosanitaireByID.Ref_traitement }}</span></td>
            <td>
              {{ pc.ordretraitementphytosanitaireByID.Ref_OBS }}
            </td>
            <td>{{ pc.ordretraitementphytosanitaireByID.DATE_Ordre | date:'dd/MM/yyyy'}}</td>
            <td>{{ pc.ordretraitementphytosanitaireByID.Stade }}</td>
            <td>{{ pc.ordretraitementphytosanitaireByID.Type }}</td>
            <td ng-if="pc.ordretraitementphytosanitaireByID.Methode != 0">{{ pc.ordretraitementphytosanitaireByID.Methode }}</td>
            <td ng-if="pc.ordretraitementphytosanitaireByID.Methode == 0"></td>
            <td>{{ pc.ordretraitementphytosanitaireByID.OBSERV }}</td>
            <td>{{ pc.ordretraitementphytosanitaireByID.OpeRef_Intitule }}</td>
            <td>{{ pc.ordretraitementphytosanitaireByID.Responsable_technique }}</td>
            <td>{{ pc.ordretraitementphytosanitaireByID.OPERATEUR }}</td>
          </tr>
        </table>
      </div>

      <div class="row">
        <!-- form input mask -->
        <div class="col-md-4 col-sm-12 col-xs-12">
          <fieldset>
            <legend>{{'Parcelles culturale'| translate}}</legend>
            <div style="overflow-x:auto;">
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{'Parcelle culturale'| translate}}</th>
                    <th>{{'Sup (ha)'| translate}}</th>
                    <th>{{'Sup à traiter %'| translate}}</th>
                    <th>{{"NB d'arbre"| translate}}</th>
                  </tr>
                </thead>
                <tr ng-repeat="parcellescultural in pc.parcellescultural">
                  <td>{{ parcellescultural.Ref }}</td>
                  <td align="right">{{ parcellescultural.Sup_Pa | number:2}}</td>
                  <td align="right">{{ parcellescultural.Sup_traiter | number:2 }}%</td>
                  <td align="right">{{ parcellescultural.NB_arbre }}</td>
                </tr>

                <tr ng-if="pc.parcellescultural.length == 0">
                  <td colspan="4">
                    <center>No data found</center>
                  </td>
                </tr>

              </table>
            </div>
            <div class="pull-right">
              {{'Superficie à traiter'| translate}} : <input type="text" name="" ng-value="pc.getSumSup(pc.parcellescultural) | number:2" size="8px" disabled>Ha
            </div>
          </fieldset>
        </div>
        <!-- /form input mask -->

        <!-- form color picker -->
        <div class="col-md-8 col-sm-12 col-xs-12">
          <fieldset>
            <legend>{{'Produits à utiliser'| translate}}</legend>

            <table width="100%" class="">
              <tr>
                <td></td>
                <td>{{'Culture'| translate}}</td>
                <td align="right">{{"Litrage à l'ha"| translate}}</td>
              </tr>
              <tr>
                <td><i class="fa fa-square-o fa-lg" ng-if="!pc.ordretraitementphytosanitaireByID.Injection"></i><i class="fa fa-check-square-o fa-lg" ng-if="pc.ordretraitementphytosanitaireByID.Injection"></i>&nbsp;<font size="4px;">Injection</font>
                </td>
                <td><input type="text" name="" value="" ng-value="pc.ordretraitementphytosanitaireByID.Culture" disabled></td>
                <td align="right"><input type="text" name="" value="" ng-value="pc.attelages[0].litrage_HA" disabled></td>
              </tr>
              <tr>
                <td></td>
                <td>{{'Nombre de cuve'| translate}}</td>
                <td align="right">{{'Litrage total'| translate}}</td>
              </tr>
              <tr>
                <td></td>
                <td><input type="text" name="" value="" ng-value="pc.attelages[0].Nombre_de_cuve" disabled></td>
                <td align="right"><input type="text" name="" value="" ng-value="pc.attelages[0].Litrage_Total" disabled></td>
              </tr>
            </table><br />
            <div style="overflow-x:auto;">
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{'Cible'| translate}}</th>
                    <th>{{'Pesticide'| translate}}</th>
                    <th>{{'Dose'| translate}}</th>
                    <th>{{'DAR'| translate}}</th>
                    <th>{{'Solde théorique'| translate}}</th>
                    <th>{{'Quantité'| translate}}</th>
                    <th>{{'(U)'| translate}}</th>
                  </tr>
                </thead>
                <tr ng-repeat="produits in pc.produits">
                  <td ng-if="produits.Cible != pc.produits[$index - 1].Cible">
                    <div> {{ produits.Cible }}</div>
                  </td>
                  <td ng-if="produits.Cible == pc.produits[$index - 1].Cible">
                    <div></div>
                  </td>
                  <td>{{ produits.Designation}}</td>
                  <td align="right">{{ produits.Dose }}</td>
                  <td align="right">{{ produits.DAR }}</td>
                  <td align="right">{{ produits.SOLDE  | number:2}}</td>
                  <td align="right">{{ produits.Quantite_Ordre }}</td>
                  <td>{{ produits.unite_PE }}</td>
                </tr>

                <tr ng-if="pc.produits.length == 0">
                  <td colspan="9">
                    <center>No data found</center>
                  </td>
                </tr>

              </table>
            </div>
            <div class="pull-right">
              {{'Dar'| translate}} : <input type="text" name="" ng-value="pc.ordretraitementphytosanitaireByID.DAR + ' j'" size="8px" disabled>
              {{'Coût estimé'| translate}} : <input type=" text" name="" ng-value="pc.ordretraitementphytosanitaireByID.COUT_estime_ordre | number:2" size="8px" disabled>
            </div>
          </fieldset>
          <div><br />
            <fieldset>
              <legend>{{'CAttelage'| translate}}</legend>
              <table width="100%" class="">
                <tr>
                  <td>{{'Tracteur'| translate}}</td>
                  <td>{{'Type'| translate}}</td>
                  <td>{{'Outil/Attelage'| translate}}</td>
                  <td align="right">{{"Litrage à l'ha"| translate}}</td>
                </tr>
                <tr>
                  <td><input type="text" name="" value="" ng-value="pc.attelages[0].trateur" size="30px" disabled></td>
                  <td><input type="text" name="" value="" ng-value="pc.attelages[0].type_outil" size="30px" disabled></td>
                  <td><input type="text" name="" value="" ng-value="pc.attelages[0].Outils_Attelage" size="30px" disabled></td>
                  <td align="right"><input type="text" name="" value="" ng-value="pc.attelages[0].litrage_HA" size="30px" disabled></td>
                </tr>
                <tr>
                  <td>{{'Contenance'| translate}}</td>
                  <td>{{'Nombre de cuve'| translate}}</td>
                  <td>{{'Nombre de cuve réél'| translate}}</td>
                  <td align="right">{{'Litrage total'| translate}}</td>
                </tr>
                <tr>
                  <td><input type="text" name="" value="" ng-value="pc.attelages[0].cotenance" size="30px" disabled></td>
                  <td><input type="text" name="" value="" ng-value="pc.attelages[0].Nombre_de_cuve" size="30px" disabled></td>
                  <td><input type="text" name="" value="" ng-value="pc.attelages[0].Nombre_de_cuve_reel" size="30px" disabled></td>
                  <td align="right"><input type="text" name="" value="" ng-value="pc.attelages[0].Litrage_Total" size="30px" disabled></td>
                </tr>
              </table>
            </fieldset>
          </div>
        </div>

        <!-- /form color picker -->
      </div>

      <br /><br /><br />
    </div>
  </div>

</div>