<div class="right_col" role="main">
  <div ng-controller="SanteplanteRealisationtraitementphytosanitairemapCtrl as pc" class="modal-demo">
    <md-content class="md-padding">
      <md-tabs md-selected="1" md-border-bottom="" md-autoselect="" md-swipe-content="">
        <md-tab label="{{'Ordre de traitement'| translate}}" ui-sref="ordretraitementphytosanitaire"></md-tab>
        <md-tab label="{{'Réalisation'| translate}}" ui-sref="realisationtraitementphytosanitaire"></md-tab>
      </md-tabs>
    </md-content>
    <br />
    <span> {{'Santé de la plante'| translate}} <i class="fa fa-angle-right"></i> {{'Traitement phytosanitaire'| translate}} <i class="fa fa-angle-right"></i> {{'Réalisation'| translate}} <i class="fa fa-angle-right"></i>
      <b>{{'Vue cartographique'| translate}}</b></span>
    <br />
    <div class="dontshowit">
      <a class="dt-button pull-right" ui-sref="realisationtraitementphytosanitaire" title="{{'Réalisation' | translate}}"><i class="fa fa-list"></i></a>
      <a class="dt-button pull-right" ui-sref="fichesdesuividetraitementsphytosanitaire" title="{{'Fiches de suivi de traitements phytosanitaire' | translate}}"><i class="fa fa-reorder"></i></a>
    </div>
    <br /><br />
    <div id="map"></div>
    <br /><br />
    <div id="filterDev" class="animated fadeIn" style="display:none;">
      <br />
      <table style="border-collapse: collapse;">
        <tr>
          <td>
            <select id="NTraitement" class="form-control  input-sm  selectpicker" ng-model="ntraitement.ntraitement" ng-change="ntraitement_change()" data-live-search="true" title="{{'N°Ordre' | translate}} ..." data-selected-text-format="count > 1"
              data-size="10">
              <option disabled value="" style="background-color: #ffffff;width:100px;" ng-selected="pc.obj.IDtraitement ==''">{{'N°Ordre'| translate}} ..</option>
              <option disabled value="" style="background-color: #ffffff;width:100px;" ng-selected="pc.obj.IDtraitement >0"> {{pc.obj.Ntraitement}}</option>
              <option ng-repeat="ALLRefTraitement in pc.ALLRefTraitement" ng-value="ALLRefTraitement" style="width:200px;">{{ ALLRefTraitement.Ref_traitement }}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>

    <div id="infoparcelle" style="display:none;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;width:250px;">

        <h5 class="badge-orange-squar">&nbsp<font color="#ffffff" size="2px">{{'Parcelle culturale infos'| translate}}</font>
        </h5>


        <table class="w3-table w3-striped">
          <tr>
            <td style=""><small>{{'Référence'| translate}}</small></td>
            <td style=""><small>
                <bn id="ref"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{'Superficie'| translate}}</small></td>
            <td style="text-align:right; "><small>
                <bn id="superficie"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{'Variété'| translate}}</small></td>
            <td style=""><small>
                <bn id="variete"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{'Position'| translate}}</small></td>
            <td style=""><small>
                <bn id="Position"></bn>
              </small></td>
          </tr>
        </table>


      </div>
    </div>


    <div id="details" style="display:none;" class="animated fadeIn">
      <br />
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;width:250px;">

        <h5 class="badge-orange-squar">&nbsp<font color="#ffffff" size="2px">{{'Détails ordre'| translate}} {{pc.obj.Ntraitement}}</font>
        </h5>

        <table class="w3-table w3-striped">
          <tr>
            <td style=""><small>{{'Statut'| translate}}</small></td>
            <td><small>
                <bn id="Statut"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{'Superficie traitée'| translate}}</small></td>
            <td style="text-align:right; "><small>
                <bn id="Superficietraitee"></bn>
              </small></td>
          </tr>
        </table>


      </div>
    </div>

    <div id="legend" style="display:none;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;">
        <table class="w3-table w3-striped">
          <tr>
            <td style=""><a class="dt-withcolor-parcelletraiter"></a></td>
            <td style=""><small>{{'Traitée entièrement'| translate}}</small></td>
            <td style=""><a class="dt-withcolor-parcelleencourstraiter"></a></td>
            <td style=""><small>{{'En cours de traitement'| translate}}</small></td>
            <td style=""><a class="dt-withcolor-parcellenonencoretraiter"></a></td>
            <td style=""><small>{{'Non encore commencée'| translate}}</small></td>
          </tr>
        </table>
      </div>
      <br />
    </div>

  </div>
</div>