<md-dialog aria-label="Mango (Fruit)" style="width: 600px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'Modifier une unité d opération' | translate}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-wrap>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Référence' | translate}}</label>
              <input ng-model="data.Code" type="text" style="width: 250px;">
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Unité'| translate}}</label>
              <input ng-model="data.Unite" type="text" md-autofocus style="width: 250px;" required>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Unité de récolte (Non / Oui)' | translate}}</label>
              <md-switch ng-model="Recolte" style="width:90%;" aria-label="Switch 2" ng-true-value="1" ng-false-value="0" class="md-warn">
                <span class="badge-green_withe" ng-if="Recolte">{{'Oui' | translate}}</span>
                <span class="badge-red_withe" ng-if="!Recolte">{{'Non' | translate}}</span>
              </md-switch>
            </md-input-container>
          </div>


        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
      <md-button ng-click="AnnulerUniteOperation();" class="md-primary">
        {{'Annuler' | translate}}
      </md-button>
      <md-button ng-click="ModiferUniteOperation()" ng-if="!progress">
        {{'Modifier' | translate}}
      </md-button>
      <md-progress-circular md-mode="indeterminate" ng-if="progress"></md-progress-circular>
    </md-dialog-actions>

  </form>
</md-dialog>
