<div ng-controller="TableaudebordTechniqueTabsTbTechniqueTraitementphytosanitaireCtrl as pc" class="modal-demo">

  <br />

  <div class="row animate fadeIn" ng-show="tb_technique_traitementPhytosanitaire_CarteApplicationsPhytosanitaires">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{"Carte des applications phytosanitaires" | translate}}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>


  <div id="filterDev" class="animated fadeIn">
    <table>
      <tr>
        <td></td>
        <td>&nbsp;&nbsp;</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div id="reportrange_tb_technique" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;width:200px;font-family: Roboto,Helvetica Neue,sans-serif;height:30px;">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
            <input type="hidden" name="" value="" ng-model="periode">
          </div>
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
          <div class="container">
            <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-size="5">
              <option ng-repeat="compagne in pc.compagne_array" ng-value="compagne">{{ compagne.Code }}</option>
            </select>
          </div>
        </td>
      </tr>
    </table>


  </div>

  <div id="legend" style="display:none;" class="animated fadeIn">
    <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;">
      <table class="w3-table w3-striped">
        <tr>
          <td style="" ng-repeat="legendColor in pc.legendColor |  orderBy: 'Categorie' | unique : 'Categorie'"><a class="dt-withcolor-parcellenonencoretraiter"
              style="background-color: {{legendColor.Couleur}};background-image: linear-gradient(to bottom, {{legendColor.Couleur}} 0%, {{legendColor.Couleur}} 100%);"></a>
            <small>{{ legendColor.Categorie }}</small></td>
        </tr>
      </table>
    </div>
    <br />
  </div>

</div>