<div ng-controller="TableaudebordTechniqueTabsTbTechniquePersonnalisezCtrl as pc" class="modal-demo">

  <br />
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="">
        <div class="">
          <div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <center>
              <h2>{{"Personnalisez votre tableau de bords" | translate}}</h2>
            </center>
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>