<div ng-controller="TableaudebordTechniqueTabsTbTechniqueMetioCtrl as pc" class="modal-demo">
  <br />
  <center>
    <table>
      <tr>
        <td>{{"Date" | translate}}</td>
        <td>&nbsp;&nbsp;</td>
        <td>{{"Campagne" | translate}}</td>
      </tr>

      <tr>
        <td>
          <div id="reportrange_tb_technique" class="form-control " style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;width:300px;font-family: Roboto,Helvetica Neue,sans-serif;">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
            <input type="hidden" name="" value="" ng-model="periode">
          </div>
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
          <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1" data-size="10">
            <option ng-repeat="compagne in pc.compagne_array" ng-value="compagne">{{ compagne.Code }}</option>
          </select>
        </td>
      </tr>
    </table>



  </center>
  <br />
  <div class="row animate fadeIn" ng-show="tb_technique_metio_ForecastMetiogramme">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title form-inline form-group mb-2">
          <h2>{{"Forecast" | translate}}</h2>
          <div class="pull-right" style="position:absolute;   top:0;   right:0;">
            <small>
              <md-switch ng-model="yr" class="md-primary">
                <span class="badge-green_withe" ng-if="!yr">WINDY</span>
                <span class="badge-nobackground" ng-if="yr">WINDY</span>
                :
                <span class="badge-green_withe" ng-if="yr">YR</span>
                <span class="badge-nobackground" ng-if="!yr">YR</span>
                &nbsp;&nbsp;
              </md-switch>
            </small>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="chartForecastMeteoGramme">
            <center>
              <iframe ng-src="{{place  | trustAsResourceUrl}}" width="100%" height="430" frameborder="0" ng-show="yr">
              </iframe>

              <iframe width="100%" height="430" ng-src="{{placeWindy  | trustAsResourceUrl}}" frameborder="0" ng-show="!yr"></iframe>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row animate fadeIn" ng-show="tb_technique_metio_ForecastGeneral">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{"Relevé climatique" | translate}}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="ForecastGenerale"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row animate fadeIn" ng-show="tb_technique_metio_ReleveClimatique">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{"Relevé climatique" | translate}}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="ReleveClimatique"></div>
        </div>
      </div>
    </div>
  </div>

</div>