<div ng-controller="TableaudebordTechniqueTabsTbTechniqueTelemetriesaisieCtrl as pc" class="modal-demo">
  <br />
  <center>
    <table>
      <tr>
        <td>{{"Date" | translate}}</td>
        <td>&nbsp;&nbsp;</td>
        <td>{{"Campagne" | translate}}</td>
        <td>&nbsp;&nbsp;</td>
        <td>{{"Utilisateur" | translate}}</td>
        <td>&nbsp;&nbsp;</td>

        <td>{{"Module" | translate}}</td>
        <td>&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;</td>

        <td></td>
      </tr>
      <tr>
        <td>
          <div id="reportrange_tb_technique" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;width:230px;font-family: Roboto,Helvetica Neue,sans-serif;">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
            <input type="hidden" name="" value="" ng-model="periode">
          </div>
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
          <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1"
            data-size="10">
            <option ng-repeat="compagne in pc.compagne_array" ng-value="compagne">{{ compagne.Code }}</option>
          </select>
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
          <select id="user" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="user" ng-change="pc.user_change()" multiple data-live-search="true" title="{{'Utilisateur' | translate}} ..."
            data-selected-text-format="count > 1" data-size="10">
            <optgroup label="{{'Utilisateur' | translate}}">
              <option ng-repeat="user in pc.users" ng-value="user" ng-if="user.isAdmin != 1">{{ user.Nom + ' ' + user.Prenom }}</option>
            </optgroup>
          </select>
        </td>
        <td>&nbsp;&nbsp;</td>

        <td>
          <select id="module" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="module" ng-change="pc.module_change()" multiple data-live-search="true" title="{{'Module' | translate}} ..."
            data-selected-text-format="count > 1" data-size="10">
            <optgroup label="{{'Module' | translate}}">
              <option ng-repeat="module in pc.modules" ng-value="module.ID">{{ module.Title | translate}}</option>
            </optgroup>
          </select>
        </td>
        <td>&nbsp;&nbsp;</td>
        <td>
          <md-button class="md-raised" ng-click="pc.search()" title="{{'Valider' | translate}}">{{"Valider" | translate}}</md-button>
        </td>

      </tr>
    </table>


  </center>
  <br />
  <div class="row">
    <div class="animate fadeIn col-md-12 col-sm-12 col-xs-12" ng-show="tb_technique_telemetrieSaisies_TableauDernieresSaisiesParUtilisateur">
      <div class="x_panel">
        <div class="x_title">
          <h2>
            {{"Tableau des dernières saisies par utilisateur" | translate}}
          </h2>
          <div class="dt-buttons pull-right">
            <a class="dt-button" style="height: 25px;"><i class="fa fa-file-excel-o pull-right" ng-click="exportData('excel')" title="EXCEL"></i></a>
            <a class="dt-button" style="height: 25px;"><i class="fa fa-file-pdf-o" ng-click="exportData('pdf')" title="PDF"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div id="wdr-Pivot_TableauDernieresSaisiesParUtilisateur" style="height:400;"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="pivot-container"></div>

</div>
