<md-dialog aria-label="Mango (Fruit)" style="width:100%">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{"Modifier irrigation [Mode simplifié]" | translate}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="row" layout-wrap>
          <div flex-gt-sm="100" flex="">
            <md-toolbar layout="row" class="md-hue-3" style="min-height: 30px !important; height: 30px !important;color: rgba(255, 255, 255, 0.87)  !important;">
              <small>&nbsp;&nbsp;{{"Information générale" | translate}}</small>
            </md-toolbar>
            <md-content style="background-color:transparent">
              <br />
              <div layout="row" layout-wrap flex>

                <div flex="100" flex-gt-sm="25" layout="column">
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>{{"Référence irrigation" | translate}} ...</label>
                    <input ng-model="data.Numero_ordre" style="width:90%;" type="text" readonly required>
                  </md-input-container>
                </div>

                <div flex="100" flex-gt-sm="25" layout="column">
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>{{"Date irrigation" | translate}}...</label>
                    <md-datepicker ng-model="dateirrigation" style="width:90%;" md-placeholder="aaaa-mm-dd" readonly md-hide-icons="calendar" required></md-datepicker>
                  </md-input-container>
                </div>


              </div>
            </md-content>
          </div>

        </div>


        <div layout="row" layout-wrap>

          <div flex-gt-sm="100" flex="">
            <md-toolbar layout="row" class="md-hue-3" style="min-height: 30px !important; height: 30px !important;color: rgba(255, 255, 255, 0.87)  !important;">
              <small>&nbsp;&nbsp;{{"Parcelle culturale" | translate}}</small>
            </md-toolbar>
            <div layout="row" layout-wrap flex>
              <div flex="100" flex-gt-sm="20" layout="column">
                <br />
                <md-input-container class="md-block" flex-gt-xs>
                  <label>{{"Groupe Operationnels" | translate}} ...</label>
                  <md-select ng-model="GroupeOperationnelsel" style="width:90%;" ng-change="getParcellesByGO()">
                    <md-option ng-value="GroupeOperationnel.IDGroupeCultural_Operationnel" ng-repeat="GroupeOperationnel in GroupeOperationnels  | orderBy:'Intitule'">{{GroupeOperationnel.Intitule}}</md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div flex="100" flex-gt-sm="20" layout="column">
                <br />
                <md-input-container class="md-block" flex-gt-xs>
                  <label>{{"Parcelle culturale" | translate}} ...</label>
                  <md-select ng-model="parcelleculturalsel" style="width:90%;" ng-change="setFoods()">
                    <md-option ng-value="parcellecultural" ng-repeat="parcellecultural in parcelleculturals  | orderBy:'Ref'" ng-if="parcellecultural.Statut_Cycle == 1" ng-disabled="notIn(parcellecultural.ID)"
                      ng-selected="ParcelleisIN(parcellecultural.ID)">{{parcellecultural.Ref}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div flex="100" flex-gt-sm="60" layout="column" style="overflow-x:auto;">
                <br /><br />
                <table>
                  <tr>
                    <td ng-repeat="food in foods" width="12px;">
                      <span class="tag label label-info">
                        <span>{{food.parcelle.Ref}}</span>
                        <a ng-click="RetirerParcelle($index);">
                          <i class="remove glyphicon glyphicon-remove-sign glyphicon-white gi-4x"></i>
                        </a>
                      </span>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>

        <div layout="row" layout-wrap flex ng-if="foods.length>0">
          <div style="height:50px" flex="100" flex-gt-sm="30" layout="column">
          </div>
          <div style="height:50px" flex="100" flex-gt-sm="10" layout="column">
          </div>
          <div style="height:50px" flex="100" flex-gt-sm="20" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{"Dose (mm)" | translate}}</label>
              <input ng-model="DoseTotal" ng-value="getSumDose()" style="width:90%;" class="right" ng-disabled="true" type="number">
            </md-input-container>
          </div>

          <div style="height:50px" flex="100" flex-gt-sm="20" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{"Dose" | translate}} (m<sup>3</sup>)</label>
              <input ng-model="Dosem3Total" ng-value="getSumDosem3()" style="width:90%;" class="right" ng-disabled="true" type="number">
            </md-input-container>
          </div>
        </div>
        <div ng-repeat="food in foods">
          <br />

          <div layout="row" layout-wrap flex>
            <div style="height:50px" flex="100" flex-gt-sm="30" layout="column">
              <md-input-container class="md-block" flex-gt-xs>
                {{food.parcelle.Ref}}
              </md-input-container>
            </div>

            <div style="height:50px" flex="100" flex-gt-sm="10" layout="column">
              <md-input-container class="md-block" flex-gt-xs>
                {{food.parcelle.Sup | number:2}} Ha
              </md-input-container>
            </div>


            <div style="height:50px" flex="100" flex-gt-sm="20" layout="column">
              <md-input-container class="md-block" flex-gt-xs>
                <label>{{"Dose (mm)" | translate}}</label>
                <input ng-model="food.dose" style="width:90%;" class="right" type="number">
              </md-input-container>
            </div>

            <div style="height:50px" flex="100" flex-gt-sm="20" layout="column">
              <md-input-container class="md-block" flex-gt-xs>
                <label>{{"Dose" | translate}} (m<sup>3</sup>)</label>
                <input ng-model="food.dosem3" ng-value="food.dosem3=setdosem3(food.dose,food.parcelle.Sup)" style="width:90%;" class="right" ng-disabled="true" type="number">
              </md-input-container>
            </div>

          </div>

        </div>


      </div>







    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
      <md-button ng-click="AnnulerSimple();" class="md-primary">
        {{"Annuler" | translate}}
      </md-button>
      <md-button ng-click="EditSimple()" ng-if="!progress">
        {{"Modifier" | translate}}
      </md-button>
      <md-progress-circular md-mode="indeterminate" ng-if="progress"></md-progress-circular>
    </md-dialog-actions>

  </form>
</md-dialog>