<div class="right_col" role="main">
  <div ng-controller="RealisationSyntheseCtrl as pc" class="modal-demo">
    <md-content class="md-padding">
      <md-tabs md-selected="1" md-border-bottom="" md-autoselect="" md-swipe-content="">
        <md-tab label="{{'Ordre de fertilisation' | translate}}" ui-sref="ordrefertlisation"></md-tab>
        <md-tab label="{{'Réalisation' | translate}}" ui-sref="realisation"></md-tab>
      </md-tabs>
    </md-content>
    <br />
    <span> {{'Nutrition' | translate}} <i class="fa fa-angle-right"></i> Fertilisation <i class="fa fa-angle-right"></i> Réalisation <i class="fa fa-angle-right"></i> <b>Etats Ordres</b></span>
    <center class="dontDisplay">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>Compagne</td>
            <td>&nbsp;&nbsp;</td>
            <td>De</td>
            <td>&nbsp;&nbsp;</td>
            <td>A</td>
            <td></td>
          </tr>
          <tr>

            <td>
              <select id="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Compagne' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                <option ng-repeat="compagne in pc.campagne" value="{{compagne.ID_compagne}}">{{compagne.Code}}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="pc.date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="pc.date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <md-button class="md-raised" ng-click="pc.reload()" title="{{'Rechercher' | translate}}">Valider</md-button>
            </td>
          </tr>
        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
      </div>
    </center>
    <br />
    <div class="dontDisplay">
      <div class="dt-buttons" style="float:right">
        <a class="dt-button pull-right" ui-sref="realisation" title="{{'Réalisation' | translate}}"><i class="fa fa-list"></i></a>
        <a class="dt-button pull-right" ui-sref="bilan_nutritionnel" title="{{'Bilan nutritionnel' | translate}}"><i class="fa fa-area-chart"></i></a>

        <a class="dt-button pull-right" ng-click="exportData('excel')" title="EXCEL"><i class="fa fa-file-excel-o"></i></a>
        <a class="dt-button pull-right" ng-click="exportData('pdf')" title="PDF"><i class="fa fa-file-pdf-o"></i></a>

        <a class="dt-button pull-right" ng-click="ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
      </div>
    </div>
    <br />
    <br />
    <div class="row" style="display: block; background-color:white;">
      <br />
      <div id="wdr-component-realisation"></div>
    </div>
  </div>
</div>