<div class="right_col" role="main">
  <div ng-controller="MainoeuvreetatsBordereaucnssCtrl as pc" class="modal-demo">
    <span class="dontshowit"> Main d’oeuvre <i class="fa fa-angle-right"></i> Edition paie <i class="fa fa-angle-right"></i> <b>Bordereau CNSS</b></span>
    <center class="dontshowit">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <center>
          <a class="btn btn-success btn-sm" data-toggle="happy" data-title="0" ng-click="type_change(1);" id="horaire"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Paie horaire</a>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-success btn-sm" data-toggle="happy" data-title="1" ng-click="type_change(2);" id="salarie"><i class="fa fa-users"></i>&nbsp;&nbsp;Paie salariés</a>
        </center>
        <table>
          <tr>
            <td>Campagne</td>
            <td>&nbsp;&nbsp;</td>
            <td>Période de paie 1</td>
            <td>&nbsp;&nbsp;</td>
            <td>Période de paie 2</td>
            <td>&nbsp;&nbsp;</td>
            <td>De</td>
            <td>&nbsp;&nbsp;</td>
            <td>A</td>
          </tr>
          <tr>
            <td>
              <select id="Campagne" class="form-control  input-sm selectpicker" ng-model="campagne.campagne" ng-change="campagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1"
                data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;"> Campagne ..</option>
                <option ng-repeat="campagne in pc.campagneagricole" ng-value="campagne">{{ campagne.Code }}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Periode" class="form-control  input-sm selectpicker" ng-model="periode.periode" ng-change="periode_change()" data-live-search="true" title="{{'Période' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;"> Période de paie ..</option>
                <option ng-repeat="periode in pc.periodepaies" ng-value="periode" ng-if="periode.IDsociete == pc.IDSociete && periode.compagne == campagne_sel">{{ periode.Periode | date:'dd/MM/yyyy'}}
                  {{ periode.date_debut | date:'dd/MM/yyyy'}}
                  {{ periode.Date_fin | date:'dd/MM/yyyy'}}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Periode2" class="form-control  input-sm selectpicker" ng-model="periode2.periode2" ng-change="periode2_change()" data-live-search="true" title="{{'Période' | translate}} ..." data-selected-text-format="count > 1"
                data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;"> Période de paie ..</option>
                <option ng-repeat="periode in pc.periodepaies" ng-value="periode" ng-if="periode.IDsociete == pc.IDSociete && periode.compagne == campagne_sel && periode_sel != 0">{{ periode.Periode | date:'dd/MM/yyyy'}}
                  {{ periode.date_debut | date:'dd/MM/yyyy'}}
                  {{ periode.Date_fin | date:'dd/MM/yyyy'}}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}" disabled>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}" disabled>
            </td>

          </tr>

        </table>

        <br />
        <md-button class="md-raised" ng-click="pc.rechercher()" title="{{'Rechercher' | translate}}">Rechercher</md-button><br />

        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
      <br />
    </center>
    <div class="dontshowit">
      <a class="dt-button pull-right" ng-click="pc.printExcel($e)" title="EXCEL"><i class="fa fa-file-excel-o"></i></a>
      <a class="dt-button pull-right" ng-click="pc.printPdf($e)" title="PDF"><span><i class="fa fa-print"></i></span></a>
      <a class="dt-button pull-right" ng-click="ReverseDisplay('filter_form');" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
    </div>

    <br /><br />
    <div class="table-responsive dontDisplay" id="search_div">
      <div class="dt-buttons" style="float:right ; margin-top:5px">
        <label>Rechercher: <input type="search" id="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label>
      </div>
    </div>
    <div class="flex-container" id="loadingData">
      <img src="././images/loading.gif" />
    </div>
    <div class="table-responsive" id="printThis">
      <table id="tableDataShow" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">

        <tr style="background-color: #eee">
          <th><b>Matricule</b></th>
          <th><b>CIN</b></th>
          <th><b>N°CNSS</b></th>
          <th><b>Personnel</b></th>
          <th><b>Date Nai</b></th>
          <th><b>Salaire plafonné</b></th>
          <th><b>Salaire non plafonné</b></th>
          <th><b>Cotisation AMO</b></th>
          <th><b>Cotisation CNSS</b></th>
          <th><b>NBR.j</b></th>
        </tr>

        <tr ng-repeat="AllBordoreauCnss in pc.AllBordoreauCnss" class="{{AllBordoreauCnss.matricule | TextWithoutSpace}}">
          <td style="white-space: nowrap;">{{AllBordoreauCnss.matricule}}</td>
          <td style="white-space: nowrap;">{{AllBordoreauCnss.CIN}}</td>
          <td style="white-space: nowrap;">{{AllBordoreauCnss.CNSS}}</td>
          <td style="white-space: nowrap;">{{AllBordoreauCnss.Nom + ' ' + AllBordoreauCnss.Prenom}}</td>
          <td style="white-space: nowrap;">{{AllBordoreauCnss.Dat_Nai | date:'dd/MM/yyyy'}}</td>

          <td align="right" style="white-space: nowrap;">{{AllBordoreauCnss.la_somme_base_cnss | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{AllBordoreauCnss.la_somme_base_cnss | number:2}}</td>

          <td align="right" style="white-space: nowrap;">{{AllBordoreauCnss.la_somme_Cotisation_Mutuelle | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{AllBordoreauCnss.la_somme_Cotisation_CNSS | number:2}}</td>

          <td align="right" style="white-space: nowrap;">{{AllBordoreauCnss.total_jr | number:2}}</td>
        </tr>

        <tbody>
          <tr ng-if="pc.AllBordoreauCnss.length == 0">
            <td colspan="{{12}}">
              <center><br /><br /><br /><br /><br /><br /><br /><br /><img src='././images/ic_notfound_c.png' /><br />
                <font color='#a5a5a5' size='4' style='font-family:system-ui;'><b>Sorry</b> Data Not Available, Please Check The <b>Filtre Settings</b></font>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br /><br />
  </div>

</div>