<div class="right_col" role="main">
  <div ng-controller="MainoeuvreetatsJournaldepaieCtrl as pc" class="modal-demo">
    <span class="dontshowit"> Main d’oeuvre <i class="fa fa-angle-right"></i> Edition paie <i class="fa fa-angle-right"></i> <b>Journal de paie</b></span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <center>
          <a class="btn btn-sm" class="btn btn-sm">
            <md-switch class="md-primary" md-no-ink="" aria-label="Switch No Ink" ng-model="pc.details" ng-change="onChangeDetails(pc.details)">
              Détails
            </md-switch>
          </a>
          <a class="btn btn-success btn-sm" data-toggle="happy" data-title="0" ng-click="type_change(1);" id="enjour"><i class="fa fa-calendar"></i>&nbsp;&nbsp;En Jour</a>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-sm" data-toggle="happy" data-title="1" ng-click="type_change(2);" id="enheure"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;En Heure</a>

          <a class="btn btn-info btn-sm" data-toggle="happy" data-title="0" ng-click="typepaie_change(1);" id="paie_horaire"><i class="fa fa-cube"></i>&nbsp;&nbsp;Paie horaire</a>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-sm" data-toggle="happy" data-title="1" ng-click="typepaie_change(2);" id="paie_unite"><i class="fa fa-cubes"></i>&nbsp;&nbsp;Paie à l'unité</a>
        </center>
        <table>
          <tr>
            <td>Personnel</td>
            <td>&nbsp;&nbsp;</td>
            <td>Campagne</td>
            <td>&nbsp;&nbsp;</td>
            <td>Période de paie</td>
            <td>&nbsp;&nbsp;</td>
            <td>De</td>
            <td>&nbsp;&nbsp;</td>
            <td>A</td>
          </tr>
          <tr>
            <td>
              <select id="Personnel" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="personnel.personnel" ng-change="personnel_change()" multiple data-live-search="true" title="Personnel ..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'personnel' | translate}}">
                  <option ng-repeat="personnel in pc.personnels" ng-value="personnel.ID">{{ personnel.Matricule + ' ' + personnel.Nom + ' ' + personnel.Prenom }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Campagne" class="form-control  input-sm selectpicker" ng-model="campagne.campagne" ng-change="campagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1" data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;"> Campagne ..</option>
                <option ng-repeat="campagne in pc.campagneagricole" ng-value="campagne">{{ campagne.Code }}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Periode" class="form-control  input-sm selectpicker" ng-model="periode.periode" ng-change="periode_change()" data-live-search="true" title="{{'Période' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;"> Période de paie ..</option>
                <option ng-repeat="periode in pc.periodepaies" ng-value="periode" ng-if="periode.IDsociete == pc.IDSociete && periode.compagne == campagne_sel">{{ periode.Periode | date:'dd/MM/yyyy'}} {{ periode.date_debut | date:'dd/MM/yyyy'}}
                  {{ periode.Date_fin | date:'dd/MM/yyyy'}}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

          </tr>

        </table>
        <br />
        <center>
          <a class="btn btn-warning btn-sm" data-toggle="happy" data-title="0" ng-click="cnss_change(1);" id="sanscnss"><i class="fa fa-square-o"></i>&nbsp;&nbsp;Sans CNSS</a>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-sm" data-toggle="happy" data-title="1" ng-click="cnss_change(2);" id="aveccnss"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Déclaré CNSS</a>
          <a class="btn btn-sm" data-toggle="happy" data-title="1" ng-click="cnss_change(3);" id="touscnss"><i class="fa fa-square"></i>&nbsp;&nbsp;Tout</a>

        </center>



        <md-button class="md-raised" ng-click="pc.rechercher()" title="{{'Rechercher' | translate}}">Rechercher</md-button><br />
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>

      </div>
      <br />
    </center>
    <div class="dontshowit">
      <a class="dt-button pull-right" ng-click="pc.printExcel($e)" title="EXCEL" ng-show="enjourchange == 1"><i class="fa fa-file-excel-o"></i></a>
      <a class="dt-button pull-right" ng-click="pc.printThishoraire($e)" title="EXCEL" ng-show="pc.typepaiechange == 1"><i class="fa fa-file-excel-o"></i></a>
      <a class="dt-button pull-right" ng-click="pc.printThisunite($e)" title="EXCEL" ng-show="pc.typepaiechange == 2"><i class="fa fa-file-excel-o"></i></a>
      <a class="dt-button pull-right" ng-click="ReverseDisplay('filter_form');" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
    </div>

    <br /><br />
    <div class="table-responsive dontDisplay" id="search_div">
      <div class="dt-buttons" style="float:right ; margin-top:5px">
        <label>Rechercher: <input type="search" id="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label>
      </div>
    </div>
    <div class="flex-container" id="loadingData">
      <img src="././images/loading.gif" />
    </div>
    <!--type horaire-->
    <div class="table-responsive" id="printThishoraire" ng-if="pc.typepaiechange == 1">
      <table id="paiehoraire" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">

        <tr style="background-color: #eee">
          <th><b>Mat</b></th>
          <th><b>Personnel</b></th>
          <th><b>CIN</b></th>
          <th><b>N°CNSS</b></th>
          <th ng-show="pc.detailschange" class="hide-data"><b>Date Emb.</b></th>
          <th><b>S.B</b></th>
          <th>
            <b>
              <bn ng-if="pc.enjourchange == 1">Nbr JR</bn>
              <bn ng-if="pc.enjourchange == 2">Nbr HR</bn>
            </b>
          </th>
          <th ng-show="pc.detailschange" class="hide-data"><b>J.F</b></th>
          <th ng-show="pc.detailschange" class="hide-data"><b>J.F.T</b></th>
          <th ng-show="pc.detailschange" class="hide-data"><b>H.S 25%</b></th>
          <th ng-show="pc.detailschange" class="hide-data"><b>H.S 50%</b></th>
          <th ng-show="pc.detailschange" class="hide-data"><b>H.S 100%</b></th>
          <th><b>P.S</b></th>
          <th><b>Prime Anc</b></th>
          <th><b>JC</b></th>
          <th><b>Salaire Brut</b></th>
          <th><b>Cotis CNSS</b></th>
          <th><b>Cotis AMO</b></th>
          <th><b>AMC</b></th>
          <th><b>P.N.S</b></th>
          <th><b>Remb Prêt</b></th>
          <th><b>Avance</b></th>
          <th><b>Net à payer</b></th>
          <th style="width: 100px;"><b>Emarg.</b></th>
        </tr>

        <tr ng-repeat="JournalPaie in pc.JournalPaie" class="{{JournalPaie.Mat | TextWithoutSpace}}">
          <td style="white-space: nowrap;">{{JournalPaie.Mat}}</td>
          <td style="white-space: nowrap;">{{JournalPaie.Nom + ' ' + JournalPaie.Prenom}}</td>
          <td style="white-space: nowrap;">{{JournalPaie.CIN}}</td>
          <td style="white-space: nowrap;">{{JournalPaie.CNSS}}</td>
          <td align="right" style="white-space: nowrap;" ng-show="pc.detailschange" class="hide-data">{{JournalPaie.Date_Embauche | date:'dd/MM/yyyy'}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.Salaire_Base | number:2}}</td>
          <td align="right" style="white-space: nowrap;">
            <bn ng-if="pc.enjourchange == 1">{{JournalPaie.nbre_jr | number:2}}</bn>
            <bn ng-if="pc.enjourchange == 2">{{JournalPaie.nbre_jr * pc.AllParametresPaie | number:2}}</bn>
          </td>
          <td align="right" style="white-space: nowrap;" ng-show="pc.detailschange" class="hide-data">
            <bn ng-if="pc.enjourchange == 1">{{JournalPaie.jf | number:2}}</bn>
            <bn ng-if="pc.enjourchange == 2">{{JournalPaie.jf * pc.AllParametresPaie | number:2}}</bn>
          </td>
          <td align="right" style="white-space: nowrap;" ng-show="pc.detailschange" class="hide-data">{{JournalPaie.jft | number:2}}</td>
          <td align="right" style="white-space: nowrap;" ng-show="pc.detailschange" class="hide-data">{{JournalPaie.la_somme_HS_25 | number:2}}</td>
          <td align="right" style="white-space: nowrap;" ng-show="pc.detailschange" class="hide-data">{{JournalPaie.la_somme_HS_50 | number:2}}</td>
          <td align="right" style="white-space: nowrap;" ng-show="pc.detailschange" class="hide-data">{{JournalPaie.la_somme_HS_100 | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{pc.selGetPsByPersonnel(JournalPaie.Pers_Id)[0] | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.prime_anc | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.jc | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.salaire_brut | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.Cotis_CNSS | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.Cotis_AMO | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.AMC | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{pc.selGetPsByPersonnel(JournalPaie.Pers_Id)[1] | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.remb_pret | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.avance | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaie.net_a_paye | number:2}}</td>
          <td align="right" style="white-space: nowrap;"></td>
        </tr>

        <tbody>
          <tr ng-if="pc.JournalPaie.length == 0">
            <td colspan="{{19}}">
              <center><br /><br /><br /><br /><br /><br /><br /><br /><img src='././images/ic_notfound_c.png' /><br />
                <font color='#a5a5a5' size='4' style='font-family:system-ui;'><b>Sorry</b> Data Not Available, Please Check The <b>Filtre Settings</b></font>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--type unite-->
    <div class="table-responsive" id="printThisunite" ng-if="pc.typepaiechange == 2">
      <table id="paieunite" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">

        <tr style="background-color: #eee">
          <th><b>Mat</b></th>
          <th><b>Personnel</b></th>
          <th><b>CIN</b></th>
          <th><b>N°CNSS</b></th>
          <th><b>Quantité</b></th>
          <th><b>Salaire Brut</b></th>
          <th style="width: 100px;"><b>Emargement</b></th>
        </tr>

        <tr ng-repeat="JournalPaieAUnite in pc.JournalPaieAUnite" class="{{JournalPaieAUnite.Mat | TextWithoutSpace}}">
          <td style="white-space: nowrap;">{{JournalPaieAUnite.Mat}}</td>
          <td style="white-space: nowrap;">{{JournalPaieAUnite.Nom + ' ' + JournalPaie.Prenom}}</td>
          <td style="white-space: nowrap;">{{JournalPaieAUnite.CIN}}</td>
          <td style="white-space: nowrap;">{{JournalPaieAUnite.CNSS}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaieAUnite.la_somme_Qantite | number:2}}</td>
          <td align="right" style="white-space: nowrap;">{{JournalPaieAUnite.la_somme_Cout | number:2}}</td>
          <td align="right" style="white-space: nowrap;"></td>
        </tr>

        <tbody>
          <tr ng-if="pc.JournalPaieAUnite.length == 0">
            <td colspan="{{7}}">
              <center><br /><br /><br /><br /><br /><br /><br /><br /><img src='././images/ic_notfound_c.png' /><br />
                <font color='#a5a5a5' size='4' style='font-family:system-ui;'><b>Sorry</b> Data Not Available, Please Check The <b>Filtre Settings</b></font>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br /><br />
  </div>

</div>