<div class="right_col" role="main" ng-controller="MainoeuvreetatsTableauBordCtrl as pc">

  <div class="row" id="dateRangeDiv">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">
        <center>
          <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;width:200px;">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span></span> <b class="caret"></b>
            <input type="hidden" name="" value="" ng-model="periode">
          </div>
        </center>
      </div>
    </div>
  </div>
  <!-- top tiles -->
  <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Nombre de jours pointés</span>
      <div class="count green">{{(pc.Nbr_JH_Pointe == 'NaN')?0:pc.Nbr_JH_Pointe}} <small>jour(s)</small></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> Nombre heure-sup pointés</span>
      <div class="count green">{{(pc.Nbr_Hr_Sup_Pointe == 'NaN')?0:pc.Nbr_Hr_Sup_Pointe}} <small>JH</small></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Poids heures Sup</span>
      <div class="count green">{{(pc.Poids_Heures_Sup == 'NaN')?0:pc.Poids_Heures_Sup}} <small>%</small></div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Effectif pointé</span>
      <div class="count green" id="sn">{{pc.Effectif_Pointe}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Effectif en exercice</span>
      <div class="count green">{{pc.Eff_en_exercice}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Effectif global</span>
      <div class="count green">{{pc.Eff_Globale}}</div>
    </div>
  </div>
  <!-- /top tiles -->

  <br />


  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Top Opération Chronophage</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <center id="no_data_radar">Pas de données à afficher</center>
                <canvas id="myChart" width="400" height="400" style="display:none"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- Start to do list -->
          <div class="x_panel" style="height: auto;">
            <div class="x_title">
              <h2>Jours fériés</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><i class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event" ng-repeat="jr in jour_ferier_array">
                <a class="pull-left date" ng-style="jr.Libelle=='Aujourd hui' && {'background-color':'green'} || jr.Libelle=='Jours féries récents' && {'background-color':'red'}" style="width: 90px;">
                  <p class="month">{{jr.Mois}}</p>
                  <p class="day">{{jr.Jour}}</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">{{jr.Libelle}}</a>
                  <p>{{jr.JourFerie}}</p>
                </div>
              </article>
            </div>
          </div>

          <!-- End to do list -->
        </div>
      </div>
      <br><br><br>
    </div>


    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Meilleurs Ouvriers en recolte (Top 5 )</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <center id="no_data_speedPicking">Pas de données à afficher</center>
                <div id="chartdiv" style="display:none"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>