<div class="right_col" role="main">
  <div ng-controller="BilanBilanTechniqueCtrl as pc" class="">


    <div class="breadcrumb-background-color">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-pie-chart" />
        </li>
        <li class="breadcrumb-item">
          <a> {{'Bilan' | translate}}</a>
        </li>
        <li class="breadcrumb-item" ng-if="!pc.showtable">
          <b>{{'bilan_technique' | translate}}</b>
        </li>
      </ol>
    </div>


    <!--
      <iframe  height="900px" width="100%" src="https://app.powerbi.com/view?r=eyJrIjoiZmRjN2UxODktNGEyNS00OTliLTkwOTgtYmMzNTEwZDQ3MmRlIiwidCI6ImNmZjhjY2IwLTBkNDgtNDY5Yy1hYTI1LTU1MzA1MTYyNjVmZiIsImMiOjh9&pageName=ReportSectionecdb4aacc8b8bba01712" frameborder="0"  allowFullScreen="true"></iframe>
-->
    <div style="height:950px">
      <iframe width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiMjc3M2U5MjQtYzQ1ZC00MmEzLWI4YTYtNmYwMzYwMzY5YWYxIiwidCI6ImNmZjhjY2IwLTBkNDgtNDY5Yy1hYTI1LTU1MzA1MTYyNjVmZiIsImMiOjh9&pageName=ReportSectionc2f5853b7ee92657875f"
        frameborder="0" allowFullScreen="true"></iframe>

    </div>


  </div>


</div>