<div ng-class="{'alert-success modal-header':pc.data.action == 'insert', 'alert-warning modal-header':pc.data.action != 'insert'}">
  <h3 class="modal-title" id="modal-title">
    <span ng-if="pc.data.action == 'insert'">{{pc.data.modalTitle.create}}</span>
    <span ng-if="pc.data.action != 'insert'">{{pc.data.modalTitle.update}}</span>
  </h3>
</div>
<div class="modal-body" id="modal-body" loading="pc.loading">

  <form name="operationObject" ng-submit="pc.submitForm(operationObject.$valid)" novalidate>

    <div class="form-group row">
      <label for="FermeName" class="col-sm-2 col-xs-12 col-md-2  control-label">{{pc.data.FermeName}}</label>
      <div class="col-sm-10 col-xs-12 col-md-10 ">
        <select class="form-control input-sm selectpicker" ng-init="pc.reloadSelectPickerfunction()" name="FermeName" id="FermeName" ng-model="pc.operation.IDFermes" data-live-search="true" required multiple>
          <option value="{{ferme.IDFermes}}" ng-repeat="ferme in pc.data.fermeArray" ng-selected="pc.operation.IDFermes != null && pc.operation.IDFermes.indexOf(ferme.IDFermes+'') != -1">{{ferme.Nom}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="refOperation" class="col-sm-2 col-xs-12 col-md-2  control-label">{{pc.data.refOperation}}</label>
      <div class="col-sm-10 col-xs-12 col-md-10 ">
        <input type="text" class="form-control" name="refOperation" id="refOperation" ng-model="pc.operation.OpeRef_Intitule" required>
      </div>
    </div>

    <div class="alert alert-danger row" role="alert" ng-show="pc.errPushInsert != 'Error :'">
      {{pc.errPushInsert}}
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="operationObject.$invalid">
      {{"Valider" | translate}}
    </button>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="pc.cancel()">{{"Quitter" | translate}}</button>
</div>