<div class="right_col" role="main">
  <div ng-controller="NutritionControlephecChartCtrl as pc" class="modal-demo">
    <span> {{"Nutrition" | translate}} <i class="fa fa-angle-right"></i> {{"Contrôle pH, EC" | translate}} <i class="fa fa-angle-right"></i> <b> {{"Vue graphique" | translate}} </b></span>
    <center>
      <div id="filter_form" style="display:none;">
        <div class="animated fadeIn selectpicker_widget">
          <table>
            <tr>
              <td>{{"Parcelle culturale" | translate}}(<font color="red">*</font>)</td>
              <td>&nbsp;&nbsp;</td>
              <td>{{"De" | translate}}</td>
              <td>&nbsp;&nbsp;</td>
              <td>{{"A" | translate}}</td>
              <td>&nbsp;&nbsp;</td>
              <td>&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td>
                <select id="Parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle.parcelle" ng-change="parcelle_change()" data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                  data-selected-text-format="count > 1" data-size="10">
                  <option selected disabled value="" style="background-color: #ffffff;"> {{"Parcelle culturale" | translate}} ..</option>
                  <option ng-repeat="parcellecultural in pc.parcellescultural" ng-value="parcellecultural.ID">{{ parcellecultural.Ref }}</option>
                </select>
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="pc.date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="pc.date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <md-button class="md-raised" ng-click="pc.search()" title="{{'Rechercher' | translate}}">{{"Valider" | translate}}</md-button>
              </td>

            </tr>

          </table>
          <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
        </div>
        <br />

      </div>
    </center>

    <div class="dontshowit">
      <a class="dt-button pull-right" ui-sref="controlephec" title="{{'Contrôle pH, EC' | translate}}"><i class="fa fa-list"></i></a>
      <a class="dt-button pull-right" ng-click="ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="clearfix"></div>
          <div class="x_content">
            <div id="chartdiv"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>