<div class="right_col" role="main">
  <div ng-controller="NutritionProgrammefertilisationCtrl as pc" class="modal-demo">
    <br />
    <span> {{"Nutrition" | translate}} <i class="fa fa-angle-right"></i> <b>{{"Programme de fertilisation" | translate}}</b>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i> <b>{{"Détails Programme de fertilisation" | translate}}</b></bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
    </span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>
            <td>{{"Campagne" | translate}}</td>
          </tr>
          <tr>
            <td>
              <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1" data-size="10">
                <option ng-repeat="compagne in pc.compagne_array" value="{{compagne.Code}}">{{ compagne.Code }}</option>
              </select>
            </td>
          </tr>

        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <div class="table-responsive" style="" ng-show="pc.showtable">
      <table style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>
    <div ng-show="!pc.showtable">
      <br />
      <div style="" class="overflowed">
        <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
          <thead>
            <tr>
              <th>{{"Campagne" | translate}}</th>
              <th>{{"Numéro programme" | translate}}</th>
              <th>{{"Date début" | translate}}</th>
              <th>{{"Date fin" | translate}}</th>
              <th>{{"EC" | translate}}</th>
              <th>{{"PH" | translate}}</th>
              <th>{{"Volume d'eau(L)" | translate}}</th>
            </tr>
          </thead>
          <tr>
            <td>{{ pc.programmefertilisationByID.Code }}</td>
            <td>{{ pc.programmefertilisationByID.Num_programme }}</td>
            <td>{{ pc.programmefertilisationByID.Date_debut | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.programmefertilisationByID.Date_fin | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.programmefertilisationByID.EC }}</td>
            <td>{{ pc.programmefertilisationByID.PH }}</td>
            <td>{{ pc.programmefertilisationByID.Volume_eau }}</td>
          </tr>
        </table>
      </div>
      <!--Fertigation-->
      <div id="tab_1">
        <div style="" class="overflowed">
          <fieldset>
            <legend>{{"Engrais" | translate}}</legend>
            <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
              <thead>
                <tr>
                  <th>{{"Engrais" | translate}}</th>
                  <th>{{"Quantité" | translate}}</th>
                  <th>{{"Unité" | translate}}</th>
                </tr>
              </thead>
              <tr ng-repeat="ProgrammeFertilisation in pc.ProgrammeFertilisationEngrais">
                <td>{{ProgrammeFertilisation.Designation}}</td>
                <td>{{ProgrammeFertilisation.Quantite}}</td>
                <td>{{ProgrammeFertilisation.unite}}</td>
              </tr>

              <tr ng-if="pc.SolutionMereEngrais.length == 0">
                <td colspan="3">
                  <center>No data found</center>
                </td>
              </tr>


            </table>
          </fieldset>
        </div>

      </div>

    </div>
  </div>

</div>