<div class="right_col" role="main">
  <div ng-controller="NutritionSolutionmereCtrl as pc" class="modal-demo">
    <br />
    <span> {{"Nutrition" | translate}} <i class="fa fa-angle-right"></i> <b>{{"Solution mère" | translate}}</b>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i> <b>{{"Détails Solution mère" | translate}}</b></bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
    </span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>
            <td>{{"De" | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"A" | translate}}</td>
          </tr>
          <tr>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

          </tr>

        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <div class="table-responsive" style="" ng-show="pc.showtable">
      <table style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>
    <div ng-show="!pc.showtable">
      <br />
      <div style="" class="overflowed">
        <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
          <thead>
            <tr>
              <th>{{"Date" | translate}}</th>
              <th>{{"Référence" | translate}}</th>
              <th>{{"Bloc" | translate}}</th>
              <th>{{"Bac" | translate}}</th>
              <th>{{"VI" | translate}}</th>
              <th>{{"VD the" | translate}}</th>
              <th>{{"VD Reel" | translate}}</th>
            </tr>
          </thead>
          <tr>
            <td>{{ pc.solutionmereByID.Date | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.solutionmereByID.Reference }}</td>
            <td>{{ pc.solutionmereByID.BLOCName }}</td>
            <td>{{ pc.solutionmereByID.BacName }}</td>
            <td>{{ pc.solutionmereByID.VI }}</td>
            <td>{{ pc.solutionmereByID.VD_the }}</td>
            <td>{{ pc.solutionmereByID.VD_Reel }}</td>
          </tr>
        </table>
      </div>
      <!--Fertigation-->
      <div id="tab_1">
        <div style="" class="overflowed">
          <fieldset>
            <legend>{{"Engrais" | translate}}</legend>
            <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
              <thead>
                <tr>
                  <th>{{"Engais" | translate}}</th>
                  <!--<th>Solde</th>-->
                  <th>{{"Quantité" | translate}}</th>
                  <th>{{"Unité" | translate}}</th>
                </tr>
              </thead>
              <tr ng-repeat="SolutionMereEngrais in pc.SolutionMereEngrais">
                <td>{{SolutionMereEngrais.Designation}}</td>
                <!--<td>{{SolutionMereEngrais.solde}}</td>-->
                <td>{{SolutionMereEngrais.Qantite}}</td>
                <td>{{SolutionMereEngrais.Unite}}</td>
              </tr>

              <tr ng-if="pc.SolutionMereEngrais.length == 0">
                <td colspan="4">
                  <center>No data found</center>
                </td>
              </tr>


            </table>
          </fieldset>
        </div>

      </div>

    </div>
  </div>

</div>