<div class="right_col" role="main" ng-controller="ApporteauBilanHydriqueCtrl as pc">
  <div class="modal-demo">

    <div class="breadcrumb-background-color">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <img src="../../images/water.svg" class="menu-icon" alt="" />
        </li>
        <li class="breadcrumb-item">
          <a> {{'Apport_en_eau' | translate}}</a>
        </li>
        <li class="breadcrumb-item">
          <b>{{'Bilan_hydrique' | translate}}</b>
        </li>
      </ol>
    </div>


    <center class="dontDisplay">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>
            <td>{{"Campagne" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"Culture" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"Variété" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"Porte-Greffe" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"Parcelle culturale" | translate}}</td>

            <td></td>
          </tr>
          <tr>
            <td>
              <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1"
                data-size="10">
                <option ng-repeat="compagne in pc.compagne_array" value="{{compagne.ID_compagne}}">{{ compagne.Code }}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="culture" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="culture" ng-change="pc.culture_change()" multiple data-live-search="true" title="{{'Culture' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Culture' | translate}}">
                  <option ng-repeat="culture in pc.culture_array" ng-value="culture.ID">{{ culture.Culture }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>

            <td>
              <select id="variete" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="variete" ng-change="pc.variete_change()" multiple data-live-search="true" title="{{'Variété' | translate}} ..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Variété' | translate}}">
                  <option ng-repeat="variete in pc.variete_array" ng-value="variete.id">{{ variete.Variete }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>

            <td>
              <select id="port_greff" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="port_greff" ng-change="pc.port_greff_change()" multiple data-live-search="true" title="{{'Porte-Greffe' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Porte-Greffe' | translate}}">
                  <option ng-repeat="port_greff in pc.port_greffs_array" ng-value="port_greff.IDPorte_greffe">{{ port_greff.Libile }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>

            <td>
              <select id="parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle" ng-change="pc.parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Parcelle culturale' | translate}}">
                  <option ng-repeat="parcelle in pc.parcelles_array" ng-value="parcelle.ID">{{ parcelle.Ref }}</option>
                </optgroup>
              </select>
            </td>

          </tr>
        </table>
        <br />
        <table>
          <tr>
            <td>
              De
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="pc.date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              A
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="pc.date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>

            <td><br />
              <md-button class="md-raised" ng-click="search()" title="{{'Rechercher' | translate}}" ng-disabled="pc.canSearch()">{{"Valider" | translate}}</md-button>
            </td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp; </td>
            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <!--<td>
              <center> {{"Superficie début campagne" | translate}}</center>
            </td>-->
            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <center> {{"Superficie à date" | translate}}</center>
            </td>
          </tr>
          <tr>
            <!--  <td>
              <center>
                <bn style="font-size: 22px;color: orange;" class="ng-binding">{{SupDebutCampagne[0].Sup || '0' | getNumberAsSpace}}</bn>
                <small style="padding-top:6px;">&nbsp;Ha</small>
              </center>
            </td>-->
            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <center>
                <bn style="font-size: 22px;color: green;" class="ng-binding">{{pc.superficie[0].Superficie || '0' | getNumberAsSpace}}</bn>
                <small style="padding-top:6px;">&nbsp;Ha</small>
              </center>
            </td>
          </tr>

        </table>
        <a class="btn" href="" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
      </div>
    </center>
    <br />
  </div>
  <div class="table-responsive dontDisplay">
    <div class="dt-buttons" style="float:right">
      <a class="dt-button pull-right" ui-sref="bilanConsomation" title="{{'Bilan des consommations' | translate}}"><i class="fa fa-table"></i></a>
      <a class="dt-button pull-right" ui-sref="apportEau" title="{{'Apport en eau' | translate}}"><i class="fa fa-columns"></i></a>
      <a class="dt-button pull-right" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
    </div>
  </div>


  <center>
    <div class="row tile_count">
      <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" title="Besoin calculé à partir des normes établies par variété" title-direction="bottom" fixed-position="false">
        <span class="count_top">&nbsp;Besoin recommandé</span>
        <div class="count green">
          <font size="5px">{{Besoin_eau || '0' | getNumberAsSpace}}</font>
          <font size="3px">
            <bn ng-bind-html="pc.unite"></bn>
            <bn ng-if="pc.unite != 'mm'">/ha</bn>
          </font>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" title="Besoin calculé à partir des ordres d'irrigation" title-direction="bottom" fixed-position="false">
        <span class="count_top">&nbsp;Besoin cumulé</span>
        <div class="count green">
          <font size="5px">{{besoin_recommande || '0' | getNumberAsSpace}}</font>
          <font size="3px">
            <bn ng-bind-html="pc.unite"></bn>
            <bn ng-if="pc.unite != 'mm'">/ha</bn>
          </font>
        </div>
      </div>-->

      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">&nbsp;{{"Cumul des apports" | translate}}</span>
        <div class="count green">
          <font size="5px">{{cumul_apport || '0' | getNumberAsSpace}}</font>
          <font size="3px">
            <bn ng-bind-html="pc.unite"></bn>
          </font>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">&nbsp;{{"Cumul des apports" | translate}}</span>
        <div class="count green">
          <!--pc.superficie[0].Superficie * 10 mode zaouia-->
          <font size="5px" ng-if="pc.obj.mode_irrigation == '1' || pc.obj.mode_irrigation == 1">{{cumul_apport / (pc.superficie[0].Superficie) || '0' | getNumberAsSpace}}</font>
          <font size="5px" ng-if="pc.obj.mode_irrigation == '2' || pc.obj.mode_irrigation == 2 || !pc.obj.mode_irrigation">{{cumul_apport / (pc.superficie[0].Superficie) / 10 || '0' | getNumberAsSpace}}</font>
          <font size="3px">
            <bn ng-bind-html="pc.unitem3"></bn>
            <bn ng-bind-html="pc.unitemm"></bn>
            <bn ng-if="pc.unite != 'mm'">{{pc.uniteha}}</bn>
          </font>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">&nbsp;{{"Moyen des apports" | translate}}</span>
        <div class="count ng-binding green">
          <font size="5px">-</font>
          <font size="3px">
            <bn ng-bind-html="pc.unitem3"></bn>
            <bn ng-bind-html="pc.unitemm"></bn>
          </font>
        </div>
      </div>



      <!--  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" title="Déficit/Surplus par rapport au besoin recommandé : Cumul des apports - Besoin recommandé" title-direction="bottom" fixed-position="false">
        <span class="count_top">&nbsp;Déficit/Surplus</span>
        <div class="count green">
          <font size="5px">{{cumul_apport - Besoin_eau || '0' | getNumberAsSpace}}</font>
          <font size="3px">
            <bn ng-bind-html="pc.unite"></bn>
            <bn ng-if="pc.unite != 'mm'">/ha</bn>
          </font>
        </div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> </i>Besoin recommandé</span>
      </div>




      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" title="Déficit/Surplus par rapport au besoin cumulé : Cumul des apports - Besoin cumulé" title-direction="bottom" fixed-position="false">
        <span class="count_top">&nbsp;Déficit/Surplus</span>
        <div class="count green">
          <font size="5px">{{cumul_apport - besoin_recommande || '0' | getNumberAsSpace}}</font>
          <font size="3px">
            <bn ng-bind-html="pc.unite"></bn>
            <bn ng-if="pc.unite != 'mm'">/ha</bn>
          </font>
        </div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> </i>Besoin cumulé</span>
      </div>-->
    </div>
  </center>


  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <center>
        {{"Apport journalier" | translate}}
        <bn ng-bind-html="pc.unite"></bn>
        <bn ng-if="pc.unite != 'mm'"> / ha </bn>
        <div id="chartdiv"></div>
        <center id="no_data_speedPicking_2" style="display: none;">{{"Pas de données à afficher" | translate}}</center>
      </center>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <center>
        {{"Apport mensuel" | translate}}
        <bn ng-bind-html="pc.unite"></bn>
        <bn ng-if="pc.unite != 'mm'"> / ha </bn> + {{"Cumulé" | translate}}
        <div id="chartdiv_journalier"></div>
        <center id="no_data_speedPicking_1" style="display: none;">{{"Pas de données à afficher" | translate}}</center>
      </center>
    </div>
  </div><br />.
</div>