<md-dialog aria-label="ADATA formulaire" class="" id="model" style="width:100%;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: #58aa4a;">
        <h2>{{"Extraction de pollen" | translate}}</h2>
      </div>
    </md-toolbar>


    <md-dialog-content style="background-color: #DCDCDC">

      <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="{{'Informations générales' | translate}}">

          <div class="md-dialog-content">

            <div layout="row" layout-wrap>
              <div flex-gt-sm="100" flex="">

                <div class="form-body" layout-wrap>
                  <md-content style="background-color:transparent">

                    <div class="margin-left-input" layout="row" layout-wrap flex>

                      <div flex="100" flex-gt-sm="25" layout="column">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>{{'Date' | translate}}...</label>
                          <input type="date" ng-model="DateExtraction" style="width:90%;" required>
                        </md-input-container>
                      </div>

                      <div flex="100" flex-gt-sm="25" layout="column">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>{{"Groupe Operationnels" | translate}} ...</label>
                          <md-select ng-model="GroupeOperationnelsel" style="width:90%;" ng-change="getParcellesByGO()" data-md-container-class="selectdemoSelectHeader">
                            <md-select-header class="demo-select-header">
                              <input ng-model="searchGroupeOperationnel" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="GroupeOperationnel.IDGroupeCultural_Operationnel" ng-repeat="GroupeOperationnel in GroupeOperationnels  | orderBy:'Intitule'  | filter:searchGroupeOperationnel">{{GroupeOperationnel.Intitule}}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </div>

                      <div flex="100" flex-gt-sm="25" layout="column">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>{{"Parcelles culturales" | translate}} ...</label>
                          <md-select ng-model="parcelleculturalsel" style="width:90%;" ng-change="setfoodsParcelle()" data-md-container-class="selectdemoSelectHeader">
                            <md-select-header class="demo-select-header">
                              <input ng-model="searchparcellecultural" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="parcellecultural.ID" ng-repeat="parcellecultural in parcelleculturals  | orderBy:'Ref' | filter:searchparcellecultural" ng-if="parcellecultural.Statut_Cycle == 1"
                              ng-selected="dataExtraction_Pollen.ID_ParcelleCulturale == parcellecultural.ID">{{parcellecultural.Ref}}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </div>

                      <div flex="100" flex-gt-sm="25" layout="column">
                        <md-input-container class="md-block" flex-gt-xs>
                          <label>{{"Quantité extraite (Kg)" | translate}}</label>
                          <input ng-model="dataExtraction_Pollen.Dose_Appliquee" style="width:90%;" type="number">
                        </md-input-container>
                      </div>



                    </div>


                  </md-content>
                </div>
              </div>

            </div>


          </div>
        </md-tab>

      </md-tabs>

    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
      <md-button ng-click="Annuler();" class="md-primary">
        {{'Annuler' | translate}}
      </md-button>
      <md-button ng-click="Modifer()" ng-if="!progress" ng-disabled="!letmeclick">
        {{'Modifier' | translate}}
      </md-button>
      <md-button ng-click="Fullscreen();" class="md-primary">
        {{(!Ifullscreen) ? ('Fullscreen' | translate) : ('Quitter Fullscreen' | translate)}}
      </md-button>
      <md-progress-circular md-mode="indeterminate" ng-if="progress"></md-progress-circular>
    </md-dialog-actions>
  </form>
</md-dialog>