<md-dialog aria-label="Mango (Fruit)" style="width: 70%;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'Modifier la ferme' | translate}} {{data.Nom}} </h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-wrap>
          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Code' | translate}}</label>
              <input ng-model="data.Code" style="width: 200px;" md-autofocus required>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Nom' | translate}}</label>
              <input ng-model="data.Nom" style="width: 250px;" md-autofocus required>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Gérant' |translate}}</label>
              <input ng-model="data.Gerant" style="width: 200px;">
            </md-input-container>
          </div>


          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Domaine' |translate}}</label>
              <input ng-model="data.Nom" style="width: 200px;" disabled>
            </md-input-container>
          </div>

          <!--<div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Ville</label>
              <input ng-model="data.Ville" style="width: 200px;">
            </md-input-container>
          </div>-->


          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Superficie' | translate}}</label>
              <input ng-model="data.Superficie" style="width: 200px;" type="number" required>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Superficie tracer' | translate}}</label>
              <input ng-model="suptracertracer" style="width: 250px;" id="areaHa" value="0">
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Fax' |translate}}</label>
              <input ng-model="data.Fax" style="width: 200px;" type="text">
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Tél' | translate}}</label>
              <input ng-model="data.Tel" style="width: 200px;" type="text">
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Statut foncier ...' | translate}}</label>
              <md-select ng-model="statutfoncier" style="width: 200px;">
                <md-option ng-value="1" ng-selected="data.statut_foncier == 1">{{'Domaines proores' | translate}}</md-option>
                <md-option ng-value="2" ng-selected="data.statut_foncier == 2">{{'Domaines PPP' | translate}}</md-option>
                <md-option ng-value="3" ng-selected="data.statut_foncier == 3">{{'Domaines mi' | translate}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Adresse' | translate}}</label>
              <textarea ng-model="data.Adresse" rows="3" style="width: 200px;"></textarea>
            </md-input-container>
          </div>


          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Busness unit ...' | translate}}</label>
              <md-select ng-model="busnessunit" style="width: 200px;">
                <md-option ng-value="BusinessUnitDatas.ID" ng-repeat="BusinessUnitDatas in BusinessUnitData" ng-selected="data.IDBusiness_unit == BusinessUnitDatas.ID">{{BusinessUnitDatas.Libelle}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Activité ...' | translate}} </label>
              <md-select ng-model="activite" style="width: 200px;">
                <md-option ng-value="allactivitesferme.ID" ng-repeat="allactivitesferme in allactivitesfermes" ng-selected="data.IDActivites_Fermes == allactivitesferme.ID">{{allactivitesferme.Libelle}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Pays ...' | translate}}</label>
              <md-select ng-model="Pays" style="width: 200px;" ng-change="setsearchID_Pays()">
                <md-option ng-value="Pays.ID" ng-repeat="Pays in allPays" ng-selected="data.ID_Pays == Pays.ID">{{Pays.Pays}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Région ...' | translate}}</label>
              <md-select ng-model="Region" style="width: 200px;" ng-change="setsearchID_Region()">
                <md-option ng-value="Region.ID" ng-repeat="Region in allRegion  | filter:{ 'ID_Pays': searchID_Pays }  : true" ng-selected="data.ID_Region == Region.ID">{{Region.Region}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Zone ...' |translate}}</label>
              <md-select ng-model="Zone" style="width: 200px;">
                <md-option ng-value="Zone.ID" ng-repeat="Zone in allZone  | filter:{ 'ID_Region': searchID_Region }  : true" ng-selected="data.ID_Zone == Zone.ID">{{Zone.Zone}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Altitude' | translate}}</label>
              <input ng-model="Altitude" style="width: 200px;" type="number">
            </md-input-container>
          </div>


          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Latitude' | translate}}</label>
              <input ng-model="Latitude" style="width: 250px;" value="0" id="t1" name="t1" type="number">
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Longitude' |translate}}</label>
              <input ng-model="Longitude" style="width: 250px;" value="0" id="t2" name="t2" type="number">
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Couleurs Calque' |translate}}</label>
              <input ng-model="Calque" class="jscolor" style="width: 250px;" type="text" id="Calque">
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="33" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Couleurs Cadre' | translate}}</label>
              <input ng-model="Cadre" class="jscolor" style="width: 250px;" type="text" id="Cadre">
            </md-input-container>
          </div>

          <br />
          <label class="control-label" for="basicinput"></label>
          {{'Modifier le polygone de la parcelle culturale' | translate}}
          <div id="parcellemap" style="width:100%;"></div>
          <br /><br />
          <div class="controls">
            <br />
            <input class="btn btn-danger" id="clear_shapes" value="{{'Effacer' | translate}}" type="button">

            <input class="btn btn-success blue-tooltip" id="save_raw" value="{{'Enregistrer les points' | translate}}" type="button" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title=""
              data-original-title="{{'Enregistrer votre polygone sous forme des points (latitudes, longitudes)' | translate}}">
          </div><br /><br />

          <textarea type="text" id="data" value="" ng-model="tokenpolygone" style="display:none;" name="fermetoken" pattern=".{3,}"></textarea>


        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
      <md-button ng-click="Annuler();" class="md-primary">
        {{'Annuler' | translate}}
      </md-button>
      <md-button ng-click="Modifier()">
        {{'Modifier' | translate}}
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
