<md-dialog aria-label="Mango (Fruit)" style="width: 600px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'Modifier une culture' | translate}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-wrap>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Famille de culture' | translate}} ...</label>
              <md-select ng-model="FamilleCulture" style="width:90%;" required>
                <md-option ng-value="familleculture" ng-repeat="familleculture in famillecultures" ng-selected="data.IdFamille_Culture == familleculture.IDFamille_Culture">{{familleculture.Nom_Famille}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Référence culture' | translate}}</label>
              <input ng-model="data.Reference" type="text" md-autofocus style="width: 250px;">
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Désignation culture' | translate}}</label>
              <input ng-model="data.Culture" type="text" style="width: 250px;" required>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container>
              <label>{{'Domaines' | translate}} ...</label>
              <md-select ng-model="selectedDomaines" multiple style="width: 250px;" required>
                <md-option ng-value="domaine.IDFermes" ng-repeat="domaine in domaines" ng-selected="data.FermeID.indexOf(domaine.IDFermes) !== -1">{{domaine.Nom}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column" ng-show="FamilleCulture.filier == 3">
            <md-input-container>
              <label>{{'Génération' | translate}} ...</label>
              <md-select ng-model="selectedGeneration" multiple style="width: 250px;">
                <md-option ng-value="generation.IDGeneration" ng-repeat="generation in generations" ng-selected="data.GenerationID.indexOf(generation.IDGeneration) !== -1 && data.GenerationID.length>0">{{generation.genereation}}</md-option>
              </md-select>
            </md-input-container>
          </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
      <md-button ng-click="AnnulerCulture();" class="md-primary">
        {{'Annuler' | translate}}
      </md-button>
      <md-button ng-click="ModiferCulture()" ng-if="!progress">
        {{'Modifer' | translate}}
      </md-button>
      <md-progress-circular md-mode="indeterminate" ng-if="progress"></md-progress-circular>
    </md-dialog-actions>

  </form>
</md-dialog>