<div class="right_col" role="main">
  <div ng-controller="OperationsclesEclaircissagedesregimesmapCtrl as pc" class="modal-demo">
    <span> {{"Opérations clés" | translate}} <i class="fa fa-angle-right"></i> {{"Eclaircissage des régimes" | translate}} <i class="fa fa-angle-right"></i> <b>{{"Vue cartographique" | translate}}</b></span>
    <br />
    <div class="dontshowit ">
      <a class="dt-button pull-right" ui-sref="eclaircissagedesregimes" title="{{'Eclaircissage des régimes' | translate}}"><i class="fa fa-list"></i></a>
    </div>
    <br /><br />
    <div id="map"></div>
    <br /><br />
    <div id="filterDev" class="animated fadeIn" style="display:none;">
      <br />
      <table style="border-collapse: collapse;">
        <tr>
          <td>
            <font color="#ffffff">{{"De" | translate}}</font>
          </td>
          <td></td>
          <td>
            <font color="#ffffff">{{"A" | translate}}</font>
          </td>
        </tr>
        <tr>
          <td>
            <input id="debut" type="date" class="" ng-model="debut" ng-change="date_debut_change()" max="{{current_date | date:'yyyy-MM-dd'}}" style="width:150px;height:35px;" onkeypress="return false">
          </td>
          <td>
            &nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <input id="date_fin" type="date" class="" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}" style="width:150px;height:35px;" onkeypress="return false">
          </td>
        </tr>
      </table>
    </div>

    <div id="infoparcelle" style="display:none;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;width:250px;">

        <h5 class="badge-orange-squar">&nbsp<font color="#ffffff" size="2px">{{"Parcelle infos" | translate}}</font>
        </h5>


        <table class="w3-table w3-striped">
          <tr>
            <td style=""><small>{{"Référence" | translate}}</small></td>
            <td style=""><small>
                <bn id="ref"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{"Superficie" | translate}}</small></td>
            <td style="text-align:right; "><small>
                <bn id="superficie"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{"Position" | translate}}</small></td>
            <td style=""><small>
                <bn id="Position"></bn>
              </small></td>
          </tr>
        </table>


      </div>
      <br />
    </div>

    <div id="infoPiege" style="display:none;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;width:250px;">

        <h5 class="badge-orange-squar">&nbsp<font color="#ffffff" size="2px">{{"Arbre infos" | translate}}</font>
        </h5>

        <table class="w3-table w3-striped">
          <tr>
            <td style=""><small>{{"Code" | translate}}</small></td>
            <td style=""><small>
                <bn id="Code"></bn>
              </small></td>
          </tr>
          <tr>
            <td style=""><small>{{"Position" | translate}}</small></td>
            <td style=""><small>
                <bn id="PositionArbre"></bn>
              </small></td>
          </tr>
        </table>


      </div>
      <br />
    </div>

    <div id="legend" style="display:none;" class="animated fadeIn">
      <div class="font-map" style="background-color: rgb(255, 255, 255);color:#000000;">
        <table class="w3-table w3-striped">
          <tr>
            <td style=""><IMG src="././images/yellow-circle.png" width="15" height="15" /></td>
            <td style=""><small>{{"Arbre éclaircis" | translate}}</small></td>
            <td style=""><small>&nbsp;&nbsp;&nbsp;&nbsp;</small></td>
          </tr>
        </table>
      </div>
      <br />
    </div>

  </div>
</div>