<div class="right_col" role="main">
  <div ng-controller="OperationsclesRecoltepollensyntheseCtrl as pc" class="modal-demo">
    <span> {{"Opérations clés" | translate}} <i class="fa fa-angle-right"></i> {{"Récolte du pollen" | translate}} <i class="fa fa-angle-right"></i> <b> {{"Vue synthétique" | translate}} </b></span>
    <center>
      <div id="filter_form" style="display:none;">
        <div class="animated fadeIn selectpicker_widget">
          <table>
            <tr>
              <td>{{"Parcelle culturale" | translate}}</td>
              <td>&nbsp;&nbsp;</td>
              <td>{{"De" | translate}}</td>
              <td>&nbsp;&nbsp;</td>
              <td>{{"A" | translate}}</td>
              <td>&nbsp;&nbsp;</td>
              <td>&nbsp;&nbsp;</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <select id="Parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle.parcelle" ng-change="parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                  data-selected-text-format="count > 1" data-size="10">
                  <option selected disabled value="" style="background-color: #ffffff;"> {{"Parcelle culturale" | translate}} ..</option>
                  <option ng-repeat="parcellecultural in pc.parcellescultural" ng-value="parcellecultural.ID">{{ parcellecultural.Ref }}</option>
                </select>
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
              </td>
              <td>
                <md-button class="md-raised" ng-click="pc.search()" title="{{'Rechercher' | translate}}">{{"Valider" | translate}}</md-button>
              </td>

            </tr>

          </table>
          <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
        </div>
        <br />

      </div>
    </center>

    <div class="dontshowit">
      <a class="dt-button pull-right" ui-sref="recoltepollenmap" title="{{'Vue cartographique' | translate}}"><i class="fa fa-map-marker"></i></a>
      <a class="dt-button pull-right" ui-sref="recoltepollen" title="{{'Récolte du pollen' | translate}}"><i class="fa fa-list"></i></a>
      <a class="dt-button pull-right" ng-click="exportData('excel')" title="EXCEL"><i class="fa fa-file-excel-o"></i></a>
      <a class="dt-button pull-right" ng-click="exportData('pdf')" title="PDF"><i class="fa fa-file-pdf-o"></i></a>
      <a class="dt-button pull-right" ng-click="print()" title="{{'Imprimer' | translate}}"><i class="fa fa-print"></i></a>
      <a class="dt-button pull-right" ng-click="ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
    </div>
    <br /><br />
    <div id="wdr-component"></div>
  </div>

</div>