<div ng-controller="ConfigurationAttachementParcellesVAttachementParcellesCulturaleCtrl as vm">
    <div class="grid-column-container" >

        <div id="grid1" class="grid  fade-in">
                  <div class="form-header" >
                    <h2 class="form-title">Infomrations Sur La Parcelle Culturuale</h2>
                    <p class="form-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique eleifend arcu, velar ipsum</p>
                  </div>

                  <md-content class="form-content" >

                    <!-- Row 1 -->


                    <div style="margin-bottom: 1.6rem;" class="form-row " >
                        <md-input-container class="form-input" >
                            <label>Ferme</label>
                            <md-select name="IDFermes" ng-model="vm.formData.IDFermes" ng-change="get_parcelle()" data-md-container-class="selectdemoSelectHeader" required>
                              <md-select-header class="demo-select-header">
                                <input ng-model="search_str" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                              </md-select-header>
                              <md-option ng-value="data_ferme.IDFermes" ng-repeat="data_ferme in vm.data_ferme | orderBy:'Nom' | filter:search_str"
                                >{{data_ferme.Nom}}
                               </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="form-input" >
                            <label>Parcelle Physique</label>
                            <md-select name="IDFermes" ng-model="vm.formData.IDParcelle"  data-md-container-class="selectdemoSelectHeader" required>
                              <md-select-header class="demo-select-header">
                                <input ng-model="search_data_parcelle" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                              </md-select-header>
                              <md-option ng-value="data_parcelle.ID" ng-repeat="data_parcelle in vm.data_parcellebyFarm | orderBy:'Ref' | filter:search_data_parcelle"
                                >{{data_parcelle.Ref}}
                               </md-option>
                            </md-select>
                        </md-input-container>

                    </div>


                    <div style="margin-bottom: 1.6rem;" class="form-row " >
                        <md-input-container class="form-input">
                            <label>Ref</label>
                            <input type="text" ng-model="vm.formData.Ref"   required>
                          </md-input-container>

                          <md-input-container class="form-input">
                              <label>Référence</label>
                              <input type="text" ng-model="vm.formData.Reference"   required>
                            </md-input-container>

                    </div>

                    <div style="margin-bottom: 1.6rem;" class="form-row " >
                      <md-input-container class="form-input">
                          <label>Groupe culturale</label>
                          <input type="text" ng-model="vm.formData.Groupe_culturale"   required>
                        </md-input-container>

                        <md-input-container class="form-input">
                          <label>Superficie (ha)</label>
                          <input type="number" ng-model="vm.formData.Sup" ng-pattern="/^(?!0*(\.0+)?$)\d+(\.\d+)?$/" class="number_right" required>
                        </md-input-container>

                    </div>

<bn ng-show="vm.form_par" class="expandable-section" ng-class="{'expanded': vm.form_par}">
                    <div style="margin-bottom: 1.6rem;" class="form-row " >

                      <md-input-container class="form-input" >
                          <label>Variété</label>
                          <md-select ng-model="vm.formData.IDVariete"  data-md-container-class="selectdemoSelectHeader" required>
                            <md-select-header class="demo-select-header">
                              <input ng-model="search_IDVariete" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="data_variete.ID" ng-repeat="data_variete in vm.data_variete | orderBy:'Variete' | filter:search_IDVariete"
                              >{{data_variete.Variete}}
                             </md-option>
                          </md-select>
                      </md-input-container>

                      <md-input-container class="form-input" >
                          <label>Produit Rendement</label>
                          <md-select name="IDFermes" ng-model="vm.formData.IDProduit_Rendement"  data-md-container-class="selectdemoSelectHeader" >
                            <md-select-header class="demo-select-header">
                              <input ng-model="search_data_Produit_Rendement" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="data_Produit_Rendement.IDProduit_Rendement" ng-repeat="data_Produit_Rendement in vm.data_Produit_Rendement | orderBy:'Ref_technique' | filter:search_data_Produit_Rendement"
                              >{{data_Produit_Rendement.Ref_technique}} {{data_Produit_Rendement.designation}}
                             </md-option>
                          </md-select>
                      </md-input-container>

                      <md-input-container class="form-input" >
                          <label>Profile Production</label>
                          <md-select name="id_bdg_profil_production" ng-model="vm.formData.id_bdg_profil_production" data-md-container-class="selectdemoSelectHeader" >
                            <md-select-header class="demo-select-header">
                              <input ng-model="search_strpROFILE" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="data_profilProduction.id_bdg_profil_production" ng-repeat="data_profilProduction in vm.data_profilProduction | orderBy:'designation' | filter:search_strpROFILE"
                              >{{data_profilProduction.designation}}
                             </md-option>
                          </md-select>
                      </md-input-container>

                   </div>

                    <div style="margin-bottom: 1.6rem;" class="form-row ">

                      <md-input-container class="form-input" >
                          <label>Mode de plantation</label>
                          <md-select name="IDFermes" ng-model="vm.formData.Type_plant"  data-md-container-class="selectdemoSelectHeader" required>
                            <md-select-header class="demo-select-header">
                              <input ng-model="search_Type_plant" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="data_search_Type_plant.ID" ng-repeat="data_search_Type_plant in vm.data_search_Type_plant | orderBy:'Nom' | filter:search_Type_plant"
                              >{{data_search_Type_plant.name}}
                             </md-option>
                          </md-select>
                      </md-input-container>

                      <md-input-container class="form-input">
                          <label>Géneration</label>
                          <input type="text" ng-model="vm.formData.Generation"   >
                        </md-input-container>

                    </div>



                    <div style="margin-bottom: 1.6rem;" class="form-row " >



                        <md-input-container class="form-input" >
                            <label>Date de plantation</label>
                            <input type="date" ng-model="vm.formData.Dat_Plant" required>
                          </md-input-container>


                          <md-input-container class="form-input">
                              <label>Date prévue de récolte</label>
                              <input type="date" ng-model="vm.formData.Date_prevu_recolte"   >
                            </md-input-container>

                    </div>

                    <div style="margin-bottom: 1.6rem;" class="form-row " >



                        <md-input-container class="form-input" >
                            <label>Date début de travaux</label>
                            <input type="date" ng-model="vm.formData.Date_Previsionnelle" required>
                        </md-input-container>

                        <md-input-container class="form-input">
                            <label>Nombre de plants réels</label>
                            <input type="number" ng-model="vm.formData.Nbre_plant"  class="number_right" >
                          </md-input-container>

                    </div>

                    <div style="margin-bottom: 1.6rem;" class="form-row " >



                        <md-input-container class="form-input">
                          <label>Nombre de plants théoriques</label>
                          <input type="number" ng-model="vm.formData.Nbr_plant_therique"  class="number_right" >
                        </md-input-container>

                        <md-input-container class="form-input">
                            <label>Nombre de plants manquants</label>
                            <input type="text" ng-model="vm.formData.NBr_manquants"   >
                          </md-input-container>

                    </div>

                    <div style="margin-bottom: 1.6rem;" class="form-row " >



                        <md-input-container class="form-input">
                          <label>Ecartement</label>
                          <input type="text" ng-model="vm.formData.Ecartement"  required>
                        </md-input-container>

                        <md-input-container class="form-input">
                            <label>Densité</label>
                            <input type="number" ng-model="vm.formData.Densite"  class="number_right"  required>
                          </md-input-container>


                    </div>

                    <div style="margin-bottom: 1.6rem;" class="form-row " >



                        <md-input-container class="form-input">
                          <label>Surgreffée <font size="0.9px"> (Non / Oui)</font></label>
                              <md-switch ng-model="vm.formData.surgreffee" style="width:90%;" aria-label="Switch 2" ng-true-value="1" ng-false-value="0" class="md-warn">
                                {{ (vm.formData.surgreffee == 0) ? 'Non' : 'Oui'}}
                              </md-switch>
                        </md-input-container>

                        <md-input-container class="form-input" >
                            <label>Porte-Greffe</label>
                            <md-select name="IDFermes" ng-model="vm.formData.IDPorte_greffe"  data-md-container-class="selectdemoSelectHeader" >
                              <md-select-header class="demo-select-header">
                                <input ng-model="search_Greffer" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                              </md-select-header>
                              <md-option ng-value="data_Greff.IDPorte_greffe" ng-repeat="data_Greff in vm.data_Greffe | orderBy:'Libile' | filter:search_Greffer"
                                >{{data_Greff.Libile}}
                               </md-option>
                            </md-select>
                        </md-input-container>

                    </div>

                    <div style="margin-bottom: 1.6rem;" class="form-row " >

                      <md-input-container class="form-input">
                          <label>Mode d'application</label>
                          <input type="text" ng-model="vm.formData.Mode_Application"   >
                        </md-input-container>

                      <md-input-container class="form-input">
                          <label>Date entrée en production</label>
                          <input type="date" ng-model="vm.formData.Date_debut_prouduction"   >
                        </md-input-container>


                     </div>

                    <div style="margin-bottom: 1.6rem;" class="form-row " >


                    <md-input-container class="form-input" >
                          <label>Date plein production</label>
                        <input type="date" ng-model="vm.formData.Date_pleine_production" >
                    </md-input-container>

                      <md-input-container class="form-input">
                          <label>Date fin de récolte</label>
                          <input type="date" ng-model="vm.formData.Date_fin_recolte">
                        </md-input-container>



                    </div>

                      <div  class="form-row " >
                        <md-input-container class="form-input">
                            <label>Date d'arrachage</label>
                            <input type="date" ng-model="vm.formData.Dat_Arrach">
                          </md-input-container>
                      </div>
                   </bn>

                    <div class="form-actions" style="margin-bottom: 15px;" ng-if="vm.form_par">
                      <md-button class="md-raised md-primary custom-reset-button" ng-click="vm.reset()">
                        Reset
                      </md-button>

                      <md-button class="md-raised md-primary custom-button"  ng-click="(vm.formData.ID) ? vm.modifier() : vm.ajouter()">
                        {{(vm.formData.ID) ? 'Modifier': 'Ajouter'}}
                      </md-button>


                    </div>

                    <div class="form-actions" style="margin-bottom: 15px;" >
                      <md-button class="md-raised md-primary custom-reset-button" ng-click="vm.hideshow_form_par()">
  <span ng-if="vm.form_par" style="display: block; transform: rotate(90deg);">
    &lt;
  </span>
  <span ng-if="!vm.form_par" style="display: block; transform: rotate(-90deg);">
    &lt;
  </span>
  <span ng-if="vm.form_par"> Expand</span>
  <span ng-if="!vm.form_par"> Reduce</span>
</md-button>

                    </div>


                  </md-content>

                </div>

                <div id="grid2" class="grid  fade-in">

                  <div class="form-header">
                    <h2 class="form-title">Importation En Masse ?</h2>
                    <p class="form-subtitle">Suivez les étapes indiquées ci-dessous afin d'assurer une bonne configuration de
                      votre compte</p>
                  </div>


                  <div class="centered-card hover_card" ng-if="!vm.isFileSelected" layout="column"
                    style="padding: 40px;background: #F8F8F9;border: 1px dashed #ccc;cursor: pointer;border-radius: 5px;"
                    ngf-drop="onDrop($files)" ng-click="triggerFileInput()">
                    <input type="file" id="fileInput" ngf-select="onFileSelected($file)" style="display: none;">


                    <img src="././images/main_configuration/file.svg" alt="time"
                      style="width: 20px; height: 20px; margin-right: 5px;">


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      Drop your file here, or <font color="#81BB26">browse</font>
                    </p>
                  </div>


                  <div class="centered-card " ng-if="vm.isFileSelected" layout="column"
                    style="padding: 40px;background: #F8F8F9;border: 1px dashed rgb(129 187 38);">



                    <img src="././images/main_configuration/file.svg" alt="time"
                      style="width: 20px; height: 20px; margin-right: 5px;">


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      Well uploaded
                    </p>
                  </div>

                  <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                      <p style="padding-left: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                        Supported formats: XLS, XLSX</p>
                    </div>
                    <p style="padding-right: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                      Maximum
                      size: 25MB</p>
                  </div>

                  <md-card class="card" layout="column" style="padding: 10px; background: #c2c5c7;" ng-if="vm.isFileSelected">

                    <div layout="row" layout-align="space-between center">

                      <div layout="row">
                        <img src="././images/main_configuration/file.svg" alt="file-icon"
                          style="margin-right: 10px;">

                        <div layout="column" style="line-height: 1.2;">
                          <h3 style="font-size: 10px;">
                            {{vm.fileName}}
                          </h3>
                          <p style="color: #63675d; font-family: Poppins; font-size: 10px; margin: 0;">
                            {{vm.fileSize}}
                          </p>
                        </div>
                      </div>


                      <p style="margin: 0;" ng-click="vm.delete_file()">
                        <img src="././images/main_configuration/close.svg" alt="close"
                          style="width: 20px; height: 20px; cursor: pointer;">
                      </p>
                    </div>
                  </md-card>

                  <div class="form-actions">
                    <md-button class="md-raised md-primary custom-reset-button" style=" min-width:50%" ng-click="vm.gen_canvas()">
                        Paramétre Canvas
                    </md-button>

                    <md-button class="md-raised md-primary custom-button" style=" min-width:50%" ng-click="vm.integer()">
                        Intégrer
                    </md-button>
                  </div>



                  <md-card flex class="card_form_multi">
















                  </md-card>
                </div>
              </div>

              <div id="grid4" class="grid">
                <!--Table-->
                <div class="info-header unified_pad">
                  <h2 class="form-title" >Parcelles Physiques Ajoutées ({{vm.data_parcelleCul.length}})</h2>
                  <p class="form-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique
                    eleifend arcu, velar ipsum, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique
                    eleifend arcu, velar ipsum</p>
                </div>



                <div class="warn-header unified_pad fadeInOut_err" ng-if="vm.updateSelectedCount()>0">
                  <h2 class="warn-title">Checked items to delete ({{vm.updateSelectedCount()}})
                    <md-button class="md-raised md-warn delete-button pull_right" ng-click="vm.multiDelete()">
                      DELETE {{vm.updateSelectedCount()}} item(s)
                    </md-button>
                  </h2>
                </div>


                  <div class="warn-header unified_pad fadeInOut_err" ng-if="vm.errData.err">
                    <h2 class="warn-title"> Err File :

                        <p style="  white-space: pre-line;padding-left: 21px" ng-bind-html="vm.errData.message"></p>

                    </h2>
                  </div>




                <div class="info-header unified_pad" id="tablescroll">
                  <table style="background-color: white; display: table;"  datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                    dt-instance="vm.dtInstance"  class="table table-striped table-sm table-responsive-sm table-hover jambo_table bulk_action">
                  </table>
                </div>

              </div>
</div>
