<div ng-controller="ConfigurationAttachementParcellesVAttachementParcellesPhisiqueCtrl as vm">
    <div class="grid-column-container" >

        <div id="grid1" class="grid  fade-in">
                  <div class="form-header" >
                    <h2 class="form-title">Infomrations Sur La Parcelle Culturuale</h2>
                    <p class="form-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique eleifend arcu, velar ipsum</p>
                  </div>

                  <md-content class="form-content">

                    <!-- Row 1 -->


                    <div class="form-row tiny-space sotiny">
                        <md-input-container class="form-input" >
                            <label>Ferme</label>
                            <md-select ng-model="vm.formData.IDFermes"  data-md-container-class="selectdemoSelectHeader" required>
                              <md-select-header class="demo-select-header">
                                <input ng-model="search_str" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                              </md-select-header>
                              <md-option ng-value="data_ferme.IDFermes" ng-repeat="data_ferme in vm.data_ferme | orderBy:'Nom' | filter:search_str"
                                >{{data_ferme.Nom}}
                               </md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    <div class="form-row tiny-space " style="margin-bottom: 0rem !important;">
                        <md-input-container class="form-input">
                            <label>Réference Technique</label>
                            <input type="text" ng-model="vm.formData.Reference"   required>
                          </md-input-container>
                    </div>

                    <div class="form-row" style="margin-bottom: 0rem !important;">
                        <md-input-container class="form-input">
                            <label>Parcelle Physique</label>
                            <input type="text" ng-model="vm.formData.Ref"  required>
                          </md-input-container>
                    </div>


                    <div class="form-row" style="margin-bottom: 0rem !important;">
                <md-input-container class="form-input">
                  <label>Superficie (ha)</label>
                  <input type="number" ng-model="vm.formData.Sup" ng-pattern="/^(?!0*(\.0+)?$)\d+(\.\d+)?$/" class="number_right" required>
                </md-input-container>

              </div>

                    <div class="form-row tiny-space sotiny">


                        <md-input-container class="form-input" >
                            <label>Type Parcelle</label>
                            <md-select ng-model="vm.formData.Type"  data-md-container-class="selectdemoSelectHeader" required>
                              <md-select-header class="demo-select-header">
                                <input ng-model="searchfilier" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                              </md-select-header>
                              <md-option ng-value="types.id" ng-repeat="types in vm.types | orderBy:'name' | filter:searchfilier"
                              >{{types.name}}
                              </md-option>
                            </md-select>
                        </md-input-container>


                    </div>


                    <div class="form-actions">
                      <md-button class="md-raised md-primary custom-reset-button" ng-click="vm.reset()">
                        Reset
                      </md-button>

                      <md-button class="md-raised md-primary custom-button"  ng-click="(vm.formData.ID) ? vm.modifier() : vm.ajouter()">
                        {{(vm.formData.ID) ? 'Modifier': 'Ajouter'}}
                      </md-button>
                    </div>

                  </md-content>

                </div>

                <div id="grid2" class="grid  fade-in">

                  <div class="form-header">
                    <h2 class="form-title">Importation En Masse ?</h2>
                    <p class="form-subtitle">Suivez les étapes indiquées ci-dessous afin d'assurer une bonne configuration de
                      votre compte</p>
                  </div>


                  <div class="centered-card hover_card" ng-if="!vm.isFileSelected" layout="column"
                    style="padding: 40px;background: #F8F8F9;border: 1px dashed #ccc;cursor: pointer;border-radius: 5px;"
                    ngf-drop="onDrop($files)" ng-click="triggerFileInput()">
                    <input type="file" id="fileInput" ngf-select="onFileSelected($file)" style="display: none;">


                    <img src="././images/main_configuration/file.svg" alt="time"
                      style="width: 20px; height: 20px; margin-right: 5px;">


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      Drop your file here, or <font color="#81BB26">browse</font>
                    </p>
                  </div>


                  <div class="centered-card " ng-if="vm.isFileSelected" layout="column"
                    style="padding: 40px;background: #F8F8F9;border: 2px dashed rgb(129 187 38);">



                    <img src="././images/main_configuration/file.svg" alt="time"
                      style="width: 20px; height: 20px; margin-right: 5px;">


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      Well uploaded
                    </p>
                  </div>

                  <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                      <p style="padding-left: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                        Supported formats: XLS, XLSX</p>
                    </div>
                    <p style="padding-right: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                      Maximum
                      size: 25MB</p>
                  </div>

                  <md-card class="card" layout="column" style="padding: 10px; background: #c2c5c7;" ng-if="vm.isFileSelected">

                    <div layout="row" layout-align="space-between center">

                      <div layout="row">
                        <img src="././images/main_configuration/file.svg" alt="file-icon"
                          style="width: 20px; height: 20px; margin-right: 5px;">

                        <div layout="column" style="line-height: 1.2;">
                          <h3 style="font-size: 14px;">
                            {{vm.fileName}}
                          </h3>
                          <p style="color: #63675d; font-family: Poppins; font-size: 10px; margin: 0;">
                            {{vm.fileSize}}
                          </p>
                        </div>
                      </div>


                      <p style="margin: 0;" ng-click="vm.delete_file()">
                        <img src="././images/main_configuration/close.svg" alt="close"
                          style="width: 20px; height: 20px; cursor: pointer;">
                      </p>
                    </div>
                  </md-card>

                  <div class="form-actions">
                    <md-button class="md-raised md-primary custom-reset-button" style=" min-width:50%" ng-click="vm.gen_canvas()">
                        Paramétre Canevas
                    </md-button>

                    <md-button class="md-raised md-primary custom-button" style=" min-width:50%" ng-click="vm.integer()">
                        Intégrer
                    </md-button>
                  </div>



                  <md-card flex class="card_form_multi">
















                  </md-card>
                </div>
              </div>

              <div id="grid4" class="grid">
                <!--Table-->
                <div class="info-header unified_pad">
                  <h2 class="form-title" >Parcelles Physiques Ajoutées ({{vm.data_parcelle.length}})</h2>
                  <p class="form-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique
                    eleifend arcu, velar ipsum, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique
                    eleifend arcu, velar ipsum</p>
                </div>



                <div class="warn-header unified_pad fadeInOut_err" ng-if="vm.updateSelectedCount()>0">
                  <h2 class="warn-title">Checked items to delete ({{vm.updateSelectedCount()}})
                    <md-button class="md-raised md-warn delete-button pull_right" ng-click="vm.multiDelete()">
                      DELETE {{vm.updateSelectedCount()}} item(s)
                    </md-button>
                  </h2>
                </div>


                  <div class="warn-header unified_pad fadeInOut_err" ng-if="vm.errData.err">
                    <h2 class="warn-title"> This a One by one row to fix :
                      <ul>
                        <li>{{vm.errData.message}}</li>
                      </ul>
                    </h2>
                  </div>




                <div class="info-header unified_pad" id="tablescroll">
                  <table style="background-color: white; display: table;"  datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                    dt-instance="vm.dtInstance"  class="table table-striped table-sm table-responsive-sm table-hover jambo_table bulk_action">
                  </table>
                </div>

              </div>
</div>
