<div class="right_col" role="main" ng-controller="ChutePhysiologiqueSuiviDeLaChuteParFruitsEtatGraphCtrl as pc">
  <div class="modal-demo">
    <span> {{'Suivi de la chute physiologique' | translate}} <i class="fa fa-angle-right"></i> {{'Suivi de la chute (Filet)' | translate}} <i class="fa fa-angle-right"></i> <b>{{'Vue graphique' | translate}}</b></span>

    <center class="dontDisplay">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>

            <td>{{"Culture" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"Variété" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"Porte-Greffe" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"Parcelle culturale" | translate}}</td>

            <td></td>
          </tr>
          <tr>

            <td>
              <select id="culture" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="culture" ng-change="pc.culture_change()" multiple data-live-search="true" title="{{'Culture' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Culture' | translate}}">
                  <option ng-repeat="culture in pc.culture_array" ng-value="culture.ID">{{ culture.Culture }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>

            <td>
              <select id="variete" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="variete" ng-change="pc.variete_change()" multiple data-live-search="true" title="{{'Variété' | translate}} ..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Variété' | translate}}">
                  <option ng-repeat="variete in pc.variete_array" ng-value="variete.id">{{ variete.Variete }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>

            <td>
              <select id="port_greff" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="port_greff" ng-change="pc.port_greff_change()" multiple data-live-search="true" title="{{'Porte-Greffe' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Porte-Greffe' | translate}}">
                  <option ng-repeat="port_greff in pc.port_greffs_array" ng-value="port_greff.IDPorte_greffe">{{ port_greff.Libile }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>

            <td>
              <select id="parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle" ng-change="pc.parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Parcelle culturale' | translate}}">
                  <option ng-repeat="parcelle in pc.parcelles_array" ng-value="parcelle.ID">{{ parcelle.Ref }}</option>
                </optgroup>
              </select>
            </td>

          </tr>
        </table>
        <br />
        <table>
          <tr>
            <td>
              De
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="pc.date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              A
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="pc.date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>

            <td><br />
              <md-button class="md-raised" ng-click="search()" title="{{'Rechercher' | translate}}" ng-disabled="pc.canSearch()">{{"Valider" | translate}}</md-button>
            </td>
          </tr>

        </table>
        <a class="btn" href="" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
      </div>
    </center>
    <br />
  </div>
  <div class="table-responsive dontDisplay">
    <div class="dt-buttons" style="float:right">

      <a class="dt-button pull-right" ui-sref="Suivi_de_la_chute_par_fruits" title="{{'Suivi_de_la_chute_par_fruits' | translate}}"><i class="fa fa-columns"></i></a>
      <a class="dt-button pull-right" ui-sref="suivi_de_la_chute_par_fruits_etat" title="{{'Vue synthétique' | translate}}"><i class="fa fa-table"></i></a>
      <a class="dt-button pull-right" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
    </div>
  </div>



  <div id="chartdiv_chutte_day"></div>

  <br /> <br /> <br /> <br /><br /> <br /> <br /> <br /><br /> <br /> <br /> <br /><br /> <br /> <br /> <br /><br /> <br /> <br /> <br /><br /> <br /> <br />
</div>