<div class="right_col" role="main">
    <div ng-controller="RepositoryBaremesCtrl as pc" class="modal-demo">
      <span class="dontshowit">{{'Paramétrage barèmes' | translate}} </span>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i>
        <b>{{"Détails" | translate}}</b>
      </bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
      
      <center class="dontDisplay">
        <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
  
          <table>
            <tr>
              <td>Type variété</td>
            <tr>
              <td>
                <select id="typevariete" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="typevariete" ng-change="pc.typevariete_change()" multiple data-live-search="true" title="Type variété ..."
                  data-selected-text-format="count > 1" data-size="10">
                  <optgroup label="Type variété ...">
                    <option ng-repeat="all_typevariete in pc.all_typevariete" ng-value="all_typevariete.IDFamille_variete">{{ all_typevariete.Libile }}</option>
                  </optgroup>
                </select>
              </td> 
            </tr>
          </table>
          <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
        </div>
      </center>
      <div class="table-responsive" ng-show="pc.showtable">
        <table style="background-color: white" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm jambo_table bulk_action">
        </table>
      </div>
  
      <div ng-show="!pc.showtable">
        <br />
        <div style="" class="overflowed">
          <table style="background-color: white" class="table table-striped table-sm table-responsive-sm table-hover jambo_table bulk_action">
            <thead>
              <tr>
                <th>Référence</th>
                <th>Date de création</th>
                <th>Type de variété</th>
              </tr>
            </thead>
            <tr>
              <td>{{ pc.baremeByID.reference }}</td>
              <td>{{ pc.baremeByID.datecreated | date:'dd/MM/yyyy' }}</td>
              <td>
                <li ng-repeat="bareme_typevariete in pc.bareme_typevariete">{{bareme_typevariete.Type_variete}}</li>
              </td>
            </tr>
          </table>
        </div>
  
        <div id="tab_23" >
          <div class="col-md-12 col-sm-12 col-xs-12">
            <fieldset>
              <legend>Barèmes</legend>
              <table style="background-color: white" class="table table-striped table-sm table-responsive-sm table-hover jambo_table bulk_action">
               
                <thead>
                  <tr>
                    <th rowspan="2">
                      <center>Indicateur</center>
                    </th>
                    <th rowspan="2">
                      <center>Coef</center>
                    </th>
                    <th rowspan="2">
                      <center>Max note</center>
                    </th>
                    <th colspan="4">
                      <center>Barème</center>
                    </th>
                  </tr>
                  <tr>
                    <th style="background-color: yellow !important;">
                      <center>0</center>
                    </th>
                    <th style="background-color: rgb(175, 243, 149)  !important;">
                      <center>5</center>
                    </th>
                    <th style="background-color: rgb(70, 210, 228)  !important;">
                      <center>10</center>
                    </th>
                    <th style="background-color: rgb(228, 167, 248) !important;">
                      <center>15</center>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr ng-repeat="bareme_details in pc.bareme_details">
                    <td>{{ bareme_details.indicator }}</td>
                    <td><center>{{ bareme_details._coef }}</center></td>
                    <td><center>{{ bareme_details._max_note }}</center></td>
                    <td style="background-color: yellow !important;"><center>{{ bareme_details._0[1] }}</center></td>
                    <td style="background-color: rgb(175, 243, 149)  !important;"><center>{{ bareme_details._5[1] }}</center></td>
                    <td style="background-color: rgb(70, 210, 228)  !important;"><center>{{ bareme_details._10[1] }}</center></td>
                    <td style="background-color: rgb(228, 167, 248) !important;"><center>{{ bareme_details._15[1] }}</center></td>
                  </tr>

                  <tr>
                    <td></td>
                    <td align="right">&sum; Coef * Note max </td>
                    <td><center>{{ pc.baremeByID.total_max_note }}<center></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

              </table>
            </fieldset>
          </div>
          
  
  
        </div>
      </div>
    </div>
  </div>