<div class="right_col" role="main">

  <div ng-controller="RepositoryCodetrancheageCtrl as pc" class="modal-demo">
    <span> Référentiel cultural <i class="fa fa-angle-right"></i> Référentiel des tranches d'âge <i class="fa fa-angle-right"></i> <b>Référentiel des codes tranches</b></span>
    <div class="table-responsive">
      <table style="background-color: white" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm jambo_table bulk_action">
      </table>
    </div>

  </div>
</div>