<div class="right_col" role="main">

  <div ng-controller="RepositoryElementsminerauxCtrl as pc" class="modal-demo">
    <span class="dontshowit"> {{'Référentiels' | translate}} <i class="fa fa-angle-right"></i>
      {{'Nutrition' |translate}} <i class="fa fa-angle-right"></i>
      <b>{{'Eléments minéraux' |translate}}</b></span>
    <div class="table-responsive">
      <table style="background-color: white" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm jambo_table bulk_action">
      </table>
    </div>

  </div>

</div>
