<div class="right_col" role="main">

  <div ng-controller="RepositoryParametretechniqueCtrl as pc" class="modal-demo">
    <span class="dontshowit"> {{'Paramétrage Modules' | translate}} <i class="fa fa-angle-right"></i>
      <b>{{'Paramètrage technique' | translate}}</b></span>
    <br /><br />

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">


          <div class="row">
            <div class="animate fadeIn col-md-6 col-sm-6 col-xs-6">

              <div class="x_title">
                <h2>{{'Irrigation' | translate}}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <center>
                  <table width=100%>
                    <tr>
                      <td>{{'Mode d irrigation (Simplifié / Avancé)' | translate}}</td>
                      <td ng-if="pc.obj.Mode_irrigation == '2'">{{"Rapportées à l'ha (Non / Oui)" | translate}}</td>
                    </tr>
                    <tr>
                      <td>
                        <md-switch ng-model="pc.obj.Mode_irrigation" style="width:90%;" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'2'" class="md-warn" ng-change="pc.changeparametragetechnique()">
                          <span class="badge-green_withe" ng-if="pc.obj.Mode_irrigation == '2'">{{'Simplifié' | translate}}</span>
                          <span class="badge-red_withe" ng-if="pc.obj.Mode_irrigation == '1'">{{'Avancé' | translate}}</span>
                        </md-switch>
                      </td>
                      <td ng-if="pc.obj.Mode_irrigation == '2'">
                        <md-switch ng-model="pc.obj.mode_irrigation_ha" style="width:90%;" aria-label="Switch 2" ng-true-value=true ng-false-value=false class="md-warn" ng-change="pc.changeparametragetechnique()">
                          <span class="badge-green_withe" ng-if="pc.obj.mode_irrigation_ha == 0">{{'Non' | translate}}</span>
                          <span class="badge-red_withe" ng-if="pc.obj.mode_irrigation_ha == 1">{{'Oui' | translate}}</span>
                        </md-switch>
                      </td>
                    </tr>
                  </table>
                </center>
              </div>

            </div>

            <div class="animate fadeIn col-md-6 col-sm-6 col-xs-6">

              <div class="x_title">
                <h2>{{'Nutrition' | translate}}</h2>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">
                <table width=100%>
                  <tr>
                    <td>{{'Solution mère' | translate}}</td>
                    <td>{{'Programme de fertilisation' | translate}}</td>
                  </tr>
                  <tr>
                    <td>
                      <md-switch ng-model="pc.obj.Solution_mere" style="width:90%;" aria-label="Switch 2" ng-true-value="true" ng-false-value="false" class="md-warn" ng-change="pc.changeparametragetechnique()">
                        <span class="badge-red_withe" ng-if="pc.obj.Solution_mere">{{'Oui' | translate}}</span>
                        <span class="badge-green_withe" ng-if="!pc.obj.Solution_mere">{{'Non' | translate}}</span>
                      </md-switch>
                    </td>
                    <td>
                      <md-switch ng-model="pc.obj.fertigation_creation_automatique" style="width:90%;" aria-label="Switch 2" ng-true-value="true" ng-false-value="false" class="md-warn" ng-change="pc.changeparametragetechnique()">
                        <span class="badge-red_withe" ng-if="pc.obj.fertigation_creation_automatique">{{'Oui' | translate}}</span>
                        <span class="badge-green_withe" ng-if="!pc.obj.fertigation_creation_automatique">{{'Non' | translate}}</span>
                      </md-switch>
                    </td>
                  </tr>

                  <tr>
                    <td>{{'Mode de fertilisation (Simplifié / Avancé)' | translate}}</td>
                    <td>{{'Déduction automatique du stock' | translate}}</td>
                  </tr>
                  <tr>
                    <td>
                      <md-switch ng-model="pc.obj.Mode_fert" style="width:90%;" aria-label="Switch 2" ng-true-value="'1'" ng-false-value="'2'" class="md-warn" ng-change="pc.changeparametragetechnique()">
                        <span class="badge-green_withe" ng-if="pc.obj.Mode_fert == '2'">{{'Simplifié' | translate}}</span>
                        <span class="badge-red_withe" ng-if="pc.obj.Mode_fert == '1'">{{'Avancé' | translate}}</span>
                      </md-switch>
                    </td>
                    <td>
                      <md-switch ng-model="pc.obj.ferigation_deduction_automatique" style="width:90%;" aria-label="Switch 2" ng-true-value="true" ng-false-value="false" class="md-warn" ng-change="pc.changeparametragetechnique()">
                        <span class="badge-red_withe" ng-if="pc.obj.ferigation_deduction_automatique">{{'Oui' | translate}}</span>
                        <span class="badge-green_withe" ng-if="!pc.obj.ferigation_deduction_automatique">{{'Non' | translate}}</span>
                      </md-switch>
                    </td>
                  </tr>


                  <tr>
                    <td ng-if="pc.obj.Mode_fert == '2'">{{"Rapportées à l'ha (Non / Oui)" | translate}}</td>
                  </tr>
                  <tr>
                    <td ng-if="pc.obj.Mode_fert == '2'">
                      <md-switch ng-model="pc.obj.Mode_fert_ha" style="width:90%;" aria-label="Switch 2" ng-true-value=true ng-false-value=false class="md-warn" ng-change="pc.changeparametragetechnique()">
                        <span class="badge-green_withe" ng-if="pc.obj.Mode_fert_ha == 0">{{'Non' | translate}}</span>
                        <span class="badge-red_withe" ng-if="pc.obj.Mode_fert_ha == 1">{{'Oui' | translate}}</span>
                      </md-switch>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="animate fadeIn col-md-6 col-sm-6 col-xs-6">

              <div class="x_title">
                <h2>{{'Traitement Phytosanitaire' | translate}}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <center>
                  <table width=100%>
                    <tr>
                      <td>{{'Déduction automatique du stock' | translate}}</td>
                    </tr>
                    <tr>
                      <td>
                        <md-switch ng-model="pc.obj.traitement_deduction_automatique" style="width:90%;" aria-label="Switch 2" ng-true-value="true" ng-false-value="false" class="md-warn" ng-change="pc.changeparametragetechnique()">
                          <span class="badge-red_withe" ng-if="pc.obj.traitement_deduction_automatique">{{'Oui' | translate}}</span>
                          <span class="badge-green_withe" ng-if="!pc.obj.traitement_deduction_automatique">{{'Non' | translate}}</span>
                        </md-switch>
                      </td>
                    </tr>
                  </table>
                </center>
              </div>

            </div>

            <div class="animate fadeIn col-md-6 col-sm-6 col-xs-6">

              <div class="x_title">
                <h2>{{'Analyse qualitative' | translate}}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <center>
                  <table width=100%>
                    <tr>
                      <td>Mode d'analyse (Simplifié / Avancé)</td>
                    </tr>
                    <tr>
                      <td>
                        <md-switch ng-model="pc.obj.mode_analyse_qualitative" style="width:90%;" aria-label="Switch 2" ng-true-value="false" ng-false-value="true" class="md-warn" ng-change="pc.changeparametragetechnique()">
                          <span class="badge-green_withe" ng-if="pc.obj.mode_analyse_qualitative">{{'Simplifié' | translate}}</span>
                          <span class="badge-red_withe" ng-if="!pc.obj.mode_analyse_qualitative">{{'Avancé' | translate}}</span>
                        </md-switch>
                      </td>
                    </tr>
                  </table>
                </center>
              </div>

            </div>

            <div class="animate fadeIn col-md-6 col-sm-6 col-xs-6">

              <div class="x_title">
                <h2>{{'Ressources hydriques' | translate}}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <center>
                  <table width=100%>
                    <tr>
                      <td>{{'Multi-diamètre' | translate}}</td>
                    </tr>
                    <tr>
                      <td>
                        <md-switch ng-model="pc.obj_global.ressources_hydriques_multi_diametre" style="width:90%;" aria-label="Switch 2" ng-true-value="true" ng-false-value="false" class="md-warn" ng-change="pc.changeparametrage_general()">
                          <span class="badge-red_withe" ng-if="pc.obj_global.ressources_hydriques_multi_diametre">{{'Oui' | translate}}</span>
                          <span class="badge-green_withe" ng-if="!pc.obj_global.ressources_hydriques_multi_diametre">{{'Non' | translate}}</span>
                        </md-switch>
                      </td>
                    </tr>
                  </table>
                </center>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>