<div class="right_col" role="main">

  <div ng-controller="RepositoryParcelleculturalgroupeoperationnelCtrl as pc" class="modal-demo">
    <span class="dontshowit"> {{'Parcellisation' | translate}} <i class="fa fa-angle-right"></i>
      <b> {{'Groupe / Parcelle culturale' | translate}}</b></span>
    <div class="table-responsive">
      <table style="background-color: white" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm jambo_table bulk_action">
      </table>
    </div>

  </div>
