<div class="right_col" role="main">
  <div ng-controller="RepositoryPeriodeestimationCtrl as pc" class="modal-demo">
    <span class="dontshowit"> {{'Référentiels' | translate}} <i class="fa fa-angle-right"></i>
      <b> {{'Périodes d estimation' | translate}}</b></span>
    <center>
      <div id="filter_form" style="" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>{{'Société' | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{'Campagne Agricole' | translate}}</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <select id="Societe" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="societe.societe" ng-change="societe_change()" multiple data-live-search="true"
                      title="{{'Société ...' | translate}}" data-selected-text-format="count > 1"
                data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;"> {{'Société ...' | translate}}</option>
                <optgroup label="{{'societe' | translate}}">
                  <option ng-repeat="societe in pc.societes" ng-value="societe.ID">{{ societe.Rais_Social }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp; </td>
            <td>
              <select id="Campagne" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="campagne.campagne" ng-change="campagne_change()" data-live-search="true"
                      title="{{'Campagne ...' | translate}}" data-selected-text-format="count > 1"
                data-size="10">
                <optgroup label="{{'campagne' | translate}}">
                  <option ng-repeat="campagne in pc.campagnes" ng-value="campagne.Code" ng-show="societe.societe.indexOf(campagne.IDsociete) == 0">{{ campagne.Code }} </option>
                </optgroup>
              </select>
            </td>
          </tr>
        </table>
        <a class="btn" href="" ng-click="ReverseDisplayfilter_form()" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>

      </div>

      <div id="add_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <form name="operationObject" ng-submit="pc.AddPeriodeEstimation()" novalidate>
          <table>
            <tr>
              <td>
                {{'Société' | translate}}
                <select id="SocieteSel" class="form-control  input-sm selectpicker" ng-model="SocieteSel" ng-change="societecheck_change()" data-live-search="true"
                        title="{{'Société ...' | translate}}" data-selected-text-format="count > 1" data-size="10" required>
                  <option selected disabled value="" style="background-color: #ffffff;"> {{'Société ...' | translate}}</option>
                  <option ng-repeat="societe in pc.societes" ng-value="societe.ID">{{ societe.Rais_Social }}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;</td>
            </tr>

            <tr>
              <td>
                {{'Campagne agricole' | translate}}
                <select id="CampagneSel" class="form-control  input-sm selectpicker" ng-model="CampagneSel" ng-change="campagnecheck_change()" data-live-search="true"
                        title="{{'Campagne ...' | translate}}" data-selected-text-format="count > 1" data-size="10" required>
                  <option selected disabled value="" style="background-color: #ffffff;"> {{'Campagne ...' | translate}}</option>
                  <option ng-repeat="campagne in pc.campagnes" ng-value="campagne" ng-if="campagne.IDsociete == SocieteSel">{{ campagne.Code }}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;</td>
            </tr>

            <tr>
              <td>
                {{'Date de lencement' | translate}}
                <input id="date_lencement" type="date" class="form-control  input-sm" ng-model="date_lencement" required />
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td>
                {{'Nbr de jours de période' | translate}}
                <input id="nbrjour" type="number" class="form-control  input-sm" ng-model="nbrjour"
                       placeholder="{{'Nbr de jours de période ...' |translate}}" required min="1" step="1" />
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td>
                <button type="submit" class="btn btn-success pull-right">
                  {{'Valider' | translate}}
                </button>
              </td>
            </tr>


          </table>
        </form>
        <a class="btn" href="" ng-click="ReverseDisplayadd_form()" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
      </div>
    </center>
    <div class="table-responsive" style="">
      <table style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>
    <br />
  </div>

</div>
