<div class="right_col" role="main">
  <div ng-controller="PourcentageouvertureCtrl as pc" class="modal-demo">
    <span> Floraison <i class="fa fa-angle-right"></i> <b>Suivie de pourcentage d'ouverture</b></span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>Domaine</td>
            <td>&nbsp;&nbsp;</td>
            <td>Campagne</td>
            <td>&nbsp;&nbsp;</td>
            <td>Parcelle</td>
            <td>&nbsp;&nbsp;</td>
            <td>De</td>
            <td>&nbsp;&nbsp;</td>
            <td>A</td>
          </tr>
          <tr>
            <td>
              <select id="Domaine" class="form-control  input-sm selectpicker" ng-model="domaine.domaine" ng-change="domaine_change()" data-live-search="true" title="{{'Domaine' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Domaine' | translate}}">
                  <option selected disabled value="" style="background-color: #ffffff;"> Domaine ..</option>
                  <option ng-repeat="domaine in pc.domaines" ng-value="domaine.ID">{{domaine.Nom}}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Campagne" class="form-control  input-sm selectpicker" ng-model="campagne.campagne" ng-change="campagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;"> Campagne ..</option>
                <option ng-repeat="campagne in pc.campagnes" ng-value="campagne.Code_compagne">{{campagne.Code_compagne}}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>

            <td>
              <select id="Parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle.parcelle" ng-change="parcelle_change()" multiple data-live-search="true" title="{{'Parcelle' | translate}} ..."
                data-selected-text-format="count > 1" data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;"> Parcelle cultural ..</option>
                <optgroup label="{{'parcelle' | translate}}">
                  <option ng-repeat="parcellecultural in pc.parcellescultural" ng-value="parcellecultural.ID">{{ parcellecultural.Ref }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

          </tr>

        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <div class="table-responsive" style="">
      <table style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>
  </div>

</div>