<div class="right_col" role="main">

  <div ng-controller="RepositoryProduitCtrl as pc" class="modal-demo">
    <span> Référentiel cultural <i class="fa fa-angle-right"></i> <b> Détails produit </b></span>
    <div class="table-responsive">
      <table style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>

    <br />

    <div class="row" ng-show="pc.ifoundData">
      <div class="col-md-6 col-sm-6 col-xs-6">


        <div class="table-responsive">
          <div style="overflow-x:auto;">
            <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
              <thead>
                <tr>
                  <th>Unité</th>
                  <th>Poids Moyen</th>
                </tr>
              </thead>
              <tr ng-repeat="uniteTab in pc.uniteTab | orderBy:'uniteTab'  track by $index">
                <td>{{uniteTab | ifEmpty:''}}</td>
                <td>{{pc.poitTab[$index] | ifEmpty:''}}</td>
              </tr>

              <tr ng-if="pc.uniteTab.length == 0">
                <td align="center" colspan="2"> Click on a row of the table at the top (if no data found then porduct has no unites)</td>
              </tr>

            </table>
          </div>
        </div>



      </div>

      <div class="col-md-6 col-sm-6 col-xs-6">

        <div class="table-responsive">
          <div style="overflow-x:auto;">
            <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
              <thead>
                <tr>
                  <th>Variété </th>
                </tr>
              </thead>
              <tr ng-repeat="varieteTab in pc.varieteTab | orderBy:'varieteTab'  track by $index">
                <td>{{varieteTab | ifEmpty:''}}</td>
              </tr>

              <tr ng-if="pc.varieteTab.length == 0">
                <td align="center"> Click on a row of the table at the top (if no data found then porduct has no varietys)</td>
              </tr>

            </table>
          </div>
        </div>

      </div>
    </div>




  </div>

</div>