<div class="right_col" role="main">
  <div ng-controller="RepositoryRefarbremapCtrl as pc" class="modal-demo">
    <span> Parcellisation <i class="fa fa-angle-right"></i> Gestion des arbres <i class="fa fa-angle-right"></i> <b>Vue cartographique</b></span>
    <br />
    <div class="dontshowit">
      <a class="dt-button pull-right" ui-sref="RefArbre" title="{{'Gestion des arbres' | translate}}"><i class="fa fa-list"></i></a>
    </div>
    <br /><br />
    <div id="map"></div>
    <br /><br />









  </div>
</div>