<div class="right_col" role="main">
  <div ng-controller="RepositoryRefarbreqrcodeCtrl as pc">
    <span> {{"Parcellisation" | translate}} <i class="fa fa-angle-right"></i> {{"Gestion des arbres" | translate}} <i class="fa fa-angle-right"></i> <b>QR CODE</b></span>
    <center class="dontDisplay">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>{{"Parcelle culturale" | translate}}</td>
            <td>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td>
              <select id="Parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelleculturalsel" multiple data-actions-box='true' ng-change="pc.parcelle_change()" data-live-search="true"
                title="{{'Parcelle culturale' | translate}}..." data-selected-text-format="count > 1" data-size="10">
                <option ng-repeat="parcellecultural in pc.parcellescultural" ng-value="parcellecultural.ID">{{ parcellecultural.Ref }}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <md-button class="md-raised" ng-click="pc.Search()" title="{{'Rechercher' | translate}}">{{"Valider" | translate}}</md-button>
            </td>

          </tr>

        </table>
        <a class="btn" href="" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <br />

    <div class="table-responsive dontDisplay">
      <div class="dt-buttons" style="float:right">
        <a class="dt-button pull-right" ui-sref="RefArbre" title='{{"Gestion des arbres" | translate}}'><i class="fa fa-columns"></i></a>
        <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><span><i class="fa fa-search"></i></span></button>
        <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" ng-click="pc.printExcel($e)" title="Print"><span><i class="fa fa-print"></i></span></button>
      </div>
    </div>


    <!--<table border="1" id="printThis">
      <tbody ng-repeat="d in pc.ListeArbre">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <tr>
          <td>
            <div ng-attr-id="{{'object-' + $index}}" ng-bind="pc.generateCode(d.QR_CODE, 'object-' + $index)"></div>
          </td>
          <td>
          </td>
          <td>
            <h5>&nbsp;&nbsp;Code : {{d.Code_Arbre}}</h5>
            <h5>&nbsp;&nbsp;Variete : {{d.Variete}}</h5>
            <h5>&nbsp;&nbsp;Date de plantation : {{d.Date_Plantation | date:'dd/MM/yyyy'}}</h5>
          </td>
        </tr>
      </tbody>
    </table>-->


    <div class="table-responsive container" id="printThis" ng-if="pc.ListeArbre.length>0">

      <div class="row">
        <div ng-repeat="d in pc.ListeArbre">
          <div class="clearfix" ng-if="$index % 3 == 0"></div>
          <div class="col-sm-4" style="background: lightgrey;  border: 1px solid grey;">
            <center>
              <br />
              <table table style="background-color: white" id="tableDataShow" class="printtable">
                <tr>
                  <td rowspan=" 2">
                    <div ng-attr-id="{{'object-' + $index}}" ng-bind="pc.generateCode(d.QR_CODE, 'object-' + $index)"></div>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>&nbsp;&nbsp;Code : {{d.Code_Arbre}}</h5>
                    <h5>&nbsp;&nbsp;Variete : {{d.Variete}}</h5>
                    <h5>&nbsp;&nbsp;Date de plantation : {{d.Date_Plantation | date:'dd/MM/yyyy'}}</h5>
                  </td>
                </tr>

              </table>


              <br />
            </center>
          </div>
          <div style='page-break-after:always' ng-if="$index % 5 == 0"></div>
        </div>
      </div>


    </div>


    <div class="table-responsive ">

      <table style="background-color: white" id="tableDataShow" border="1" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action  printtable">


        <tr ng-if="pc.ListeArbre.length ==0|| !pc.ListeArbre">
          <td colspan="22">
            <center>
              <br /><br />
              <img src='././images/ic_notfound_c.png' /><br />
              <font color='#a5a5a5' size='4' style='font-family:system-ui;'><b>Sorry</b> Data Not Available</b>, Please Check The <b>Filtre Settings</b></font>
              <br /><br /><br /><br /><br /><br /><br />
            </center>
          </td>
        </tr>

      </table>
    </div>

    <div class="flex-container" id="loadingData">
      <img src="././images/loading.gif" />
    </div>
  </div>
</div>