<div class="right_col" role="main">

  <div ng-controller="RepositoryVarieteCtrl as pc" class="modal-demo">
    <span> {{'Référentiel cultural' | translate}} <i class="fa fa-angle-right"></i>
      <b>{{'Variété' | translate}}</b></span>
    <div class="table-responsive">
      <table style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>

  </div>

</div>
