<md-dialog aria-label="Mango (Fruit)" style="width: 600px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'Modifier un produit' | translate}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-wrap>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Référence Produit' | translate}}</label>
              <input ng-model="data.Ref_technique" md-autofocus type="text" style="width: 250px;" disabled>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Désignation Produit' | translate}}</label>
              <input ng-model="data.designation" type="text" style="width: 250px;" required>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Type (Principal / Accessoire)' | translate}}</label>
              <md-switch ng-model="data.Principale_Accessoire" style="width:90%;" aria-label="Switch 2" ng-true-value="'2'" ng-false-value="'1'" class="md-warn">
                <span class="badge-green_withe" ng-if="data.Principale_Accessoire == 1">{{'Principal' |translate}}</span>
                <span class="badge-red_withe" ng-if="data.Principale_Accessoire == 2">{{'Accessoire' |translate}}</span>
              </md-switch>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Stockable (Non / Oui)' | translate}}</label>
              <md-switch ng-model="data.Stockable" style="width:90%;" aria-label="Switch 2" ng-true-value="true" ng-false-value="false" class="md-warn">
                <span class="badge-red_withe" ng-if="data.Stockable">{{'Oui' | translate}}</span>
                <span class="badge-green_withe" ng-if="!data.Stockable">{{'Non' | translate}}</span>
              </md-switch>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Variété ...' | translate}}</label>
              <md-select ng-model="Variete" style="width:90%;" required multiple>
                <md-option ng-value="variete.ID" ng-repeat="variete in varietes | orderBy:'Variete'" ng-selected="data.VarietesID.indexOf(variete.ID) !== -1">{{variete.Variete}}</md-option>
              </md-select>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block">
              <label>{{'Descriptif' | translate}}</label>
              <textarea ng-model="data.Observation" rows="3"></textarea>
            </md-input-container>
          </div>

        </div>

        <div layout="row" layout-wrap data-ng-repeat="food in foods">

          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Unite d opération ...' |translate}}</label>
              <md-select ng-model="food.uniteoperation" style="width:90%;" required>
                <md-option ng-value="uniteoperation.IDUnite_Operation" ng-repeat="uniteoperation in uniteoperations | orderBy:'Unite'" ng-disabled="notIn(uniteoperation.IDUnite_Operation)">{{uniteoperation.Unite}}</md-option>
              </md-select>
            </md-input-container>
          </div>


          <div flex="100" flex-gt-sm="25" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Poid moyen' | translate}}</label>
              <input ng-model="food.poidsmoyen" style="width:90%;" type="number" required>
            </md-input-container>
          </div>

          <div flex="100" flex-gt-sm="10" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <span flex></span><span class="material-icons" ng-click="removeItem($index)">
                {{'remove_circle_outline' | translate}}
              </span>
            </md-input-container>
          </div>


          <div flex="100" flex-gt-sm="10" layout="column" ng-show="$last">
            <md-input-container class="md-block" flex-gt-xs>
              <span flex></span>
              <span class="material-icons" ng-click="cloneItem($index)">
                {{'add_circle_outline' |translate}}
              </span>
            </md-input-container>
          </div>

        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
      <md-button ng-click="AnnulerProduit();" class="md-primary">
        {{'Annuler' | translate}}
      </md-button>
      <md-button ng-click="ModiferProduit()" ng-if="!progress">
        {{'Modifier' | translate}}
      </md-button>
      <md-progress-circular md-mode="indeterminate" ng-if="progress"></md-progress-circular>
    </md-dialog-actions>

  </form>
</md-dialog>
