<div class="right_col" role="main">
  <div ng-controller="HarvastDetailCtrl as pc" class="modal-demo">
    <md-content class="md-padding">
      <md-tabs md-selected="2" md-border-bottom="" md-autoselect="" md-swipe-content="">
        <md-tab label="{{'Prévu / réalisé' | translate}}" ui-sref="tableaudebord_prevision"></md-tab>
        <md-tab label="{{'Dernières mises à jours des prévisions' | translate}}" ui-sref="prevision_tabs_last_update_harvast"></md-tab>
        <md-tab label="{{'Détail des prévisions' | translate}}" ui-sref="prevision_tabs_harvast_detail"></md-tab>
        <md-tab label="{{'Détail des réalisations' | translate}}" ui-sref="prevision_tabs_realisation_detail"></md-tab>
        <md-tab label="{{'Prévu / réalisé par semaine' | translate}}" ui-sref="prevision_tabs_prevu_realise_semaine"></md-tab>
        <md-tab label="{{'Avancement semaine en cours' | translate}}" ui-sref="prevision_tabs_avancement_semaine_encours"></md-tab>
        <md-tab label="{{'Télémetrie de la saisie' | translate}}" ui-sref="tlemetrie_saisie"></md-tab>
        <md-tab label="{{'Qualité des prévisions hebdomadaires' | translate}}" ui-sref="qualite_prevision_hebdo"></md-tab>
      </md-tabs>
    </md-content>

    <div id="myTabContent2" class="tab-content">
      <br />
      <div role="tabpanel" class="tab-pane fade active in" id="tab_content11" aria-labelledby="home-tab">

        <!-- START Dernières mises à jours des prévisions -->
        <div class="row" style="display: block; background-color:white;">
          <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
              <div class="x_title">
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="table-responsive-no">

                  <!-- START Détail des prévisions -->
                  <div class="row" style="display: block; background-color:white;">
                    <br />

                    <center>
                      <table>
                        <tr>
                          <td>{{'Société' | translate}}</td>
                          <td>&nbsp;&nbsp;</td>

                          <td class="periode">{{'Période' | translate}}</td>
                          <td>&nbsp;&nbsp;</td>
                          <td class="periode_estimation" style="display: none;">{{'Période estimation' | translate}}</td>
                          <td class="periode_estimation">&nbsp;&nbsp;</td>

                          <td>{{'Type de variété' | translate}}</td>
                          <td>&nbsp;&nbsp;</td>

                          <td>{{'Ferme' | translate}}</td>
                          <td>&nbsp;&nbsp;</td>

                          <td>{{'Variété' | translate}}</td>
                          <td>&nbsp;&nbsp;</td>

                          <td>{{'Parcelle' | translate}}</td>
                          <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <select id="Societe" name="Societe" ng-init="pc.societes[0].ID" class="form-control  input-sm selectpicker" ng-model="societe" ng-change="pc.societe_change_detail_prevision()" title="{{'Société' | translate}} ..."
                              data-selected-text-format="count > 1" data-size="10">
                              <option ng-repeat="societe in pc.societes" value="{{ societe.ID }}">{{ societe.Rais_Social }}</option>
                            </select>
                          </td>
                          <td>&nbsp;&nbsp;</td>

                          <td class="periode">
                            <select id="periode" name="periode" class="form-control  input-sm selectpicker" ng-model="periode" ng-change="pc.periode_change()" title="{{'Période' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                              <option ng-repeat="periode in pc.periode_array_to_choose" value="{{periode.ID}}">{{ periode.label }}</option>
                            </select>
                          </td>
                          <td>&nbsp;&nbsp;</td>
                          <td class="periode_estimation" style="display: none;">
                            <select id="periode_estimation" name="periode_estimation" class="form-control  input-sm selectpicker" ng-model="periode_estimation" ng-change="pc.periode_estimation_change()"
                              title="{{'Période estimation' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                              <option ng-repeat="periode in pc.periode_estimation_array" ng-value="periode">{{ pc.getPeriodeEstimation(periode) }}</option>
                            </select>
                          </td>
                          <td class="periode_estimation">&nbsp;&nbsp;</td>

                          <td>
                            <select id="type_variete" name="type_variete" class="form-control  input-sm selectpicker" ng-model="type_variete" ng-change="pc.type_variete_change()" data-live-search="true" title="{{'Type de variété' | translate}} ..."
                              data-selected-text-format="count > 1" data-size="10">
                              <option ng-repeat="type_variete in pc.type_variete_array" value="{{ type_variete.idfamille_variete }}">{{ type_variete.Libile }}</option>
                            </select>
                          </td>
                          <td>&nbsp;&nbsp;</td>

                          <td>
                            <select id="domaine_detail_prevision" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="domaine_detail_prevision" ng-change="pc.domaine_change_detail_prevision()" data-live-search="true"
                              multiple title="{{'Ferme' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                              <optgroup label="{{'Ferme' | translate}}">
                                <option ng-repeat="domaine in pc.domaine_detail_prevision_array" value="{{domaine.idfermes}}">{{ domaine.nom }}</option>
                              </optgroup>
                            </select>
                          </td>
                          <td>&nbsp;&nbsp;</td>

                          <td>
                            <select id="variete" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="variete_detail_prevision" ng-change="pc.variete_change_detail_prevision()" multiple data-live-search="true"
                              title="{{'Variété' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                              <optgroup label="{{'Variété' | translate}}">
                                <option ng-repeat="variete in pc.variete_detail_prevision_array" ng-value="variete.id">{{ variete.Variete }}</option>
                              </optgroup>
                            </select>
                          </td>
                          <td>&nbsp;&nbsp;</td>

                          <td>
                            <select id="parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle_detail_prevision" ng-change="pc.parcelle_change_detail_prevision()" multiple data-live-search="true"
                              title="{{'Parcelle' | translate}} ..." data-selected-text-format="count > 1" data-size="10">
                              <optgroup label="{{'parcelle' | translate}}">
                                <option ng-repeat="parcelle in pc.parcelles_detail_prevision_array" value="{{parcelle.ID}}">{{ parcelle.Ref }}</option>
                              </optgroup>
                            </select>
                          </td>
                          <td>&nbsp;&nbsp;</td>
                          <td>
                            <md-button class="md-raised" ng-click="pc.loadDataDetailPrevision()" ng-disabled="pc.obj.FROM == null">Valider</md-button>
                          </td>
                          <td>&nbsp;&nbsp;</td>
                        </tr>
                      </table>
                    </center>
                    <br />
                    <div class="col-md-12 col-sm-12  ">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>{{'Détail des prévisions' | translate}}</h2>

                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <div class="table-responsive-no">
                            <div id="wdr-component"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br><br>
                  <!--  END  Détail des prévisions -->

                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <!-- END Dernières mises à jours des prévisions -->

      </div>
    </div>
  </div>
</div>