<div class="right_col" role="main" ng-controller="reportingAssolementCtrl as pc">

  <div class="modal-demo">
    <span> {{'prevision' | translate}} <i class="fa fa-angle-right"></i> {{'reporting' | translate}} <i class="fa fa-angle-right"></i>
      <b>{{'Assolement ' | translate}}</b></span>
    <center class="dontDisplay">
      <table>
        <tr>
          <td>{{'Société' | translate}}</td>
          <td>&nbsp;&nbsp;</td>

          <td>{{'Campagne' | translate}}</td>
          <td>&nbsp;&nbsp;</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <select id="societe" class="form-control  input-sm selectpicker" ng-model="societe" ng-change="pc.societe_change()" data-live-search="true"
                    title="{{'Société ...' | translate}}" data-selected-text-format="count > 1" data-size="10">
              <option ng-repeat="societe in pc.societe_array" value="{{ societe.ID }}">{{ societe.Rais_Social }}</option>
            </select>
          </td>
          <td>&nbsp;&nbsp;</td>

          <td>
            <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true"
                    title="{{'Campagne ...' | translate}}" data-selected-text-format="count > 1" data-size="10">
              <option ng-repeat="compagne in pc.compagne_array" value="{{compagne.ID_compagne}}" ng-if="pc.compagne_array[$index].Code != pc.compagne_array[$index - 1].Code">{{ compagne.Code }}</option>
            </select>
          </td>
          <td>&nbsp;&nbsp;</td>

          <td>
            <md-button class="md-raised md-warn" ng-click="pc.search()" title="{{'Rechercher' | translate}}">
              {{'Valider' | translate}}
            </md-button>
          </td>
        </tr>

      </table>
    </center>
  </div>
  <br>


  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="row">
        <div class="col-md-12">
          <button class="button_web_data_rocks" ng-click="exportData('excel')" title="{{'EXCEL' | translate}}"><i class="fa fa-file-excel-o"></i></button>
          <button class="button_web_data_rocks" ng-click="exportData('pdf')" title="{{'Imprimer' | translate}}"><i class="fa fa-print"></i></button>
          <div id="wdr-component"></div>
        </div>
        <div class="col-md-12">
          <br><br><br>
          <h4>
            <center>{{'Superficie totale par producteur' | translate}}</center>
          </h4>
          <div id="googlechart-container" style=" height:500px; "></div>
        </div>
      </div>


    </div>
  </div>
</div>
