<div class="right_col" role="main" ng-controller="PrevisionJournaliereCtrl as pc">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">


      <div class="x_title">
        <div class="x_title">
          <h2>{{'Rapport des prévisions journalières' | translate}}<small></small></h2>
          <div class="clearfix"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="button_web_data_rocks" ng-click="exportData('excel')" title="{{'EXCEL' |translate}}"><i class="fa fa-file-excel-o"></i></button>
            <button class="button_web_data_rocks" ng-click="exportData('pdf')" title="{{'Imprimer' | translate}}"><i class="fa fa-print"></i></button>
            <div id="wdr-component"></div>
          </div>


          <!-- <div class="col-md-12" style="margin-top: 50px;">
            <div class="x_title">
              <div class="x_title">
                <h2>Récapitulatif des prévisions journalières<small></small></h2>
                <div class="clearfix"></div>
              </div>
              <button class="button_web_data_rocks" ng-click="printRecap('excel')"><i class="fa fa-file-excel-o"></i></button>
              <button class="button_web_data_rocks" ng-click="printRecap('pdf')"><i class="fa fa-print"></i></button>
              <div id="recap"></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
