<div ng-controller="ConfigurationComptesVComptesCtrl as vm">



  <div layout="row" layout-wrap layout-padding>

    <table class="table_multi_form" >
      <tr>
        <td colspan="2">
          <md-card flex class="card_form_multi" >
            <div layout="row" layout-align="center center" class="step-container">
              <!-- Step 1 -->
              <div class="step-box">                  
                <table >
                    <tr>
                      <td rowspan="2">
                        <div class="step-btn">
                          <img src="././images/main_configuration/entreprise.svg" alt="entreprise">
                         </div>
                      </td>
                      <td>Étape 1</td>
                      
                    </tr>
                    <tr><td>Sociétés</td></tr>
                </table>
            </div>
      
              <!-- Arrow Icon -->
              <span class="arrow-icon">&gt;</span>
      
              <!-- Step 2 -->
              <div class="step-box">                  
                <table >
                    <tr>
                      <td rowspan="2">
                        <div class="step-btn">
                          <img src="././images/main_configuration/farm.svg" alt="farm">
                         </div>
                      </td>
                      <td>Étape 2</td>
                      
                    </tr>
                    <tr><td>Fermes</td></tr>
                </table>
            </div>
      
              <!-- Arrow Icon -->
              <span class="arrow-icon">&gt;</span>
      
              <!-- Step 3 -->
              <div class="step-box">                  
                  <table >
                      <tr>
                        <td rowspan="2">
                          <div class="step-btn">
                            <img src="././images/main_configuration/campagne.svg" alt="campagne">
                           </div>
                        </td>
                        <td>Étape 3</td>
                        
                      </tr>
                      <tr><td>Campagnes Agricoles</td></tr>
                  </table>
              </div>
          </div>
          </md-card>
        </td>
        <td rowspan="2">
          <md-card flex class="card_form_multi" >Section 1</md-card>
        </td>
      </tr>

      <tr>
        <td>
          <md-card flex class="card_form_multi" >Section 1</md-card>
        </td>
        <td>
          <md-card flex class="card_form_multi" >Section 1</md-card>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <md-card flex class="card_form_multi" >Section 1</md-card>
        </td>
        <td>
          <md-card flex class="card_form_multi" >Section 1</md-card>
        </td>
      </tr>

    </table>


    <!--
      <div flex="66" layout="row">
        <md-card flex class="card_form">Section 1</md-card>
        <md-card flex class="card_form">Section 2</md-card>
    </div>
    <md-card flex="33" rowspan="3" class="card_form large-card">Right Panel</md-card>

   
    <div flex="66" layout="row">
        <md-card flex class="card_form">Section 3</md-card>
        <md-card flex class="card_form">Section 4</md-card>
    </div>

  
    <div flex="66">
        <md-card flex class="card_form large-card">Section 5 (colspan 2)</md-card>
    </div>
  -->
  </div>

</div>