<div ng-controller="ConfigurationComptesVComptesCtrl as vm">
  
  <md-card class="card" layout="column" style="padding: 5px;background: #fafafa;box-shadow: none;">
    <!-- First row: Image + Text on the left, Button on the right -->
    <div layout="row" layout-align="space-between center">
      <!-- Left section: Icon + File details -->
      <div layout="row">
        <img src="././images/main_configuration/back.svg" alt="back" style="margin-right: 10px;cursor: pointer;border: none;border-radius: 60px;
            background: #f0f0f0;   
            display: block;" ng-click="go_back()">
        <!-- Column for file name and size -->
        <div layout="column" style="line-height: 1.2;">
          <h3 style="color: #1e2317; font-family: Poppins; font-size: 18px; margin: 0;">
            Configuration Du Compte
          </h3>
          <p style="color: #63675d; font-family: Poppins; font-size: 12px; margin: 0;">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor.
          </p>
        </div>
      </div>
      
    </div>


  </md-card>
  
  <div class="main-container">
    <div class="scrollable-main">

      <div class="scrollable-header">
      
          <div layout="row" layout-align="center center" class="step-container" style="width: 100%;">
            <!-- Steps Section (Middle) -->
            <div layout="row" flex="auto" layout-align="center center">
              <!-- Step 1 -->
              <div class="step-box">
                <table style="border-collapse: collapse;">
                  <tr ng-click="vm.step(1)">
                    <td rowspan="2">
                      <div ng-class="{'step-btn': vm.currect_step == 1, 'step-btn-disabled': vm.currect_step != 1}">
                        <img src="././images/main_configuration/entreprise.svg" alt="entreprise">
                      </div>
                    </td>
                    <td ng-class="{'step_position': vm.currect_step == 1, 'step_position-disabled': vm.currect_step != 1}">
                      Étape 1</td>
                  </tr>
                  <tr>
                    <td
                      ng-class="{'step_position_title': vm.currect_step == 1, 'step_position_title-disabled': vm.currect_step != 1}">
                      Sociétés</td>
                  </tr>
                </table>
              </div>
      
              <!-- Arrow Icon -->
              <span class="arrow-icon">&nbsp;&nbsp;&gt;&nbsp;&nbsp;</span>
      
              <!-- Step 2 -->
              <div class="step-box">
                <table>
                  <tr ng-click="vm.step(2)">
                    <td rowspan="2">
                      <div ng-class="{'step-btn': vm.currect_step == 2, 'step-btn-disabled': vm.currect_step != 2}">
                        <img src="././images/main_configuration/farm.svg" alt="farm">
                      </div>
                    </td>
                    <td ng-class="{'step_position': vm.currect_step == 2, 'step_position-disabled': vm.currect_step != 2}">
                      Étape 2</td>
                  </tr>
                  <tr>
                    <td
                      ng-class="{'step_position_title': vm.currect_step == 2, 'step_position_title-disabled': vm.currect_step != 2}">
                      Sociétés</td>
                  </tr>
                </table>
              </div>
      
              <!-- Arrow Icon -->
              <span class="arrow-icon">&nbsp;&nbsp;&gt;&nbsp;&nbsp;</span>
      
              <!-- Step 3 -->
              <div class="step-box">
                <table>
                  <tr ng-click="vm.step(3)">
                    <td rowspan="2">
                      <div ng-class="{'step-btn': vm.currect_step == 3, 'step-btn-disabled': vm.currect_step != 3}">
                        <img src="././images/main_configuration/campagne.svg" alt="campagne">
                      </div>
                    </td>
                    <td ng-class="{'step_position': vm.currect_step == 3, 'step_position-disabled': vm.currect_step != 3}">
                      Étape 3
                    </td>
                  </tr>
                  <tr>
                    <td
                      ng-class="{'step_position_title': vm.currect_step == 3, 'step_position_title-disabled': vm.currect_step != 3}">
                      Sociétés
                    </td>
                  </tr>
                </table>
              </div>
            </div>
      
          
            
      
      
          </div>
        
      </div>

      
      <!-- Grids 1 & 2 as Columns -->
      <div class="grid-column-container">



        <div id="grid1" class="grid">
          <div class="form-header">
            <h2 class="form-title">Informations Sur La Société</h2>
            <p class="form-subtitle">Suivez les étapes indiquées ci-dessous afin d'assurer une bonne configuration de votre compte</p>
          </div>
        
          <md-content class="form-content">
            <!-- Row 1 -->
            <div class="form-row tiny-space">
              <md-input-container class="form-input">
                <label>Raison Sociale</label>
                <input type="text" ng-model="vm.raison_sociale" required>
              </md-input-container>
        
              <md-input-container class="form-input">
                <label>Statut Juridique</label>
                <md-select ng-model="vm.statut_juridique">
                  <md-option value="option1">Option 1</md-option>
                  <md-option value="option2">Option 2</md-option>
                  <md-option value="option3">Option 3</md-option>
                </md-select>
              </md-input-container>
            </div>
        
            <!-- Row 2 -->
            <div class="form-row tiny-space">
              <md-input-container class="form-input">
                <label>Capital</label>
                <input type="number" ng-model="vm.capital">
              </md-input-container>
        
              <md-input-container class="form-input">
                <label>Ville</label>
                <md-select ng-model="vm.ville">
                  <md-option value="option1">Option 1</md-option>
                  <md-option value="option2">Option 2</md-option>
                  <md-option value="option3">Option 3</md-option>
                </md-select>
              </md-input-container>
            </div>
        
            <!-- Address -->
            <div class="form-row tiny-space">
              <md-input-container class="form-input full-width">
                <label>Adresse</label>
                <textarea ng-model="vm.adresse" rows="2" md-maxlength="100"></textarea>
              </md-input-container>
            </div>
        
            <!-- Row 3 -->
            <div class="form-row tiny-space">
              <md-input-container class="form-input">
                <label>Adresse Email</label>
                <input type="email" ng-model="vm.email">
              </md-input-container>
        
              <md-input-container class="form-input">
                <label>Fax</label>
                <input type="tel" ng-model="vm.fax">
              </md-input-container>
            </div>
        
            <!-- Row 4 -->
            <div class="form-row tiny-space">
              <md-input-container class="form-input">
                <label>Patente</label>
                <input type="text" ng-model="vm.patente">
              </md-input-container>
        
              <md-input-container class="form-input">
                <label>N° CNSS</label>
                <input type="text" ng-model="vm.cnss">
              </md-input-container>
            </div>
        
            <!-- Row 5 -->
            <div class="form-row tiny-space">
              <md-input-container class="form-input">
                <label>N° AMO</label>
                <input type="text" ng-model="vm.amo">
              </md-input-container>
        
              <md-input-container class="form-input">
                <label>ID Fiscal</label>
                <input type="text" ng-model="vm.fiscal">
              </md-input-container>
            </div>
        
            <!-- Row 6 -->
            <div class="form-row tiny-space">
              <md-input-container class="form-input">
                <label>ICE</label>
                <input type="text" ng-model="vm.ice">
              </md-input-container>
        
              <md-input-container class="form-input">
                <label>Pré Fixe Matricule Ouvrier</label>
                <input type="text" ng-model="vm.matricule">
              </md-input-container>
            </div>
        
            <div class="form-actions">
              <md-button class="md-raised md-primary custom-reset-button" ng-click="vm.reset()">
                Reset
              </md-button>

              <md-button class="md-raised md-primary custom-button" ng-click="vm.ajouter()">
                <i class="fa fa-plus"></i>&nbsp;Ajouter
              </md-button>

            </div>
          </md-content>
        </div>




        <div id="grid2" class="grid">

          <div class="form-header">
            <h2 class="form-title">Importation En Masse ?</h2>
            <p class="form-subtitle">Suivez les étapes indiquées ci-dessous afin d'assurer une bonne configuration de votre compte</p>
          </div>

          <md-card class="card" layout="column" style="padding: 10px;background: #F3F5F7;">

            <div layout="row" layout-align="space-between center">
              <div layout="row" layout-align="start center">
                <img src="././images/main_configuration/xls.svg" alt="time"
                  style="width: 20px; height: 20px; margin-right: 5px;">
                <h2 style="font-size: 16px; font-family: Poppins;">Canvas Société.xls</h2>
              </div>
              <md-button class="md-raised md-primary"
                style="background-color: rgb(255 255 255); color: rgba(0, 0, 0, 0.87);"><i
                  class="fa fa-download"></i>
                Télécharger</md-button>
            </div>


            <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
              You can download the attached example and use it as a starting point for your own file.
            </p>
          </md-card>

          <div class="centered-card hover_card" ng-if="!vm.isFileSelected" layout="column"
          style="padding: 40px;background: #F8F8F9;border: 2px dashed #ccc;cursor: pointer;"
          ngf-drop="onDrop($files)" ng-click="triggerFileInput()">
          <input type="file" id="fileInput" ngf-select="onFileSelected($file)" style="display: none;">


          <img src="././images/main_configuration/file.svg" alt="time"
            style="width: 20px; height: 20px; margin-right: 5px;">


          <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
            Drop your file here, or <font color="#81BB26">browse</font>
          </p>
        </div>


        <div class="centered-card " ng-if="vm.isFileSelected" layout="column"
          style="padding: 40px;background: #F8F8F9;border: 2px dashed rgb(129 187 38);">



          <img src="././images/main_configuration/file.svg" alt="time"
            style="width: 20px; height: 20px; margin-right: 5px;">


          <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
            Well uploaded
          </p>
        </div>

        <div layout="row" layout-align="space-between center">
          <div layout="row" layout-align="start center">
            <p style="padding-left: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
              Supported formats: XLS, XLSX</p>
          </div>
          <p style="padding-right: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
            Maximum
            size: 25MB</p>
        </div>

        <md-card class="card" layout="column" style="padding: 10px; background: #c2c5c7;"
              ng-if="vm.isFileSelected">

              <div layout="row" layout-align="space-between center">

                <div layout="row">
                  <img src="././images/main_configuration/file.svg" alt="file-icon"
                    style="width: 20px; height: 20px; margin-right: 5px;">

                  <div layout="column" style="line-height: 1.2;">
                    <h3 style="color: #1e2317; font-family: Poppins; font-size: 11px; margin: 0;">
                      {{vm.fileName}}
                    </h3>
                    <p style="color: #63675d; font-family: Poppins; font-size: 10px; margin: 0;">
                      {{vm.fileSize}}
                    </p>
                  </div>
                </div>


                <p style="margin: 0;" ng-click="vm.delete_file()">
                  <img src="././images/main_configuration/close.svg" alt="close"
                    style="width: 20px; height: 20px; cursor: pointer;">
                </p>
              </div>
            </md-card>
            <md-button class="md-raised md-primary custom-button full-width-btn">
              <i class="fa fa-plus"></i>&nbsp;Intégrer
            </md-button>

          
          <md-card flex class="card_form_multi" >
            

            

           




            






          </md-card>
        </div>
      </div>

      <div id="grid4" class="grid">
        <h2>Grid 4 (Footer)</h2>
        <div ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">
          Footer Item {{item}}
        </div>
      </div>

      <div class="scrollable-footer">
        <div class="footer-buttons">
          <button class="btn btn-secondary">Cancel</button>
          <button class="btn btn-primary">Save Changes</button>
        </div>
      </div>

    </div>

    <div id="grid3" class="grid" ng-if="vm.howto">
      <h2>Grid 3 (Sticky)</h2>
      <div ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">
        Sticky Item {{item}}
      </div>
    </div>
  </div>
</div>