<div ng-controller="ConfigurationComptesVFermeCtrl as vm">
    <div class="grid-column-container" >

        <div id="grid1" class="grid  fade-in">
                  <div class="form-header" >
                    <h2 class="form-title">Informations Sur La Ferme</h2>
                    <p class="form-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique eleifend arcu, velar ipsum</p>
                  </div>

                  <md-content class="form-content">
                    <!-- Row 1 -->
                    <div class="form-row tiny-space">
                      <md-input-container class="form-input">
                        <label>Référence</label>
                        <input type="text" ng-model="vm.formData.Code" required>
                      </md-input-container>

                      <md-input-container class="form-input">
                        <label>Nom</label>
                        <input type="text" ng-model="vm.formData.Nom" required>
                      </md-input-container>

                    </div>

                    <!-- Row 2 -->
                    <div class="form-row tiny-space">

                     <md-input-container class="form-input" flex-gt-xs>
                        <label>Société</label>
                        <md-select ng-model="vm.formData.societe"  data-md-container-class="selectdemoSelectHeader" required>
                          <md-select-header class="demo-select-header">
                            <input ng-model="searchparcellecultural" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                          </md-select-header>
                          <md-option ng-value="data_societe" ng-repeat="data_societe in vm.data_societe_all | orderBy:'Rais_Social' | filter:searchparcellecultural"
                          >{{data_societe.Rais_Social}}
              </md-option>
                        </md-select>
                    </md-input-container>

                      <md-input-container class="form-input">
                        <label>Superficie</label>
                        <input type="number" ng-model="vm.formData.Superficie" ng-pattern="/^(?!0*(\.0+)?$)\d+(\.\d+)?$/" class="number_right" required>
                      </md-input-container>

                    </div>



                    <!-- Row 3 -->
                    <div class="form-row tiny-space">

                        <md-input-container class="form-input" flex-gt-xs>
                            <label>Date De Création</label>
                            <input type="date" ng-model="vm.formData.Date_Creatio_Ferme" required>
                          </md-input-container>

                      <md-input-container class="form-input">
                        <label>Gérant</label>
                        <input type="text" ng-model="vm.formData.Gerant">
                      </md-input-container>
                    </div>

                    <!-- Address -->
                    <div class="form-row tiny-space">
                        <md-input-container class="form-input full-width">
                          <label>Adresse</label>
                          <textarea ng-model="vm.formData.Adresse" rows="3" md-maxlength="100"></textarea>
                        </md-input-container>
                      </div>


                    <!-- Row 4 -->
                    <div class="form-row tiny-space">
                      <md-input-container class="form-input">
                        <label>Ville</label>
                        <input type="text" ng-model="vm.formData.Ville">
                      </md-input-container>

                      <md-input-container class="form-input">
                        <label>Fax</label>
                        <input type="text" ng-model="vm.formData.Fax">
                      </md-input-container>
                    </div>

                    <!-- Row 5 -->
                    <div class="form-row tiny-space">
                      <md-input-container class="form-input">
                        <label>Téléphone</label>
                        <input type="tel" ng-model="vm.formData.Tel">
                      </md-input-container>

                      <md-input-container class="form-input">
                        <label>Statut Foncier</label>
                        <input type="text" ng-model="vm.formData.statut_foncier">
                      </md-input-container>
                    </div>


                    <div class="form-row tiny-space">

                        <md-input-container class="form-input">
                            <label>Latitude</label>
                            <input type="number" name="latitude" ng-model="vm.formData.Latitude" class="number_right"
                                    step="any" >
                          </md-input-container>

                          <!-- Longitude Input -->
                          <md-input-container class="form-input">
                            <label>Longitude</label>
                            <input type="number" name="longitude" ng-model="vm.formData.Longitude" class="number_right"
                                    step="any"
                                   >
                           </md-input-container>

                       </div>

                       <div class="form-row tiny-space">


                          <md-input-container class="form-input">
                            <label>Altitude</label>
                            <input type="text" ng-model="vm.formData.Altitude"  >
                          </md-input-container>


                       </div>

                    <div class="form-actions">
                      <md-button class="md-raised md-primary custom-reset-button" ng-click="vm.reset()">
                        Reset
                      </md-button>

                      <md-button class="md-raised md-primary custom-button"  ng-click="(vm.formData.IDFermes) ? vm.modifier() : vm.ajouter()">
                        {{(vm.formData.IDFermes) ? 'Modifier': 'Ajouter'}}
                      </md-button>
                    </div>

                  </md-content>

                </div>




                <div id="grid2" class="grid  fade-in">

                  <div class="form-header">
                    <h2 class="form-title">Importation En Masse ?</h2>
                    <p class="form-subtitle">Suivez les étapes indiquées ci-dessous afin d'assurer une bonne configuration de
                      votre compte</p>
                  </div>

                  <md-card class="card" layout="column" style="padding: 10px;background: #F3F5F7;">

                    <div layout="row" layout-align="space-between center">
                      <div layout="row" layout-align="start center">
                        <img src="././images/main_configuration/xls.svg" alt="time"
                          style="width: 20px; height: 20px; margin-right: 5px;">
                        <h2 style="font-size: 16px; font-family: Poppins;">Canvas Fermes.xls</h2>
                      </div>
                      <md-button class="md-raised md-primary btn-download" ng-click="vm.exportToExcel()"
                        style="background-color: rgb(255 255 255); color: rgba(0, 0, 0, 0.87);">
                        Télécharger</md-button>
                    </div>


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      You can download the attached example and use it as a starting point for your own file.
                    </p>
                  </md-card>

                  <div class="centered-card hover_card" ng-if="!vm.isFileSelected" layout="column"
                    style="padding: 40px;background: #F8F8F9;border: 1px dashed #ccc;cursor: pointer;border-radius: 5px;"
                    ngf-drop="onDrop($files)" ng-click="triggerFileInput()">
                    <input type="file" id="fileInput" ngf-select="onFileSelected($file)" style="display: none;">


                    <img src="././images/main_configuration/file.svg" alt="time"
                      style="width: 20px; height: 20px; margin-right: 5px;">


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      Drop your file here, or <font color="#81BB26">browse</font>
                    </p>
                  </div>


                  <div class="centered-card " ng-if="vm.isFileSelected" layout="column"
                    style="padding: 40px;background: #F8F8F9;border: 2px dashed rgb(129 187 38);">



                    <img src="././images/main_configuration/file.svg" alt="time"
                      style="width: 20px; height: 20px; margin-right: 5px;">


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      Well uploaded
                    </p>
                  </div>

                  <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                      <p style="padding-left: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                        Supported formats: XLS, XLSX</p>
                    </div>
                    <p style="padding-right: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                      Maximum
                      size: 25MB</p>
                  </div>

                  <md-card class="card" layout="column" style="padding: 10px; background: #c2c5c7;" ng-if="vm.isFileSelected">

                    <div layout="row" layout-align="space-between center">

                      <div layout="row">
                        <img src="././images/main_configuration/file.svg" alt="file-icon"
                          style="margin-right: 10px;">

                        <div layout="column" style="line-height: 1.2;">
                          <h3 style="font-size: 10px;">
                            {{vm.fileName}}
                          </h3>
                          <p style="color: #63675d; font-family: Poppins; font-size: 10px; margin: 0;">
                            {{vm.fileSize}}
                          </p>
                        </div>
                      </div>


                      <p style="margin: 0;" ng-click="vm.delete_file()">
                        <img src="././images/main_configuration/close.svg" alt="close"
                          style="width: 20px; height: 20px; cursor: pointer;">
                      </p>
                    </div>
                  </md-card>
                  <md-button class="md-raised md-primary custom-button full-width-btn" ng-click="vm.integer()">
                    Intégrer
                  </md-button>


                  <md-card flex class="card_form_multi">
















                  </md-card>
                </div>
              </div>

              <div id="grid4" class="grid">
                <!--Table-->
                <div class="info-header unified_pad">
                  <h2 class="form-title" >Fermes Ajoutées ({{vm.data_societe.length}}) / Recently added <span class="badge-new">{{vm.new}}</span></h2>
                  <p class="form-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique
                    eleifend arcu, velar ipsum, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique
                    eleifend arcu, velar ipsum</p>
                </div>



                <div class="warn-header unified_pad fadeInOut_err" ng-if="vm.updateSelectedCount()>0">
                  <h2 class="warn-title">Checked items to delete ({{vm.updateSelectedCount()}})
                    <md-button class="md-raised md-warn delete-button pull_right" ng-click="vm.multiDelete()">
                      DELETE {{vm.updateSelectedCount()}} item(s)
                    </md-button>
                  </h2>
                </div>


                  <div class="warn-header unified_pad fadeInOut_err" ng-if="vm.errData.err">
                    <h2 class="warn-title"> This a One by one row to fix :
                      <ul>
                        <li>{{vm.errData.message}}</li>
                      </ul>
                    </h2>
                  </div>




                <div class="info-header unified_pad" id="tablescroll">
                  <table style="background-color: white; display: table;"  datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                    dt-instance="vm.dtInstance"  class="table table-striped table-sm table-responsive-sm table-hover jambo_table bulk_action">
                  </table>
                </div>

              </div>
</div>
