<md-dialog aria-label="ADATA formulaire" class="" id="model">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: #58aa4a;">
        <h2>Intégration des Données en Cours</h2>
      </div>
    </md-toolbar>

    

    <md-dialog-content style="background-color: #DCDCDC">


      <div class="md-dialog-content">

        <div layout="row" layout-wrap>
          <div flex-gt-sm="100" flex="">

            <div class="form-body" layout-wrap>
              <md-content style="background-color:transparent">

                <div class="margin-left-input" layout="row" layout-wrap flex>

                  <div flex="100" flex-gt-sm="100" layout="column">

                    <center>
                      <img src="../images/loading-73.gif" alt="">

                    </center>

                  </div>

                  <div flex="100" flex-gt-sm="100" layout="column">

                    <center>
                      Traitement en cours... Veuillez patienter.
                    </center>
                  </div>


                </div>



              </md-content>
            </div>
          </div>

        </div>




      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>