<div class="right_col" role="main">
  <div ng-controller="GrandesculturesSuividesstadesgcCtrl as pc" class="modal-demo">
    <span> {{"grandescultures" | translate}} <i class="fa fa-angle-right"></i> <b> {{"suividesstadesgc" | translate}} </b>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i> <b>{{"Détails" | translate}}</b></bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
      <a class="dt-button pull-right" ng-click="pc.printdetails(pc.expeditionByID);" ng-if="!pc.showtable" title="{{'Imprimer' | translate}}"><i class="fa fa-print"></i></a>

    </span>
    <center style="padding: 10px;">

      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>

          <tr class="spaceUnder">

            <td>{{"Campagne agricole" | translate}}
              <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1"
                data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;">{{"Campagne agricole" | translate}} ..</option>
                <option ng-repeat="compagne in pc.compagne_array" ng-value="compagne">{{ compagne.Code }} De {{compagne.Date_debut | date:'dd/MM/yyyy'}} À {{compagne.Date_Fin | date:'dd/MM/yyyy'}}</option>
              </select>
            </td>

            <td>&nbsp;&nbsp;</td>
            <td>De
              <input id="date_debut" type="date" onkeydown="return false" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>A
              <input id="date_fin" type="date" onkeydown="return false" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

            <td>&nbsp;&nbsp;</td>

          </tr>

          <tr>
            <td>{{"CultureFilter" | translate}}
              <select id="culture" class="form-control  input-sm selectpicker" ng-model="culture" ng-change="pc.culture_change()" data-live-search="true" title="{{'Culture' | translate}}..." data-selected-text-format="count > 1" data-size="10">
                <option selected disabled value="" style="background-color: #ffffff;">{{"Culture" | translate}} ..</option>
                <option ng-repeat="culture in pc.cultures" ng-value="culture.ID" ng-if="culture.filier == 3">{{ culture.Culture }}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Parcelle culturale" | translate}}
              <select id="Parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle.parcelle" ng-change="pc.parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Parcelle culturale' | translate}}">
                  <option ng-repeat="parcellecultural in pc.parcellescultural" ng-value="parcellecultural">{{parcellecultural.Reference + ' ' + parcellecultural.Ref}} ({{(parcellecultural.Statut_Cycle == 1) ? 'En cours' : 'Arrachée'}})</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Stade phénologique" | translate}}
              <select id="Stade" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="stade.stade" ng-change="pc.stade_change()" multiple data-live-search="true" title="{{'Stade phénologique' | translate}} ..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'stade' | translate}} ...">
                  <option ng-repeat="stade in pc.stades" ng-value="stade.IDStade_phenologique">{{ stade.code }}</option>
                </optgroup>
              </select>
            </td>
          </tr>
        </table><br />
        <md-button class="md-raised" ng-click="search()" title="{{'Rechercher' | translate}}">{{"Valider" | translate}}</md-button><br />
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
      </div>
    </center>
    <div class="table-responsive" style="" ng-show="pc.showtable">
      <table id="table" style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>

    </div>
    <div ng-show="!pc.showtable">
      <br />
      <div style="overflow-x:auto;" id="tab_1">
        <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
          <thead>
            <tr>
              <th>{{"Date de constatation" | translate}}</th>
              <th>{{"Parcelles culturales" | translate}}</th>
              <th>{{"Culture" | translate}}</th>
              <th>{{"Variete" | translate}}</th>
              <th>{{"Stade phénologique" | translate}}</th>
              <th>{{"Éléments de suivi" | translate}}</th>
              <th>{{"Qualité du stade" | translate}}</th>
              <th>{{"Moyenne" | translate}}</th>
              <th>{{"Maximum" | translate}}</th>
              <th>{{"Minimum" | translate}}</th>
              <th>{{"Densité (g/m2)" | translate}}</th>
              <th>{{"%Leveé" | translate}}</th>
              <th>{{"Date de création" | translate}}</th>
              <th>{{"Observateur" | translate}}</th>

            </tr>
          </thead>
          <tr>
            <td>{{ pc.expeditionByID.date_constation | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.expeditionByID.ParcelleCulturaleReference + ' ' + pc.expeditionByID.ParcelleCulturale }}</td>
            <td>{{ pc.expeditionByID.Culture }}</td>
            <td>{{ pc.expeditionByID.Variete }}</td>
            <td>{{ pc.expeditionByID.Stade_phenologique }}</td>
            <td>{{ pc.expeditionByID.element_suivi_gc }}</td>
            <td>{{ pc.expeditionByID.Qualite_Stade }}</td>
            <td>{{ pc.expeditionByID.Moyenne  | round}}</td>
            <td>{{ pc.expeditionByID.Maximum  | round}}</td>
            <td>{{ pc.expeditionByID.Minimum  | round}}</td>
            <td>{{ pc.expeditionByID.densite}}</td>
            <td>{{ pc.expeditionByID.levee | toFixed}}</td>
            <td>{{ pc.expeditionByID.DateCreated | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.expeditionByID.operateur }}</td>
          </tr>
        </table>
      </div>

      <br />
      <center>
        <b>Observation</b>
        <div class="css-typing">
          <p>
            {{ pc.expeditionByID.observation }}
          </p>
        </div>
      </center>



      <div class="col-md-12 col-sm-12 col-xs-12" id="tab_66"><br />
        <div style="overflow-x:auto;" ng-repeat="mesures in pc.Mesures">
          <fieldset>
            <legend>{{"Mesure" | translate}} {{$index+1}} </legend>
            <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
              <thead>
                <tr>
                  <th>{{"Valeur" | translate}}</th>
                  <th>{{"Latitude" | translate}}</th>
                  <th>{{"Longitude" | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td width="25%">{{ mesures.valeur | round}}</td>
                  <td width="25%">{{ mesures.lat_echantillon }}</td>
                  <td width="25%">{{ mesures.long_echantillon }}</td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div><br />

        <div style="overflow-x:auto;" ng-if="pc.Mesures.length == 0">
          <fieldset>
            <legend>{{"Mesure" | translate}} </legend>
            <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
              <thead>
                <tr>
                  <th>{{"Valeur" | translate}}</th>
                  <th>{{"Qualité" | translate}}</th>
                  <th>{{"Latitude" | translate}}</th>
                  <th>{{"Longitude" | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="pc.Mesures.length == 0">
                  <td colspan="4"></td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>

      </div>



    </div>