<div class="right_col" role="main">
  <div ng-controller="PalmierdattierComptagearbresyntheseCtrl as pc" class="modal-demo">
    <span> {{"Opérations clés" | translate}} <i class="fa fa-angle-right"></i> {{"Comptage par arbre" | translate}}<i class="fa fa-angle-right"></i> <b>{{"Vue synthétique" | translate}}</b></span>

    <center class="dontDisplay">
      <div id="filter_form" style="display:none;">
        <div class="animated fadeIn selectpicker_widget">

          <table>
            <tr>
              <td>{{"Parcelle culturale" | translate}}</td>
              <td>&nbsp;&nbsp;</td>
              <td>{{"Élément de comptage" | translate}} (*)</td>
              <td>&nbsp;&nbsp;</td>
              <td>{{"De" | translate}}</td>
              <td>&nbsp;&nbsp;</td>
              <td>{{"A" | translate}}</td>
              <td>&nbsp;&nbsp;</td>
              <td></td>
            </tr>
            <tr>

              <td>
                <select id="parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle.parcelle" ng-change="pc.parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                  data-selected-text-format="count > 1" data-size="10">
                  <optgroup label="{{'Parcelle culturale' | translate}}">
                    <option ng-repeat="parcelle in pc.parcelles_array" ng-value="parcelle.ID">{{ parcelle.Ref }}</option>
                  </optgroup>
                </select>
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <select id="Element" class="form-control  input-sm selectpicker" ng-model="element.element" ng-change="pc.element_change()" data-live-search="true" title="{{'Élément de comptage' | translate}} ..."
                  data-selected-text-format="count > 1" data-size="10">
                  <option disabled value="" style="background-color: #ffffff;"> {{"Élément de comptage" | translate}} ...</option>
                  <option ng-repeat="ElementComptage in pc.ElementComptage" ng-value="ElementComptage">{{ ElementComptage.Nom }}</option>
                </select>
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="pc.date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="pc.date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
              </td>
              <td>&nbsp;&nbsp;</td>
              <td>
                <md-button class="md-raised" ng-click="pc.search()" title="{{'Rechercher' | translate}}">{{"Valider" | translate}}</md-button>
              </td>
            </tr>

          </table>
          <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
        </div>
        <br />
      </div>
    </center>

    <div class="dontshowit">
      <a class="dt-button pull-right" ui-sref="comptagearbremap" title="{{'Vue cartographique' | translate}}"><i class="fa fa-map-marker"></i></a>
      <a class="dt-button pull-right" ui-sref="etatcomptagepararbre" title="{{'Etat comptage par arbre' | translate}}"><i class="fa fa-table"></i></a>
      <a class="dt-button pull-right" ui-sref="comptageArbre" title="{{'Comptage arbre' | translate}}"><i class="fa fa-list"></i></a>
      <a class="dt-button pull-right" ng-click="exportData('excel')" title="EXCEL"><i class="fa fa-file-excel-o"></i></a>
      <a class="dt-button pull-right" ng-click="exportData('pdf')" title="PDF"><i class="fa fa-file-pdf-o"></i></a>
      <a class="dt-button pull-right" ng-click="print()"><i class="fa fa-print" title="{{'Imprimer' | translate}}"></i></a>
      <a class="dt-button pull-right" ng-click="ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
    </div>
    <br /><br />
    <div id="wdr-component"></div>
  </div>

</div>