<div class="right_col" role="main">
  <div ng-controller="PalmierdattierComptagearbreCtrl as pc" class="modal-demo">
    <span> {{"Opérations clés" | translate}} <i class="fa fa-angle-right"></i> <b>{{"Comptage par arbre" | translate}}</b></span>

    <center class="dontDisplay">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>{{"Parcelle culturale" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"De" | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"A" | translate}}</td>
          </tr>
          <tr>

            <td>
              <select id="parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle.parcelle" ng-change="pc.parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Parcelle culturale' | translate}}">
                  <option ng-repeat="parcelle in pc.parcelles_array" ng-value="parcelle.ID">{{ parcelle.Ref }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>

            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="pc.date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="pc.date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

          </tr>

        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>


    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover table-bordered row-border hover" datatable="" dt-options="pc.dtOptions" dt-instance="pc.dtInstance" dt-columns="pc.dtColumns" id="dt_pc">
      </table>
    </div>
  </div>

</div>