<div class="right_col" role="main">
  <div ng-controller="PalmierdattierEstimationsparparcelleCtrl as pc" class="modal-demo">
    <span> {{'Estimations (arbo)' | translate}} <i class="fa fa-angle-right"></i> <b>{{'Estimationsparparcelle' | translate}}</b>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i> <b>{{'Details' | translate}}</b></bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
    </span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>{{'Parcelleculturale' | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{'De' | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{'A' | translate}}</td>
          </tr>
          <tr>
            <td>
              <select id="Parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle.parcelle" ng-change="parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Parcelle culturale' | translate}}">
                  <option ng-repeat="parcellecultural in pc.parcellescultural" ng-value="parcellecultural.ID">{{ parcellecultural.Ref }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

          </tr>

        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <div class="table-responsive" ng-show="pc.showtable">
      <table style="background-color: white" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>

    <div ng-show="!pc.showtable">
      <br />
      <div style="overflow-x:auto;" class="col-md-12 col-sm-12 col-xs-12">
        <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
          <thead>
            <tr>
              <th>{{'Date' | translate}}</th>
              <th>{{'Parcelleculturale' | translate}}</th>
              <th>{{'Culture' | translate}}</th>
              <th>{{'Variete' | translate}}</th>
              <th>{{'PorteGreffe' | translate}}</th>
              <th>{{'NbrArbre' | translate}}</th>
              <th>{{'PoidsmoyenpararbreKg' | translate}}</th>
              <th>{{'TonnageestimeTonne' | translate}}</th>
              <th>{{'Produitderendement' | translate}}</th>
              <th>{{'Observateur' | translate}}</th>
            </tr>
          </thead>
          <tr>
            <td>{{ pc.EstimByID.DATE  | date:'dd/MM/yyyy'}}</td>
            <td>{{ pc.EstimByID.ref }}</td>
            <td>{{ pc.EstimByID.Culture }}</td>
            <td>{{ pc.EstimByID.Variete }}</td>
            <td>{{ pc.EstimByID.Porte_greffe }}</td>
            <td align="right">{{ pc.EstimByID.NBR_ARB_PROD }}</td>
            <td align="right">{{ pc.EstimByID.Poids_moy_fruit | number:2 }}</td>
            <td align="right">{{ pc.EstimByID.Poids_moy_fruit * pc.EstimByID.NBR_ARB_PROD / 1000 | number:2}}</td>
            <td>{{ pc.EstimByID.designation }}</td>
            <td>{{ pc.EstimByID.CreatedBy }}</td>
          </tr>
        </table>
      </div>
      <div class="row">
        <!-- form input mask -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div style="overflow-x:auto;">
            <fieldset>
              <legend>{{'Detailparcategroriedarbre' | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{'Categoriearbre' | translate}}</th>
                    <th>{{'Nbrdefruit' | translate}}</th>
                    <th>%{{'arbreparparcelle' | translate}}</th>
                  </tr>
                </thead>
                <tr ng-repeat="CategorieByEstim in pc.CategorieByEstim">
                  <td>{{ CategorieByEstim.Categorie_arbre }}</td>
                  <td align="right">{{ CategorieByEstim.Nbre_fruit | number:2}}</td>
                  <td align="right">{{ CategorieByEstim.Porcentage | number:2}}</td>
                </tr>
              </table>
            </fieldset>
          </div>
        </div>


        <!-- form input mask -->

      </div>






    </div>

  </div>

</div>