<div ng-controller="ConfigurationSecteursIrrigationVSousparcelleParcelleculturaleCtrl as vm" style="padding-right: 24px;
    padding-left: 24px;">


<div class="form-header" >
  <h2 class="form-title">&nbsp;&nbsp;Attachement Sous-Parcelle/Parcelle Culturale</h2>
</div>
<center>
  <div class="form-row tiny-space sotiny" style="width:30%">
    <md-input-container class="form-input" >
        <label>{{(vm.bodydt.IDFermes) ? '' : 'Ferme'}}</label>
        <md-select ng-model="vm.bodydt.IDFermes" ng-change="vm.get_data()"  data-md-container-class="selectdemoSelectHeader" >
          <md-select-header class="demo-select-header">
            <input ng-model="search_str" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
          </md-select-header>
          <md-option ng-value="data_ferme.IDFermes" ng-repeat="data_ferme in vm.data_ferme | orderBy:'Nom' | filter:search_str"
            >{{data_ferme.Nom}}
           </md-option>
        </md-select>
    </md-input-container>

  </div>

  </center>

<div layout="row" layout-align="space-between center" class="p-4" style="height: 50vh;">

  <md-card flex="40" class="p-2" style="">
    <md-toolbar class="md-primary" style="min-height: 40px; height: 40px; line-height: 40px;background-color: #F2F2F2;color: #767676;">
    <div class="md-toolbar-tools" style="min-height: 40px;" >
      <span style="font-weight: 600; font-size: 12px;">Parcelles Culturale ({{vm.parcelle_culturale.length}})</span>
    </div>
  </md-toolbar>
    <md-content layout="column" style="height: calc(100% - 64px); overflow-y: auto;">
      <md-list style="border-radius: 12px;">
        <md-list-item ng-repeat="parcelle in vm.parcelle_culturale"
                      ng-click="vm.selectParcelle(parcelle, $index)"
                      ng-class="{'selected': parcelle.selected }"
                       class="sous-item">
                      <table class="compact-table">
                       <tr><td><b>{{ parcelle.Ref }}</b></td></tr>
                       <tr><td>&nbsp;&nbsp;<i>{{ (parcelle.Statut_Cycle == 2) ? 'Arrachée' : 'En cours' }}</i></td></tr>
                      </table>

        </md-list-item>


        <md-list-item ng-if="vm.parcelle_culturale.length==0" ng-repeat="i in [].constructor(10) track by $index">
           <p ng-if="vm.bodydt.IDFermes && $first">Aucune parcelle culturale trouvée {{(vm.sous_parcelle.length>0) ? '' : 'ou toutes les parcelles sont attachées'}} </p>
           <p ng-if="!vm.bodydt.IDFermes && $first">Choose your farm</p>
        </md-list-item>

      </md-list>
    </md-content>
  </md-card>



  <!-- Middle Controls -->
  <div layout="column" layout-align="center center" class="p-4">
    <!--<md-button class="md-icon-button md-primary" ng-click="vm.attachSousParcelle()" ng-disabled="!vm.selectedParcelle || !vm.selectedSousParcelle">

    </md-button>-->
    <md-button class="no-shadow-btn" ng-click="vm.attachSousParcelle()" >
      <img src="./images/main_configuration/btnright.svg" alt="right" style="height:40px"/>
      </md-button>
    <!--<md-button class="md-icon-button md-warn" ng-click="vm.resetSelection()">

    </md-button>-->

      <md-button class="no-shadow-btn" ng-click="vm.detachSousParcelle()" >
    <img src="././images/main_configuration/btnleft.svg" alt="entreprise" style="height:40px">
      </md-button>
      <!--<md-button class="md-icon-button md-accent" ng-click="vm.detachSousParcelle()" ng-disabled="!vm.selectedSousParcelle">
      <-
    </md-button>-->

  </div>

  <!-- Right Grid: Sous Parcelles -->
  <md-card flex="40" class="p-2" style="">
    <md-toolbar class="md-accent" style="min-height: 40px; height: 40px; line-height: 40px;background-color: #F2F2F2;color: #767676;">
    <div class="md-toolbar-tools" style="min-height: 40px;" >
      <span style="font-weight: 600; font-size: 12px;">Sous-Parcelles ({{vm.sous_parcelle.length}})</span>
    </div>
  </md-toolbar>
    <md-content layout="column" style="height: calc(100% - 64px); overflow-y: auto;">
      <md-list>
        <md-list-item ng-repeat="sous in vm.sous_parcelle"
                      ng-click="vm.selectSousParcelle(sous, $index)"
                      ng-class="{'selected': sous.selected }" class="sous-item">
                      <table class="compact-table">
                       <tr><td><b>{{ sous.Ref }}</b></td></tr>
                       <tr><td>&nbsp;&nbsp;<i>{{ (sous.parcelleculturalle.length>0) ? 'Attached to '+ sous.parcelleculturalle[0].Ref : 'Not attached' }}</i></td></tr>
                      </table>

        </md-list-item>

        <md-list-item ng-if="vm.sous_parcelle.length==0" ng-repeat="i in [].constructor(10) track by $index">
           <p ng-if="vm.bodydt.IDFermes && $first">Aucune sous parcelle trouvée</p>
           <p ng-if="!vm.bodydt.IDFermes && $first">Choose your farm</p>
        </md-list-item>

      </md-list>
    </md-content>
  </md-card>
</div>

<style>
  .selected {
    background-color: #81bb26;
  }
</style>


</div>
