<div class="right_col" role="main">
  <div ng-controller="PointageSuivirecolteCtrl as pc" class="modal-demo">
    <span> Pointage <i class="fa fa-angle-right"></i><b> Suivi récolte</b>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i> <b>Détails</b></bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
      <a class="pull-right dt-withcolor-button-green" ng-if="pc.pointageByID.Type == 1 && !pc.showtable">Pointage horaire</a>
      <a class="pull-right dt-withcolor-button-orange" ng-if="pc.pointageByID.Type == 2  && !pc.showtable">Pointage à l'unité</a>
    </span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>
            <td>De</td>
            <td>&nbsp;&nbsp;</td>
            <td>A</td>
          </tr>
          <tr>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>

          </tr>

        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <div class="table-responsive" style="" ng-show="pc.showtable">
      <table id="table" style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
        <tfoot style="background: #f9f9f9;">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>

    </div>
    <div ng-show="!pc.showtable">
      <br />
      <div style="overflow-x:auto;">
        <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
          <thead>
            <tr>
              <th>Date</th>
              <th>Opération</th>
              <th>Coût</th>
            </tr>
          </thead>
          <tr>
            <td>{{ pc.pointageByID.DATE | date:'dd/MM/yyyy'}}</td>
            <td>{{ pc.pointageByID.Oper_liste }}</td>
            <td align="right">{{ pc.setasdouble(pc.pointageByID.Cout_Totale) }}</td>
          </tr>
        </table>
      </div>
      <div style="overflow-x:auto;">
        <fieldset>
          <legend>Personnel</legend>
          <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
            <thead>
              <tr>
                <th>Personnel</th>
                <th>HJ</th>
                <th>HS</th>
                <th>JC</th>
                <th>D.J1</th>
                <th>D.J2</th>
                <th>HS 25%</th>
                <th>HS 50%</th>
                <th>HS 100%</th>
                <th>HS NM%</th>
                <th>HSCU</th>
                <th>Quantité</th>
                <th>Unité</th>
                <th>Heure début</th>
                <th>Heure fin</th>
                <th>Coût</th>
                <th>Montant prime d'opération</th>
                <th>Jour férié</th>
              </tr>
            </thead>
            <tr ng-repeat="personnels in pc.personnels">
              <td>{{ personnels.Matricule + ' ' + personnels.Nom + ' ' + personnels.Prenom }}</td>
              <td align="right">{{ personnels.HJ }}</td>
              <td align="right">{{ personnels.Heure_sup}}</td>
              <td>
                <i class="fa fa-check" ng-if="personnels.JC"></i>
                <i class="fa fa-remove" ng-if="!personnels.JC"></i>
              </td>
              <td>
                <i class="fa fa-check" ng-if="personnels.DJ1"></i>
                <i class="fa fa-remove" ng-if="!personnels.DJ1"></i>
              </td>
              <td>
                <i class="fa fa-check" ng-if="personnels.DJ2"></i>
                <i class="fa fa-remove" ng-if="!personnels.DJ2"></i>
              </td>
              <td align="right">{{ personnels.HS_25 }}</td>
              <td align="right">{{ personnels.HS_50 }}</td>
              <td align="right">{{ personnels.HS_100 }}</td>
              <td align="right">{{ personnels.HS_NM }}</td>
              <td align="right">{{ personnels.HSCU }}</td>
              <td align="right">{{ personnels.qte | number:2}}</td>
              <td>{{ personnels.unite }}</td>
              <td>{{ pc.getFormatTime(personnels.heure_debut) }}</td>
              <td>{{ pc.getFormatTime(personnels.heure_fin) }}</td>
              <td align="right">{{ personnels.cout | number:2}}</td>
              <td align="right">{{ personnels.Montant_prime | number:2}}</td>
              <td>
                <i class="fa fa-check" ng-if="personnels.Jour_Ferie"></i>
                <i class="fa fa-remove" ng-if="!personnels.Jour_Ferie"></i>
              </td>
            </tr>

            <tr ng-if="pc.personnels.length == 0">
              <td colspan="18">
                <center>No data found</center>
              </td>
            </tr>

            <tfoot style="background: #f9f9f9;">
              <tr>
                <th>Compteur : {{ pc.personnels.length }}</th>
                <th align="right">HJ total : {{ pc.getSumcout_total_hj_total(pc.personnels) | number:2 }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th align="right">Quantité total : {{ pc.getSumcout_total_quantite_total(pc.personnels) | number:2 }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th align="right">Coût total : {{ pc.getSumcout_total_cout_total(pc.personnels) | number:2}}</th>
                <th align="right">Montant total : {{ pc.getSumcout_total_montant_total(pc.personnels)  | number:2 }}</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </fieldset>
      </div>

      <div style="overflow-x:auto;">
        <fieldset>
          <legend>Parcelles</legend>
          <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
            <thead>
              <tr>
                <th>Parcelle</th>
                <th>Sup(Ha)</th>
                <th>Produit</th>
                <th>Unité</th>
                <th ng-repeat="callibres in pc.callibres">{{callibres.Libelle}}</th>
                <th>Total</th>
              </tr>
            </thead>
            <tr ng-repeat="parcelles in pc.parcelles">
              <td>{{ parcelles.Ref }}</td>
              <td align="right">{{ parcelles.Sup | number:2}}</td>
              <td>{{ parcelles.Designation }}</td>
              <td>{{ parcelles.unite }} </td>
              <td ng-repeat="callibres in pc.callibres" align="right">
                {{ (pc.parcellebycallibres | filter:{'IDCategories_recolte': callibres.IDCategories_recolte, 'IDTracabilite_recolte' : parcelles.IDTracabilite_recolte})[0].Quantite || '0.00' | number:2}}
              </td>
              <td align="right"> {{ pc.gettotalrowcalibre(pc.parcellebycallibres, parcelles.IDTracabilite_recolte) || '0.00' | number:2}} </td>
            </tr>
            <tr ng-if="pc.parcelles.length == 0">
              <td colspan="{{5 + pc.callibres.length}}">
                <center>No data found</center>
              </td>
            </tr>
            <tfoot style="background: #f9f9f9;">
              <tr>
                <th>Compteur : {{ pc.parcelles.length }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th align="right">Quantité total : {{ pc.gettotalallcalibre(pc.parcellebycallibres) || '0.00' | number:2}} </th>
              </tr>
            </tfoot>

          </table>
        </fieldset>
      </div>


    </div>
    <br /><br />
  </div>

</div>