<div class="right_col" role="main">
  <div ng-controller="RessourceshydriquesSuiviressourceshydriquesetatCtrl as pc">
    <span> {{"ressources_hydriques" | translate}} <i class="fa fa-angle-right"></i> {{"Suivi_des_ressources_hydriques" | translate}} <i class="fa fa-angle-right"></i> <b>{{"Vue synthétique" | translate}}</b></span>
    <center class="dontDisplay">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>{{"Campagne" | translate}} (<font color="red">*</font>)</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Région" | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Ferme" | translate}} (<font color="red">*</font>)</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Mois" | translate}} (<font color="red">*</font>)</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Type de ressources" | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Référence de la ressource" | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td>
              <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1"
                data-size="10">
                <option ng-repeat="compagne in pc.compagne_array | unique: 'Code'" ng-value="compagne">{{ compagne.Code }}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Region" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Region" ng-change="pc.Region_change()" multiple data-live-search="true" title="{{'Région' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Région' | translate}}">
                  <option ng-repeat="Regions in pc.Regions | orderBy:'Region'" ng-value="Regions.ID">{{ Regions.Region }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Ferme" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Ferme" ng-change="pc.Ferme_change()" multiple data-live-search="true" title="{{'Ferme' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Ferme' | translate}}">
                  <option ng-repeat="Fermes in pc.Fermes | orderBy:'Nom'" ng-value="Fermes.IDFermes">{{ Fermes.Nom }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Mois" class="form-control  input-sm selectpicker" data-size="10" data-actions-box='true' ng-model="mois.mois" ng-change="pc.Mois_change()" multiple data-live-search="true" title="Mois ..."
                data-selected-text-format="count > 1">
                <optgroup label="Mois">
                  <option ng-repeat="moiscampagne in allmoiscampagne" ng-value="moiscampagne">{{moiscampagne.split('-')[1] | setMonthName}} / {{ moiscampagne.split('-')[0] }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Type" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Type" ng-change="pc.type_change()" multiple data-live-search="true" title="{{'Type de la ressource hydrique' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Type de la ressource hydrique' | translate}}">
                  <option ng-repeat="Type in pc.Types" ng-value="Type.Type">{{ Type.Name }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Reference" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Reference" ng-change="pc.reference_change()" multiple data-live-search="true" title="{{'Référence de la ressource' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Référence de la ressource' | translate}}">
                  <option ng-repeat="Reference in pc.References | filter:filterFn | orderBy:'ReferenceRessourceHydrique'" ng-value="Reference.ID">{{ Reference.ReferenceRessourceHydrique }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <md-button class="md-raised" ng-click="pc.Search()" title="{{'Rechercher' | translate}}" ng-disabled="pc.canSearch()">{{"Valider" | translate}}</md-button>
            </td>
          </tr>

        </table>
        <a class="btn" href="" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <br />

    <div class="table-responsive dontDisplay">
      <div class="dt-buttons" style="float:right">
         <a class="dt-button pull-right" ui-sref="suiviressourceshydriquesmap" title="{{'Vue cartographique' | translate}}"><i class="fa fa-map-marker"></i></a>
        <a class="dt-button pull-right" ui-sref="Suiviressourceshydriques" title="{{'Suivi_des_ressources_hydriques' | translate}}"><i class="fa fa-columns"></i></a>
        <button class="dt-button " tabindex="0" aria-controls="DataTables_Table_0" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><span><i class="fa fa-search"></i></span></button>
        <a class="dt-button pull-right"><i class="fa fa-file-excel-o " ng-click="exportData('excel')" title="EXCEL"></i></a>
        <a class="dt-button pull-right"><i class="fa fa-file-pdf-o" ng-click="exportData('pdf')" title="PDF"></i></a>
      </div>
    </div>

    <br />
    <!--tableFixHead-->
    <div class="x_content">
      <div id="wdr-Pivot_TableauDernieresSaisiesParUtilisateur" style="height:400;"></div>
    </div>
  </div>
</div>
