<div class="right_col" role="main">
  <div ng-controller="RessourceshydriquesSuiviinterventionsequipementsSyntheseCtrl as pc">
    <span> {{"ressources_hydriques" | translate}} <i class="fa fa-angle-right"></i> {{"suivi_interventions_equipements" | translate}} <i class="fa fa-angle-right"></i> <b>{{"Vue synthétique" | translate}}</b></span>
    <center class="dontDisplay">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">

        <table>
          <tr>
            <td>{{"Campagne" | translate}} (<font color="red">*</font>)</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Ferme" | translate}} (<font color="red">*</font>)</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Mois" | translate}} (<font color="red">*</font>)</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Type de ressources" | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>{{"Référence de la ressource" | translate}}</td>
            <td>&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td>
              <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1"
                data-size="10">
                <option ng-repeat="compagne in pc.compagne_array | unique: 'Code'" ng-value="compagne">{{ compagne.Code }}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Ferme" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Ferme" ng-change="pc.Ferme_change()" multiple data-live-search="true" title="{{'Ferme' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Ferme' | translate}}">
                  <option ng-repeat="Fermes in pc.Fermes | orderBy:'Nom'" ng-value="Fermes.IDFermes">{{ Fermes.Nom }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Mois" class="form-control  input-sm selectpicker" data-size="10" data-actions-box='true' ng-model="mois.mois" ng-change="pc.Mois_change()" multiple data-live-search="true" title="Mois ..."
                data-selected-text-format="count > 1">
                <optgroup label="Mois">
                  <option ng-repeat="moiscampagne in allmoiscampagne" ng-value="moiscampagne">{{moiscampagne.split('-')[1] | setMonthName}} / {{ moiscampagne.split('-')[0] }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Type" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Type" ng-change="pc.type_change()" multiple data-live-search="true" title="{{'Type de la ressource hydrique' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Type de la ressource hydrique' | translate}}">
                  <option ng-repeat="Type in pc.Types" ng-value="Type.Type">{{ Type.Name }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="Reference" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Reference" ng-change="pc.reference_change()" multiple data-live-search="true" title="{{'Référence de la ressource' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Référence de la ressource' | translate}}">
                  <option ng-repeat="Reference in pc.References | filter:filterFn | orderBy:'ReferenceRessourceHydrique'" ng-value="Reference.ID">{{ Reference.ReferenceRessourceHydrique }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <md-button class="md-raised" ng-click="pc.Search()" title="{{'Rechercher' | translate}}" ng-disabled="pc.canSearch()">{{"Valider" | translate}}</md-button>
            </td>
          </tr>

        </table>
        <a class="btn" href="" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


      </div>
    </center>
    <br />

    <div class="table-responsive dontDisplay">
      <div class="dt-buttons" style="float:right">
        <a class="dt-button pull-right" ui-sref="suiviinterventionsequipements" title="Suivi des interventions & équipements"><i class="fa fa-columns"></i></a>
        <button class="dt-button " tabindex="0" aria-controls="DataTables_Table_0" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><span><i class="fa fa-search"></i></span></button>

        <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" ng-click="pc.printExcel($e)" title="EXCEL"><span><i class="fa fa-file-excel-o"></i></span></button>
      </div>
    </div>

    <br />
    <!--tableFixHead-->
    <div class="table-responsive " id="printThis">
      <!--tableFixHead-->
      <table style="background-color: white" id="tableDataShow" border="1" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action  printtable">
        <thead>
          <tr>
            <th colspan="6"></th>
            <th colspan="4" style="background-color:#f2ff36">
              <center>Pompes</center>
            </th>
            <th colspan="4" style="background-color:#96ce8c">
              <center>Canalisation remontée d'eau</center>
            </th>
            <th colspan="7">
              <center>Composantes électriques</center>
            </th>
          </tr>
          <tr>
            <th class="oneline">{{"Date de suivi" | translate}}</th>
            <th class="oneline">{{"Campagne" | translate}}</th>
            <th class="oneline">{{"Mois" | translate}}</th>
            <th class="oneline">{{"Ferme" | translate}}</th>
            <th class="oneline">{{"Type de la ressource hydrique" | translate}}</th>
            <th class="oneline">{{"Référence de la ressource" | translate}}</th>

            <th class="oneline" style="background-color:#f2ff36">{{"Marque" | translate}}</th>
            <th class="oneline" style="background-color:#f2ff36">{{"Modèle" | translate}}</th>
            <th class="oneline" style="background-color:#f2ff36">{{"Puissance (kw)" | translate}}</th>
            <th class="oneline" style="background-color:#f2ff36">{{"Nombre des turbines" | translate}}</th>

            <th class="oneline" style="background-color:#96ce8c">{{"Diamètre (mm)" | translate}}</th>
            <th class="oneline" style="background-color:#96ce8c">{{"Type bride" | translate}}</th>
            <th class="oneline" style="background-color:#96ce8c">{{"Longeur par unité (m)" | translate}}</th>
            <th class="oneline" style="background-color:#96ce8c">{{"Nombre" | translate}}</th>

            <th class="oneline">{{"Type de démarrage" | translate}}</th>
            <th class="oneline">{{"Marque" | translate}}</th>
            <th class="oneline">{{"Modèle" | translate}}</th>
            <th class="oneline">{{"Puissance nominale (kw)" | translate}}</th>
            <th class="oneline">{{"Diamètre cable (mm)" | translate}}</th>
            <th class="oneline">{{"Longueur cable (m)" | translate}}</th>
            <th class="oneline">{{"Contrôle de niveau" | translate}}</th>
          </tr>
        </thead>

        <tr ng-repeat="d in dataSource">
          <td class="oneline" ng-if="d.RowNum == '1'">{{d.DateSuivi| date:'dd/MM/yyyy'}}</td>
          <td class="oneline" ng-if="d.RowNum !== '1'"></td>
          <td class="oneline" ng-if="d.RowNum == '1'">{{d.Campagne}}</td>
          <td class="oneline" ng-if="d.RowNum !== '1'"></td>
          <td class="oneline" ng-if="d.RowNum == '1'">{{d.Mois}}</td>
          <td class="oneline" ng-if="d.RowNum !== '1'"></td>
          <td class="oneline" ng-if="d.RowNum == '1'">{{d.Ferme}}</td>
          <td class="oneline" ng-if="d.RowNum !== '1'"></td>
          <td class="oneline" ng-if="d.RowNum == '1'">{{d.Type}}</td>
          <td class="oneline" ng-if="d.RowNum !== '1'"></td>
          <td class="oneline" ng-if="d.RowNum == '1'">{{d.Reference}}</td>
          <td class="oneline" ng-if="d.RowNum !== '1'"></td>
          <td class="oneline" style="background-color:#f2ff36">{{d.Marque}}</td>
          <td class="oneline" style="background-color:#f2ff36">{{d.Modele}}</td>
          <td class="oneline" style="background-color:#f2ff36">{{d.Puissance}}</td>
          <td class="oneline" style="background-color:#f2ff36">{{d.NombreTurbines}}</td>
          <td class="oneline" style="background-color:#96ce8c">{{d.Diametre}}</td>
          <td class="oneline" style="background-color:#96ce8c">{{d.TypeBride}}</td>
          <td class="oneline" style="background-color:#96ce8c">{{d.LongeurUnite}}</td>
          <td class="oneline" style="background-color:#96ce8c">{{d.Nombre}}</td>
          <td class="oneline" style="background-color:rgb(213 172 159)">{{d.TypeDemarrage}}</td>
          <td class="oneline" style="background-color:rgb(213 172 159)">{{d.marque_composantes_electriques}}</td>
          <td class="oneline" style="background-color:rgb(213 172 159)">{{d.Modele_composantes_electriques}}</td>
          <td class="oneline" style="background-color:rgb(213 172 159)">{{d.PuissanceNominale}}</td>
          <td class="oneline" style="background-color:rgb(213 172 159)">{{d.DiametreCable}}</td>
          <td class="oneline" style="background-color:rgb(213 172 159)">{{d.LongueurCable}}</td>
          <td class="oneline" style="background-color:rgb(213 172 159)">{{(d.ControleNiveau) ? 'Oui' : 'Non'}}</td>
        </tr>


        <tr ng-if="dataSource.length ==0">
          <td colspan="21">
            <center>
              <br /><br /><br /><br /><br /><br /><br />
              <img src='././images/ic_notfound_c.png' /><br />
              <font color='#a5a5a5' size='4' style='font-family:system-ui;'><b>Sorry</b> Data Not Available</b>, Please Check The <b>Filtre Settings</b></font>
              <br /><br /><br /><br /><br /><br /><br />
            </center>
          </td>
        </tr>



      </table>
    </div>
    <div class="flex-container" id="loadingData">
      <img src="././images/loading.gif" />
    </div>
  </div>
</div>