<div ng-controller="ConfigurationReferentielVProfileProductionCtrl as vm">
    <div class="grid-column-container" >

        <div id="grid1" class="grid  fade-in">
                  <div class="form-header" >
                    <h2 class="form-title">Informations Sur Le profile de production</h2>
                    <p class="form-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique eleifend arcu, velar ipsum</p>
                  </div>

                  <md-content class="form-content" >

                    <div class="form-row tiny-space sotiny" >

                      <md-input-container class="form-input" >
                          <label>Ferme</label>
                          <md-select ng-model="vm.formData.fermes"  multiple ng-change="get_varietes()" data-md-container-class="selectdemoSelectHeader" required>
                            <md-select-header class="demo-select-header">
                              <input ng-model="search_str" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="data_ferme.IDFermes" ng-repeat="data_ferme in vm.data_ferme | orderBy:'Nom' | filter:search_str"
                              >{{data_ferme.Nom}}
                             </md-option>
                          </md-select>
                      </md-input-container>

                      <md-input-container class="form-input" >
                          <label>Variété</label>
                          <md-select ng-model="vm.formData.varietes"  multiple data-md-container-class="selectdemoSelectHeader" required>
                            <md-select-header class="demo-select-header">
                              <input ng-model="search_Variete" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-option ng-value="data_variete.ID" ng-repeat="data_variete in vm.data_variete | orderBy:'Variete' | filter:search_Variete"
                              >{{data_variete.Variete}}
                             </md-option>
                          </md-select>
                      </md-input-container>

                    </div>


                      <div class="form-row tiny-space sotiny" style="margin-bottom: 0rem !important;">

                        <md-input-container class="form-input">
                              <label>Référence profile</label>
                              <input type="text" ng-model="vm.formData.reference"   required>
                        </md-input-container>


                        <md-input-container class="form-input">
                              <label>Désignation profile</label>
                              <input type="text" ng-model="vm.formData.designation"   required>
                        </md-input-container>


                          </div>

                        <div class="form-row tiny-space sotiny" style="margin-bottom: 0rem !important;">

                          <md-input-container class="form-input full-width">
                            <label>Déscription</label>
                            <textarea ng-model="vm.formData.desriptif" rows="3" md-maxlength="100"></textarea>
                          </md-input-container>

                        </div>

                                        <div class="form-row tiny-space sotiny" style="margin-bottom: 0rem !important;">


                                          <md-input-container class="form-input">
                                            <label>Durée</label>
                                            <input type="number" ng-model="vm.formData.duree" ng-pattern="/^(?!0*(\.0+)?$)\d+(\.\d+)?$/" class="number_right" required>
                                          </md-input-container>


                                          <md-input-container class="form-input" >
                                              <label>Périodicité</label>
                                              <md-select ng-model="vm.formData.periode"   data-md-container-class="selectdemoSelectHeader" required>
                                                <md-select-header class="demo-select-header">
                                                  <input ng-model="search_periode" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                                                </md-select-header>
                                                <md-option ng-value="1" >Semaine</md-option>
                                                <md-option ng-value="2" >Quinzaine</md-option>
                                                <md-option ng-value="3" >Mois</md-option>
                                              </md-select>
                                          </md-input-container>


                                        </div>


                                      <div class="form-row tiny-space sotiny" style="margin-bottom: 0rem !important;">

                                        <md-input-container class="form-input" >
                                            <label>Date début</label>
                                            <input type="date" ng-model="vm.formData.date_debut" required>
                                          </md-input-container>


                                          <md-input-container class="form-input">
                                              <label>Date fin</label>
                                              <input type="date" ng-model="vm.formData.date_fin"   required>
                                            </md-input-container>


                                      </div>


                                      <div class="form-row tiny-space sotiny" style="margin-bottom: 0rem !important;">

                                        <md-input-container class="form-input">
                                              <label>Système de production</label>
                                              <input type="text" ng-model="vm.formData.systeme_production"   >
                                        </md-input-container>



                                          </div>

                                      <div class="form-row tiny-space sotiny" >


                                        <md-input-container class="form-input" >
                                            <label>Mode conduite</label>
                                            <md-select ng-model="vm.formData.types_conduite"  multiple data-md-container-class="selectdemoSelectHeader" >
                                              <md-select-header class="demo-select-header">
                                                <input ng-model="search_data_typeconduite" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                                              </md-select-header>
                                              <md-option ng-value="data_typeconduite.IDType_conduite" ng-repeat="data_typeconduite in vm.data_typeconduite | orderBy:'Type_conduite' | filter:search_data_typeconduite"
                                                >{{data_typeconduite.Type_conduite}}
                                               </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="form-input" >
                                            <label>Type irrigation</label>
                                            <md-select ng-model="vm.formData.types_irrigation" multiple  data-md-container-class="selectdemoSelectHeader" >
                                              <md-select-header class="demo-select-header">
                                                <input ng-model="search_data_typeirrigation" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                                              </md-select-header>
                                              <md-option ng-value="data_typeirrigation.IDMode_Irrigation" ng-repeat="data_typeirrigation in vm.data_typeirrigation | orderBy:'Libelle' | filter:search_data_typeirrigation"
                                                >{{data_typeirrigation.Libelle}}
                                               </md-option>
                                            </md-select>
                                        </md-input-container>
                                      </div>

                                      <div class="form-row tiny-space sotiny" style="margin-bottom: 0rem !important;">

                                        <md-input-container class="form-input" >
                                            <label>Mode application</label>
                                            <md-select ng-model="vm.formData.modes_application" multiple  data-md-container-class="selectdemoSelectHeader" >
                                              <md-select-header class="demo-select-header">
                                                <input ng-model="search_data_modeapplication" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                                              </md-select-header>
                                              <md-option ng-value="data_modeapplication.ID" ng-repeat="data_modeapplication in vm.data_modeapplication | orderBy:'Mode_Application' | filter:search_data_modeapplication"
                                                >{{data_modeapplication.Mode_Application}}
                                               </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container class="form-input">
                                          <label>Densité</label>
                                          <input type="number" ng-model="vm.formData.densite" ng-pattern="/^(?!0*(\.0+)?$)\d+(\.\d+)?$/" class="number_right" >
                                        </md-input-container>




                                        </div>






                    <div class="form-actions">
                      <md-button class="md-raised md-primary custom-reset-button" ng-click="vm.reset()">
                        Reset
                      </md-button>

                      <md-button class="md-raised md-primary custom-button"  ng-click="(vm.formData.id_bdg_profil_production) ? vm.modifier() : vm.ajouter()">
                        {{(vm.formData.id_bdg_profil_production) ? 'Modifier': 'Ajouter'}}
                      </md-button>
                    </div>

                  </md-content>

                </div>

                <div id="grid2" class="grid  fade-in">

                  <div class="form-header">
                    <h2 class="form-title">Importation En Masse ?</h2>
                    <p class="form-subtitle">Suivez les étapes indiquées ci-dessous afin d'assurer une bonne configuration de
                      votre compte</p>
                  </div>


                  <div class="centered-card hover_card" ng-if="!vm.isFileSelected" layout="column"
                    style="padding: 40px;background: #F8F8F9;border: 1px dashed #ccc;cursor: pointer;border-radius: 5px;"
                    ngf-drop="onDrop($files)" ng-click="triggerFileInput()">
                    <input type="file" id="fileInput" ngf-select="onFileSelected($file)" style="display: none;">


                    <img src="././images/main_configuration/file.svg" alt="time"
                      style="width: 20px; height: 20px; margin-right: 5px;">


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      Drop your file here, or <font color="#81BB26">browse</font>
                    </p>
                  </div>


                  <div class="centered-card " ng-if="vm.isFileSelected" layout="column"
                    style="padding: 40px;background: #F8F8F9;border: 1px dashed rgb(129 187 38);">



                    <img src="././images/main_configuration/file.svg" alt="time"
                      style="width: 20px; height: 20px; margin-right: 5px;">


                    <p style="color: #63675d; font-family: Poppins; font-size: 11px; margin-top: 5px;">
                      Well uploaded
                    </p>
                  </div>

                  <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                      <p style="padding-left: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                        Supported formats: XLS, XLSX</p>
                    </div>
                    <p style="padding-right: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                      Maximum
                      size: 25MB</p>
                  </div>

                  <md-card class="card" layout="column" style="padding: 10px; background: #c2c5c7;" ng-if="vm.isFileSelected">

                    <div layout="row" layout-align="space-between center">

                      <div layout="row">
                        <img src="././images/main_configuration/file.svg" alt="file-icon"
                          style="margin-right: 10px;">

                        <div layout="column" style="line-height: 1.2;">
                          <h3 style="font-size: 10px;">
                            {{vm.fileName}}
                          </h3>
                          <p style="color: #63675d; font-family: Poppins; font-size: 10px; margin: 0;">
                            {{vm.fileSize}}
                          </p>
                        </div>
                      </div>


                      <p style="margin: 0;" ng-click="vm.delete_file()">
                        <img src="././images/main_configuration/close.svg" alt="close"
                          style="width: 20px; height: 20px; cursor: pointer;">
                      </p>
                    </div>
                  </md-card>
                  <div class="form-actions">
                    <md-button class="md-raised md-primary custom-reset-button" style=" min-width:50%" ng-click="vm.gen_canvas()">
                        Paramétre Canvas
                    </md-button>

                    <md-button class="md-raised md-primary custom-button" style=" min-width:50%" ng-click="vm.integer()">
                        Intégrer
                    </md-button>
                  </div>



                </div>
              </div>

              <div id="grid4" class="grid">
                <!--Table-->
                <div class="info-header unified_pad">
                  <h2 class="form-title" >profile(s) de production Ajoutés ({{vm.data_profil_production.length}})</h2>
                  <p class="form-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique
                    eleifend arcu, velar ipsum, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique
                    eleifend arcu, velar ipsum</p>
                </div>



                <div class="warn-header unified_pad fadeInOut_err" ng-if="vm.updateSelectedCount()>0">
                  <h2 class="warn-title">Checked items to delete ({{vm.updateSelectedCount()}})
                    <md-button class="md-raised md-warn delete-button pull_right" ng-click="vm.multiDelete()">
                      DELETE {{vm.updateSelectedCount()}} item(s)
                    </md-button>
                  </h2>
                </div>


                  <div class="warn-header unified_pad fadeInOut_err" ng-if="vm.errData.err">
                    <h2 class="warn-title"> Err File :

                        <p style="  white-space: pre-line;padding-left: 21px" ng-bind-html="vm.errData.message"></p>

                    </h2>
                  </div>




                <div class="info-header unified_pad" id="tablescroll">
                  <table style="background-color: white; display: table;"  datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"
                    dt-instance="vm.dtInstance"  class="table table-striped table-sm table-responsive-sm table-hover jambo_table bulk_action">
                  </table>
                </div>

              </div>
</div>
