<div ng-controller="ConfigurationReferentielVReferentielCtrl as vm">

    <md-card class="card" layout="column" style="padding: 5px;background: #fafafa;box-shadow: none;">
      <!-- First row: Image + Text on the left, Button on the right -->
      <div layout="row" layout-align="space-between center">
        <!-- Left section: Icon + File details -->
        <div layout="row">
          <img src="././images/main_configuration/back.svg" alt="back" style="padding: 10px;margin-right: 10px;cursor: pointer;border: none;border-radius: 60px;
              background: #f0f0f0;
              display: block;" ng-click="go_back()">
          <!-- Column for file name and size -->
          <div layout="column" style="line-height: 1.2;">
            <h3>
              Réferentiel
            </h3>
            <p style="color: #63675d; font-family: 'Poppins', sans-serif;; font-size: 12px; margin: 0;">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor.
            </p>
          </div>
        </div>

      </div>


    </md-card>

    <div class="main-container">
      <div class="scrollable-main">

        <div class="scrollable-header">

          <div layout="row" layout-align="center center" class="step-container" style="width: 100%;">



            <md-button class="md-icon-button"
            ng-click="vm.preveusStep()" ng-disabled="vm.currect_step == 1"  style="margin: -8px;border-bottom: 1px solid #dbd6d6;">
            <
            </md-button>

            <div class="info-header unified_pad scrollhand" style="overflow: hidden;
            scrollbar-width: thin;
            scroll-behavior: smooth;-webkit-overflow-scrolling: touch;
            width: 70%;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;">


            <table id="nowrapTa" style="background-color: white; display: table;" class="table table-striped table-sm table-responsive-sm table-hover jambo_table bulk_action">
                <tr>
                    <td>
                        <div layout="row" flex="auto" layout-align="center center">


                            <!-- Step 1 -->
                          <div class="step-box" id="step-1">
                            <table style="border-collapse: collapse;">
                              <tr ng-click="vm.step(1, 'views/configuration/referentiel/v_famille_culture.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 1, 'step-btn-disabled': vm.currect_step != 1}">
                                    <img src="././images/main_configuration/farm.svg" alt="entreprise">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 1, 'step_position-disabled': vm.currect_step != 1}">
                                  Étape 1</td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 1, 'step_position_title-disabled': vm.currect_step != 1}">
                                  Famille Culture</td>
                              </tr>
                            </table>
                          </div>

                          <!-- Arrow Icon -->
                          <span class="arrow-icon" >&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 2 -->
                          <div class="step-box">
                            <table>
                              <tr ng-click="vm.step(2 , 'views/configuration/referentiel/v_culture.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 2, 'step-btn-disabled': vm.currect_step != 2}">
                                    <img src="././images/main_configuration/farm.svg" alt="farm">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 2, 'step_position-disabled': vm.currect_step != 2}">
                                  Étape 2</td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 2, 'step_position_title-disabled': vm.currect_step != 2}">
                                  Culture</td>
                              </tr>
                            </table>
                          </div>

                          <!-- Arrow Icon -->
                          <span class="arrow-icon" >&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 3 -->
                          <div class="step-box" id="step-3">
                            <table>
                              <tr ng-click="vm.step(3, 'views/configuration/referentiel/v_variete.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 3, 'step-btn-disabled': vm.currect_step != 3}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 3, 'step_position-disabled': vm.currect_step != 3}">
                                  Étape 3
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 3, 'step_position_title-disabled': vm.currect_step != 3}">
                                  Variété
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 4 -->
                          <div class="step-box" id="step-4">
                            <table>
                              <tr ng-click="vm.step(4, 'views/configuration/comptes/4.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 4, 'step-btn-disabled': vm.currect_step != 4}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 4, 'step_position-disabled': vm.currect_step != 4}">
                                  Étape 4
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 4, 'step_position_title-disabled': vm.currect_step != 4}">
                                  Unité
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon" >&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 5 -->
                          <div class="step-box" id="step-5">
                            <table>
                              <tr ng-click="vm.step(5, 'views/configuration/comptes/5.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 5, 'step-btn-disabled': vm.currect_step != 5}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 5, 'step_position-disabled': vm.currect_step != 5}">
                                  Étape 5
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 5, 'step_position_title-disabled': vm.currect_step != 5}">
                                  Produits Rendement
                                </td>
                              </tr>
                            </table>
                          </div>

                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 6 -->
                          <div class="step-box" id="step-6">
                            <table>
                              <tr ng-click="vm.step(6, 'views/configuration/comptes/6.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 6, 'step-btn-disabled': vm.currect_step != 6}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 6, 'step_position-disabled': vm.currect_step != 6}">
                                  Étape 6
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 6, 'step_position_title-disabled': vm.currect_step != 6}">
                                  Cycles
                                </td>
                              </tr>
                            </table>
                          </div>

                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 7 -->
                          <div class="step-box" id="step-7">
                            <table>
                              <tr ng-click="vm.step(7, 'views/configuration/comptes/7.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 7, 'step-btn-disabled': vm.currect_step != 7}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 7, 'step_position-disabled': vm.currect_step != 7}">
                                  Étape 7
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 7, 'step_position_title-disabled': vm.currect_step != 7}">
                                  Articles
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 8 -->
                          <div class="step-box" id="step-8">
                            <table>
                              <tr ng-click="vm.step(8, 'views/configuration/comptes/8.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 8, 'step-btn-disabled': vm.currect_step != 8}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 8, 'step_position-disabled': vm.currect_step != 8}">
                                  Étape 8
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 8, 'step_position_title-disabled': vm.currect_step != 8}">
                                  Fournisseurs
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 9 -->
                          <div class="step-box" id="step-9">
                            <table>
                              <tr ng-click="vm.step(9, 'views/configuration/comptes/9.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 9, 'step-btn-disabled': vm.currect_step != 9}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 9, 'step_position-disabled': vm.currect_step != 9}">
                                  Étape 9
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 9, 'step_position_title-disabled': vm.currect_step != 9}">
                                  Clients
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 10 -->
                          <div class="step-box" id="step-10">
                            <table>
                              <tr ng-click="vm.step(10, 'views/configuration/comptes/10.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 10, 'step-btn-disabled': vm.currect_step != 10}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 10, 'step_position-disabled': vm.currect_step != 10}">
                                  Étape 10
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 10, 'step_position_title-disabled': vm.currect_step != 10}">
                                  Calibres
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 11 -->
                          <div class="step-box" id="step-11">
                            <table>
                              <tr ng-click="vm.step(11, 'views/configuration/comptes/11.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 11, 'step-btn-disabled': vm.currect_step != 11}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 11, 'step_position-disabled': vm.currect_step != 11}">
                                  Étape 11
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 11, 'step_position_title-disabled': vm.currect_step != 11}">
                                  Engrais
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 12 -->
                          <div class="step-box" id="step-12">
                            <table>
                              <tr ng-click="vm.step(12, 'views/configuration/comptes/12.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 12, 'step-btn-disabled': vm.currect_step != 12}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 12, 'step_position-disabled': vm.currect_step != 12}">
                                  Étape 12
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 12, 'step_position_title-disabled': vm.currect_step != 12}">
                                  Pesticides
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 13 -->
                          <div class="step-box" id="step-13">
                            <table>
                              <tr ng-click="vm.step(13, 'views/configuration/comptes/13.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 13, 'step-btn-disabled': vm.currect_step != 13}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 13, 'step_position-disabled': vm.currect_step != 13}">
                                  Étape 13
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 13, 'step_position_title-disabled': vm.currect_step != 13}">
                                  DÉPÔTS
                                </td>
                              </tr>
                            </table>
                          </div>


                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                          <!-- Step 14 -->
                          <div class="step-box" id="step-14">
                            <table>
                              <tr ng-click="vm.step(14, 'views/configuration/comptes/14.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 14, 'step-btn-disabled': vm.currect_step != 14}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 14, 'step_position-disabled': vm.currect_step != 14}">
                                  Étape 14
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 14, 'step_position_title-disabled': vm.currect_step != 14}">
                                  Opérations
                                </td>
                              </tr>
                            </table>
                          </div>

                          <span class="arrow-icon">&nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                          <!-- Step 15 -->
                          <div class="step-box" id="step-15">
                            <table>
                              <tr ng-click="vm.step(15, 'views/configuration/comptes/15.html')">
                                <td rowspan="2">
                                  <div ng-class="{'step-btn': vm.currect_step == 15, 'step-btn-disabled': vm.currect_step != 15}">
                                    <img src="././images/main_configuration/campagne.svg" alt="campagne">
                                  </div>
                                </td>
                                <td
                                  ng-class="{'step_position': vm.currect_step == 15, 'step_position-disabled': vm.currect_step != 15}">
                                  Étape 15
                                </td>
                              </tr>
                              <tr>
                                <td
                                  ng-class="{'step_position_title': vm.currect_step == 15, 'step_position_title-disabled': vm.currect_step != 15}">
                                  Primes
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                    </td>
                </tr>
            </table>
    </div>


    <md-button class="md-icon-button"
      ng-click="vm.nextStep()"
      ng-disabled="vm.currect_step == 15" style="margin: -8px;border-bottom: 1px solid #dbd6d6;">
    >
    </md-button>
    <!--<md-button
  class="md-raised md-primary btn-circle"
  ng-class="vm.currect_step == 15 ? 'btn-step_disable' : 'btn-action'"
  ng-click="vm.nextStep()"
  ng-disabled="vm.currect_step == 15"
>
  >
</md-button>-->



          </div>

        </div>

        <div class="content" id="scollform">
          <!-- Grids 1 & 2 as Columns -->

          <div ng-include="vm.stepUrl"></div>



          <div class="main-footer">
            <div class="footer-buttons">
              <md-button class="md-raised md-primary" ng-class="vm.currect_step == 1 ? 'btn-step_disable' : 'btn-action'" ng-click="vm.preveusStep()" ng-disabled="vm.currect_step == 1"  >
                <&nbsp; Précedent
              </md-button>
              <md-button class="md-raised md-primary"  ng-class="vm.currect_step == 15 ? 'btn-step_disable' : 'btn-action'" ng-click="vm.nextStep()" ng-disabled="vm.currect_step == 15" >
                Suivant &nbsp;>
              </md-button>
            </div>
          </div>
        </div>




      </div>

      <div id="grid3" class="grid">
        <md-card class="video-card">
          <md-card-content>
            <div ng-hide="vm.isAI">
            <video id="videoPlayer" class="video-player" controls>
              <source src="./vids/EmmanuelMacron.mp4" type="video/mp4">


            </video>

            <div layout="row" layout-align="space-between center">
              <div layout="row" layout-align="start center">
                <p style="padding-left: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                  Tutoriel : Référentiel</p>
              </div>
              <p style="padding-right: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                <img src="././images/main_configuration/time.svg" alt="time" style="width: 12px;height: 12px;">
                {{ vm.get_time(vm.videoDuration) }}
              </p>
            </div>

            <!--<div class="form-header">
                <p class="form-subtitle">
                  {{ shortText }}
                  <span ng-if="!isExpanded">{{ ellipsis }}</span>
                  <span ng-if="isExpanded">{{ longText.substring(shortText.length) }}</span>
                  <bn ng-if="longText.length > shortText.length" ng-click="toggleText()"
                    style="cursor: pointer; color: #044b24;">
                    {{ isExpanded ? 'Show Less' : 'Show More' }}
                  </bn>
                </p>
              </div>-->


            <div layout="row" layout-align="space-between center">
              <div layout="row" layout-align="start center">
                <p style="padding-left: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                  Transcrypt</p>
              </div>
              <p style="padding-right: 9px;color: #63675d;font-family: Poppins;line-height: 16px;font-size: 11px;">
                <md-switch ng-model="transcriptionEnabled">
                  <span ng-if="transcriptionEnabled">Auto Scroll</span>
                  <span ng-if="!transcriptionEnabled" class="strikethrough">Auto Scroll</span>
                </md-switch>
              </p>
            </div>


            <div class="transcript-container" id="transcriptContainer">
              <div class="transcript-item" ng-repeat="entry in transcript track by $index"
                ng-class="{'highlight': isCurrentSubtitle(entry)}">
                <md-card class="card" ng-style="{'background': isCurrentSubtitle(entry) ? '#E3EDD3' : '#ffffff',
                                                   'color' : isCurrentSubtitle(entry) ? '#000000' : '#797979'}"
                  layout="column" style="padding: 10px;box-shadow: none;border-radius: 0px;">

                  <div layout="row" layout-align="space-between center">

                    <div layout="row">
                      <img src="././images/main_configuration/user.svg" alt="back" style="margin-right: 10px;border: none;border-radius: 50px;
                              background: #f0f0f0;
                              display: block;">

                      <div layout="column" style="line-height: 1.2;">
                        <strong>Emmanuel Macron &nbsp;
                            <img src="././images/main_configuration/voice.svg" ng-if="isCurrentSubtitle(entry) && vm.isPlaying" class="speech-icon animated-icon" style="width: 12px;height: 12px;">
                          </strong>

                      </div>
                    </div>


                    <p style="margin: 0;">
                      <img src="././images/main_configuration/time.svg"
                        style="width: 11px; height: 11px;padding-top: 1px;"> {{vm.get_time(entry.start)}}
                    </p>
                  </div>
                  <div style="padding-left: 25px;">
                    {{ entry.text }}
                  </div>

                </md-card>

              </div>
            </div>

          </div>
          <div ng-hide="!vm.isAI">
            <div class="chat-container">
              <header class="chat-header">
                <div class="header-content">

                  <img src="././images/main_configuration/back.svg" alt="back" style="padding: 10px;margin-right: 10px;cursor: pointer;border: none;border-radius: 60px;
                  background: #f0f0f0;
                  display: block;" ng-click="vm.go_back_video()">

                  <h1>Chat Assistant</h1>
                </div>
              </header>

              <main class="chat-messages">
                <div class="chat_loop-container" >
                <div class="message" ng-repeat="message in messages" ng-class="{'user-message': message.role === 'user', 'assistant-message': message.role === 'BeeOne assistant'}">
                  <div class="avatar">
                    <svg ng-if="message.role === 'user'" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="currentColor" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>


                    <svg class="bot-icon" ng-if="message.role === 'BeeOne assistant'" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-4-8c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm8 0c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm-4 4c2.21 0 4-1.79 4-4h-8c0 2.21 1.79 4 4 4z"/>
                    </svg>
                  </div>


                  <div class="message-content" >
                    <div class="message-header">
                    <p class="sender">{{message.role === 'user' ? 'You' : 'BeeOne assistant'}}</p>

                  </div>
                    <p class="text" ng-class="{'flashing': message.wait}">{{(message.wait) ? 'Thinking....' :  message.content}}</p>
                    <span class="timestamp" ng-if="!message.wait"><br/>
                      {{formatDate(message.timestamp)}} - {{formatTime(message.timestamp)}}
                    </span>
                  </div>
                </div>
              </div>
              </main>


            </div>

          </div>
            <div class="sticky-footer" layout="row" layout-align="space-between center" >

              <footer class="chat-input" ng-hide="!vm.isAI">
                <form ng-submit="sendMessage()" class="input-form">
                  <textarea
                    ng-model="newMessage"
                    placeholder="Ask BeeOne AI ..."
                    rows="1"
                    ng-keydown="handleKeyPress($event)">
                  </textarea>
                  <button type="submit" ng-disabled="!newMessage.trim()" class="btn_send">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                      <path fill="currentColor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
                    </svg>
                  </button>
                </form>
              </footer>

              <div class="footer-buttons " ng-hide="vm.isAI">
                <div layout="row" flex="auto" layout-align="center center" style="gap:12px;">
                  <!-- Step 1 -->


                  <!--<div class="no-b">
                    <img src="././images/main_configuration/headphone.svg" />
                    <font color="#000000" size="1px" style="flex-wrap: nowrap;"></font>
                  </div>-->



                  <div class="infos-btn " ng-click="vm.makeCall()">
                    <img src="././images/main_configuration/phone.svg" />
                  </div>



                  <div class="infos-btn " ng-click="vm.sendEmail()">
                    <img src="././images/main_configuration/email.svg" />
                  </div>

                  <div class="infos-btn  ai-btn pull_right" ng-click="vm.ai()">
                    <img src="././images/main_configuration/ai.svg" />
                  </div>







                </div>
              </div>
            </div>

          </md-card-content>




        </md-card>
      </div>


    </div>
  </div>
