
<div ng-controller="ConfigurationMainConfigurationCtrl as vm" layout="column" style="height: 100vh;">
  <div layout="column" layout-align="center center" class="ly-wrap text-center" style="padding-top: 20px;border-bottom: 1px solid #4d464630;">
    <div flex="100" flex-gt-sm="100" style="margin-bottom: 13px;">
      <center>
        <h2 class="text-center main_title">Configuration du compte BeeOne</h2>
        <p class="delay OnboardingQst text-center main_title">Suivez les étapes indiquées ci-dessous afin d'assurer une bonne configuration de votre compte</p>
      </center>
    </div>

  </div>
  <!--<hr class="styled-hr">-->




  <!-- Scrollable Cards Container -->
  <div
    layout="row"
    layout-wrap
    layout-align="start center"
    class="cards-container fade-in"
  >

      <!--1. Configuration Du compte-->
      <md-card class="step-card" layout="column">
        <div class="header_main">
          <img src="././images/main_configuration/acount.svg" alt="account">
          <span class="progress">{{vm.data_percents.percentage_compt}}% Complété</span>
        </div>
        <span class="title">1. Configuration Du compte</span>
        <md-card-content>
          <p class="desc">This step is about simply configuring your account and adressing all the needed informations</p>
          <div class="info">
            <img src="././images/main_configuration/post.svg" alt="checked">
            <span style="font-size: 12px;">{{vm.Post}}</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/checked.svg" alt="checked">
            <span style="font-size: 12px;">3 étapes</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/time.svg" alt="time">
            <span style="font-size: 12px;">30min - 45min</span>
          </div>
        </md-card-content>


          <md-button class="{{ (vm.data_percents.percentage_compt >= 100) ? 'start_btn_Consulter' : (vm.data_percents.percentage_compt === 0 ? 'start_btn_Commencer' : 'start_btn') }}"  ng-click="vm.go_config(1)">
            {{ (vm.data_percents.percentage_compt >= 100) ? 'Consulter' : (vm.data_percents.percentage_compt === 0 ? 'Commencer' : 'Continuer') }}
          </md-button>

      </md-card>

      <!--2. Création du référentiel-->
      <md-card class="step-card">
        <div class="header_main">
          <img src="././images/main_configuration/database.svg" alt="account">
          <span class="progress">{{vm.data_percents.percentage_ref}}% Complété</span>
        </div>
        <span class="title">2. Création du référentiel</span>
        <md-card-content>
          <p class="desc">This step is about simply configuring your account and addressing all the needed informations.</p>
          <div class="info">
            <img src="././images/main_configuration/post.svg" alt="checked">
            <span style="font-size: 12px;">{{vm.Post}}</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/checked.svg" alt="checked">
            <span style="font-size: 12px;">15 étapes</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/time.svg" alt="time">
            <span style="font-size: 12px;">1d - 3d</span>
          </div>
        </md-card-content>

        <md-button class="{{ (vm.data_percents.percentage_ref >= 100) ? 'start_btn_Consulter' : (vm.data_percents.percentage_ref === 0 ? 'start_btn_Commencer' : 'start_btn') }}" ng-click="vm.go_config(2)">
          {{ (vm.data_percents.percentage_ref >= 100) ? 'Consulter' : (vm.data_percents.percentage_ref === 0 ? 'Commencer' : 'Continuer') }}
        </md-button>
      </md-card>

      <!--3. Attachement Parcelles-->
      <md-card class="step-card">
        <div class="header_main">
          <img src="././images/main_configuration/attachement.svg" alt="account">
          <span class="progress">{{vm.data_percents.percentage_parcelle}}% Complété</span>
        </div>
        <span class="title">3. Attachement Parcelles</span>
        <md-card-content>
          <p class="desc">This step is about simply configuring your account and addressing all the needed informations.</p>
          <div class="info">
            <img src="././images/main_configuration/post.svg" alt="checked">
            <span style="font-size: 12px;">{{vm.Post}}</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/checked.svg" alt="checked">
            <span style="font-size: 12px;">2 étapes</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/time.svg" alt="time">
            <span style="font-size: 12px;">30min - 45min</span>
          </div>
        </md-card-content>

        <md-button class="{{ (vm.data_percents.percentage_parcelle >= 100) ? 'start_btn_Consulter' : (vm.data_percents.percentage_parcelle === 0 ? 'start_btn_Commencer' : 'start_btn') }}" ng-click="vm.go_config(3)" >
          {{ (vm.data_percents.percentage_parcelle >= 100) ? 'Consulter' : (vm.data_percents.percentage_parcelle === 0 ? 'Commencer' : 'Continuer') }}
        </md-button>
      </md-card>

      <!--4. Sécteurs D’irrigation-->
      <md-card class="step-card">
        <div class="header_main">
          <img src="././images/main_configuration/irrig.svg" alt="account">
          <span class="progress">{{vm.data_percents.percentage_secteur | number:2}}% Complété</span>
        </div>
        <span class="title">4. Sécteurs D’irrigation</span>
        <md-card-content>
          <p class="desc">This step is about simply configuring your account and addressing all the needed informations.</p>
          <div class="info">
            <img src="././images/main_configuration/post.svg" alt="checked">
            <span style="font-size: 12px;">{{vm.Post}}</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/checked.svg" alt="checked">
            <span style="font-size: 12px;">3 étapes</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/time.svg" alt="time">
            <span style="font-size: 12px;">30min - 45min</span>
          </div>
        </md-card-content>

        <md-button class="{{ (vm.data_percents.percentage_secteur >= 100) ? 'start_btn_Consulter' : (vm.data_percents.percentage_secteur === 0 ? 'start_btn_Commencer' : 'start_btn') }}" ng-click="vm.go_config(4)" >
          {{ (vm.data_percents.percentage_secteur >= 100) ? 'Consulter' : (vm.data_percents.percentage_secteur === 0 ? 'Commencer' : 'Continuer') }}
        </md-button>
      </md-card>

      <!--5. Paramétrage Main d’oeuvre-->
      <md-card class="step-card">
        <div class="header_main">
          <img src="././images/main_configuration/labor.svg" alt="account">
          <span class="progress">0% Complété</span>
        </div>
        <span class="title">5. Paramétrage Main d’oeuvre</span>
        <md-card-content>
          <p class="desc">This step is about simply configuring your account and addressing all the needed informations.</p>
          <div class="info">
            <img src="././images/main_configuration/post.svg" alt="checked">
            <span style="font-size: 12px;">{{vm.Post}}</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/checked.svg" alt="checked">
            <span style="font-size: 12px;">3 étapes</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/time.svg" alt="time">
            <span style="font-size: 12px;">30min - 45min</span>
          </div>
        </md-card-content>

        <md-button class="start_btn_Commencer" ng-click="vm.go_config(99)">
          Commencer
        </md-button>
      </md-card>

      <!--6. Immobilisations-->
      <md-card class="step-card">
        <div class="header_main">
          <img src="././images/main_configuration/immobilisation.svg" alt="account">
          <span class="progress">0% Complété</span>
        </div>
        <span class="title">6. Immobilisations</span>
        <md-card-content>
          <p class="desc">This step is about simply configuring your account and addressing all the needed informations.</p>
          <div class="info">
            <img src="././images/main_configuration/post.svg" alt="checked">
            <span style="font-size: 12px;">{{vm.Post}}</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/checked.svg" alt="checked">
            <span style="font-size: 12px;">3 étapes</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/time.svg" alt="time">
            <span style="font-size: 12px;">30min - 45min</span>
          </div>
        </md-card-content>

        <md-button class="start_btn_Commencer"  ng-click="vm.go_config(99)">
          Commencer
        </md-button>
      </md-card>

      <!--7. Centre de coûts-->
      <md-card class="step-card">
        <div class="header_main">
          <img src="././images/main_configuration/centrecout.svg" alt="account">
          <span class="progress">0% Complété</span>
        </div>
        <span class="title">7. Centre de coûts</span>
        <md-card-content>
          <p class="desc">This step is about simply configuring your account and addressing all the needed informations.</p>
          <div class="info">
            <img src="././images/main_configuration/post.svg" alt="checked">
            <span style="font-size: 12px;">{{vm.Post}}</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/checked.svg" alt="checked">
            <span style="font-size: 12px;">3 étapes</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/time.svg" alt="time">
            <span style="font-size: 12px;">30min - 45min</span>
          </div>
        </md-card-content>

        <md-button class="start_btn_Commencer"  ng-click="vm.go_config(99)">
          Commencer
        </md-button>
      </md-card>

      <!--8. Paramétrage Applications BeeOne-->
      <md-card class="step-card">
        <div class="header_main">
          <img src="././images/main_configuration/mobile.svg" alt="account">
          <span class="progress">0% Complété</span>
        </div>
        <span class="title">8. Configuration PDA</span>
        <md-card-content>
          <p class="desc">This step is about simply configuring your account and adressing all the needed informations </p>
          <div class="info">
            <img src="././images/main_configuration/post.svg" alt="checked">
            <span style="font-size: 12px;">{{vm.Post}}</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/checked.svg" alt="checked">
            <span style="font-size: 12px;">3 étapes</span>
          </div>
          <div class="info">
            <img src="././images/main_configuration/time.svg" alt="time">
            <span style="font-size: 12px;">30min - 45min</span>
          </div>
        </md-card-content>

        <md-button class="start_btn_Commencer"  ng-click="vm.go_config(99)">
          Commencer
        </md-button>
      </md-card>





    </div>

<br/><br/>
<br/><br/>


    <loading-spinner is-loading="loading"></loading-spinner>
  </div>
