<div class="right_col" role="main" ng-controller="PlantationStadehenologiquesdiagrammeganttCtrl as pc">
  <div class="modal-demo">
    <span> {{"Developpement végétal" | translate}} <i class="fa fa-angle-right"></i> {{"Suivi des stades" | translate}} <i class="fa fa-angle-right"></i> <b>{{"Calendrier des stades" | translate}}</b></span>

    <center class="dontDisplay">
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>
            <td>{{"Campagne" | translate}}</td>
            <td>&nbsp;&nbsp;</td>

            <td>{{"Culture" | translate}}</td>
            <td>&nbsp;&nbsp;</td>


            <td>{{"Parcelle culturale" | translate}}</td>

            <td></td>
          </tr>
          <tr>
            <td>
              <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1"
                data-size="10">
                <option ng-repeat="compagne in pc.compagne_array" value="{{compagne.ID_compagne}}">{{ compagne.Code }}</option>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <select id="culture" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="culture" ng-change="pc.culture_change()" multiple data-live-search="true" title="{{'Culture' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Culture' | translate}}">
                  <option ng-repeat="culture in pc.culture_array" ng-value="culture.ID">{{ culture.Culture }}</option>
                </optgroup>
              </select>
            </td>


            <td>&nbsp;&nbsp;</td>

            <td>
              <select id="parcelle" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="parcelle" ng-change="pc.parcelle_change()" multiple data-live-search="true" title="{{'Parcelle culturale' | translate}}..."
                data-selected-text-format="count > 1" data-size="10">
                <optgroup label="{{'Parcelle culturale' | translate}}">
                  <option ng-repeat="parcelle in pc.parcelles_array" ng-value="parcelle.ID">{{ parcelle.Ref }}</option>
                </optgroup>
              </select>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <md-button class="md-raised" ng-click="search()" title="{{'Rechercher' | translate}}" ng-disabled="pc.canSearch()">Valider</md-button>
            </td>
          </tr>
        </table>
        <br />
        <a class="btn" href="" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
      </div>
    </center>
    <br />
  </div>
  <div class="table-responsive dontDisplay">
    <div class="dt-buttons" style="float:right">
      <a class="dt-button pull-right" ui-sref="stadePheno" title="{{'Suivi des stades' | translate}}"><i class="fa fa-columns"></i></a>
      <a class="dt-button pull-right" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Rechercher' | translate}}"><i class="fa fa-search"></i></a>
    </div>
  </div>
  <br />
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <center>
        <bn ng-if="pc.diagrammeDate.length == 0"><b>Sorry</b> Data Not Available, Please Check The Filtre Settings </bn>
        <div id="chartdiv"></div>
      </center>
    </div>

    <br /><br /><br /><br /><br />
  </div>
</div>