<div class="right_col" role="main">
  <div ng-controller="actualisationDemandeCtrl as pc" class="modal-demo">
    <span> {{'Prévisions' | translate}} <i class="fa fa-angle-right"></i>
      {{'Consultation des prévisions' | translate}} <i class="fa fa-angle-right"></i>
      <b> {{'Actualisation à la demande' | translate}}</b> </span>

    <div class="table-responsive">
      <table style="background-color: white" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
    </div>
  </div>

</div>
