<div class="right_col" role="main">
  <div ng-controller="RecolteDeclarationrecolteCtrl as pc" class="modal-demo">
    <span> {{"Récoltes" | translate}} <i class="fa fa-angle-right"></i> <b> {{"Déclaration de la récolte" | translate}} </b>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i> <b>{{"Détails" | translate}}</b></bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
      <a class="dt-button pull-right" ng-click="pc.printdetails(pc.recolteByID);" ng-if="!pc.showtable" title="{{'Imprimer' | translate}}"><i class="fa fa-print"></i></a>

    </span>
    <center>
      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>
            <td>De</td>
            <td>&nbsp;&nbsp;</td>
            <td>A</td>
          </tr>
          <tr>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>
          </tr>
        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
      </div>
    </center>
    <div class="table-responsive" style="" ng-show="pc.showtable">
      <table id="table" style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>
      <br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <div ng-show="!pc.showtable">
      <br />
      <div style="overflow-x:auto;" id="tab_1">
        <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
          <thead>
            <tr>
              <th>{{"Date" | translate}}</th>
              <th>{{"Référence" | translate}}</th>
              <th>{{"Observation" | translate}}</th>
            </tr>
          </thead>
          <tr>
            <td>{{ pc.recolteByID.Date | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.recolteByID.BR }}</td>
            <td>{{ pc.recolteByID.OBSERV }}</td>
          </tr>
        </table>

        <div class="col-md-12 col-sm-12 col-xs-12" id="tab_66">
          <div style="overflow-x:auto;">
            <fieldset>
              <legend>{{"Produits" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{'Parcelles' | translate}}</th>
                    <th>{{'Sup' | translate}}</th>
                    <th>{{'Produit' | translate}}</th>
                    <th>{{'unite' | translate}}</th>
                    <th>{{'Quantiteunite' | translate}}</th>
                    <th>{{'PoidsmoyenKg' | translate}}</th>
                    <th>{{'Total' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="RecolteDateByID in pc.RecolteDateByID">
                    <td>{{ RecolteDateByID.Ref }}</td>
                    <td>{{RecolteDateByID.Sup | number:2}}</td>
                    <td>{{RecolteDateByID.Designation}}</td>
                    <td>{{RecolteDateByID.unite}}</td>
                    <td>{{ RecolteDateByID.Quantiteunite | number:2}}</td>
                    <td>{{ RecolteDateByID.PM_estime | number:2}}</td>
                    <td>{{ RecolteDateByID.Total | number:2}}</td>
                  </tr>
                  <tr ng-if="pc.RecolteDateByID.length !== 0">
                    <td colspan="6">

                    </td>
                    <td colspan="1">
                      {{pc.grandTotal| number:2}}
                    </td>
                  </tr>
                  <tr ng-if="pc.RecolteDateByID.length == 0">
                    <td colspan="6"></td>
                  </tr>
                </tbody>
              </table>
            </fieldset>

          </div>


          <br />
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


          <p></p>
        </div>
      </div>