<div class="right_col" role="main">
  <div ng-controller="RecolteExpeditionsCtrl as pc" class="modal-demo">
    <span> {{"Récoltes" | translate}} <i class="fa fa-angle-right"></i> <b> {{"Expéditions" | translate}} </b>
      <bn ng-if="!pc.showtable"><i class="fa fa-angle-right"></i> <b>{{"Détails" | translate}}</b></bn>
      <a class="dt-button pull-right" ng-click="pc.showtable_toggle();" ng-if="!pc.showtable" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
      <a class="dt-button pull-right" ng-click="pc.printdetails(pc.expeditionByID);" ng-if="!pc.showtable" title="{{'Imprimer' | translate}}"><i class="fa fa-print"></i></a>
      <a class="pull-right dt-withcolor-button-green" ng-if="pc.expeditionByID.type == 1 && !pc.showtable">{{"Réception" | translate}}</a>
      <a class="pull-right dt-withcolor-button-orange" ng-if="pc.expeditionByID.type == 2  && !pc.showtable">{{"Expédition" | translate}}</a>
      <a class="pull-right" ng-if="pc.expeditionByID.type == 3  && !pc.showtable">{{"Sortie caisse vide" | translate}}</a>
      <div class="pull-right" ng-show="pc.expeditionByID.type == 2  && !pc.showtable">
        &nbsp;&nbsp;
      </div>
      <div class="pull-right" ng-show="pc.expeditionByID.type == 2  && !pc.showtable">
        {{"Code de traçabilité" | translate}}
        <!--<select id="typegroup" class="form-control  input-sm selectpicker" ng-model="typegroup" ng-change="pc.typegroup_change()" data-live-search="true" title="{{'Grouper par' | translate}}..." data-selected-text-format="count > 1" data-size="10">
          <option selected disabled value="" style="background-color: #ffffff;">{{"Grouper par" | translate}} ..</option>
          <option ng-value="1">{{"Groupe opérationnel" | translate}}</option>
          <option ng-value="2">{{"Parcelle physique" | translate}}</option>
          <option ng-value="0">{{"Parcelle culturale" | translate}}</option>
          <option ng-value="3">{{"Code de traçabilité" | translate}}</option>
        </select>-->
      </div>
    </span>
    <center>

      <div id="filter_form" style="display:none;" class="animated fadeIn selectpicker_widget">
        <table>
          <tr>
            <td>De</td>
            <td>&nbsp;&nbsp;</td>
            <td>A</td>
          </tr>
          <tr>
            <td>
              <input id="date_debut" type="date" class="form-control  input-sm" ng-model="date_debut" ng-change="date_debut_change()" max="{{date_fin | date:'yyyy-MM-dd'}}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
              <input id="date_fin" type="date" class="form-control  input-sm" ng-model="date_fin" ng-change="date_fin_change()" max="{{current_date | date:'yyyy-MM-dd'}}">
            </td>
          </tr>
        </table>
        <a class="btn" href="" ng-click="ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>
      </div>
    </center>
    <div class="table-responsive" style="" ng-show="pc.showtable">
      <table id="table" style="background-color: white;" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
      </table>

    </div>
    <div ng-show="!pc.showtable">
      <br />
      <div style="overflow-x:auto;" id="tab_1">
        <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
          <thead>
            <tr>
              <th>{{"Date" | translate}}</th>
              <th>{{"N° de bon" | translate}}</th>
              <th>{{"Véhicule" | translate}}</th>
              <th>{{"Chauffeur" | translate}}</th>
              <th>{{"Date de sortie" | translate}}</th>
              <th>{{"Client" | translate}}</th>
              <th>{{"Date de cueillette" | translate}}</th>
              <th>{{"Heure de cueillette" | translate}}</th>
              <th>{{"Programme spécial" | translate}}</th>
              <th>{{"Coloration pépin" | translate}}</th>
              <th>{{"Température" | translate}}</th>
              <th>{{"Chef de cueillette" | translate}}</th>
              <th>{{"Nombre Contenant"| translate}}</th>
              <th>{{"Observation" | translate}}</th>

            </tr>
          </thead>
          <tr>
            <td>{{ pc.expeditionByID.DATE | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.expeditionByID.Num_bon }}</td>
            <td>{{ pc.expeditionByID.Vehicule }}</td>
            <td>{{ pc.expeditionByID.Chauffeur }}</td>
            <td>{{ pc.expeditionByID.DATE | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.expeditionByID.ClientSociete }}</td>
            <td>{{ pc.expeditionByID.DateCueillette | date:'dd/MM/yyyy' }}</td>
            <td>{{ pc.expeditionByID.HeureCueillette | date:'HH:mm' }}</td>
            <td ng-if="pc.expeditionByID.ProgrammeSpecial">oui</td>
            <td ng-if="!pc.expeditionByID.ProgrammeSpecial">non</td>
            <td>{{ pc.expeditionByID.coloration_pepins }}</td>
            <td>{{ pc.expeditionByID.Temperature }}</td>
            <td>{{ pc.expeditionByID.PersonnelPrenom }} {{ pc.expeditionByID.PersonnelNom }}</td>
            <td>{{ pc.expeditionByID.nbre_contenant }}</td>
            <td>{{ pc.expeditionByID.observations }}</td>
          </tr>
        </table>
      </div>
      <div class="row">
        <!-- form input mask -->
        <div class="col-md-6 col-sm-12 col-xs-12" id="tab_1111">
          <div style="overflow-x:auto;">
            <fieldset>
              <legend>{{"Solde caisserie" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th style="width: 53px;">{{"Marque" | translate}}</th>
                    <th style="width: 53px;">
                      <center>{{"Stock initial" | translate}}</center>
                    </th>
                    <th style="width: 53px;">
                      <center>{{"Sortie" | translate}}</center>
                    </th>
                    <th style="width: 53px;">
                      <center>{{"Stock final" | translate}}</center>
                    </th>
                  </tr>
                </thead>
                <tr ng-repeat="caisse in pc.caisses">
                  <td>{{ caisse.marque }}</td>
                  <td>
                    <center>{{ caisse.initial || '0' | number:2}}</center>
                  </td>
                  <td>
                    <center>{{ caisse.Qantite || '0'| number:2}}</center>
                  </td>
                  <td>
                    <center>{{ (caisse.entree + caisse.initial) + caisse.sortie_total  || '0' | number:2}}</center>
                  </td>
                </tr>

                <tr ng-if="pc.caisses.length == 0">
                  <td colspan="4"></td>
                </tr>
              </table>
            </fieldset>
          </div>
        </div>


        <div class="col-md-6 col-sm-12 col-xs-12">
          <div style="overflow-x:auto;" ng-if="pc.expeditionByID.type == 2 && typegroup == 1" id="tab_2">
            <fieldset>
              <legend>{{"Groupe opérationnel" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{"Groupe opérationnel" | translate}}</th>
                    <th>{{"Variété" | translate}}</th>
                    <th>{{"Unité" | translate}}</th>
                    <th style="width: 53px;">{{"Nbre d'unité" | translate}}</th>
                    <th style="width: 53px;">{{"Poids moyen" | translate}}</th>
                    <th style="width: 53px;">{{"Poids" | translate}}</th>
                  </tr>
                </thead>

                <tbody ng-repeat="(key, value) in pc.parcellesGO">

                  <tr>
                    <td rowspan="{{value.length}}">{{key | ifEmpty:''}}</td>
                    <td>{{value[0].Variete}}</td>
                    <td>{{ value[0].unite }}</td>
                    <td>{{ value[0].Qte_caisse | number:2}}</td>
                    <td>{{ value[0].PM | number:2}}</td>
                    <td>{{ value[0].poits | number:2}}</td>
                  </tr>

                  <tr ng-repeat="parcelles in value" ng-if="!$first">
                    <td>{{ parcelles.Variete }}</td>
                    <td>{{ parcelles.unite }}</td>
                    <td>{{ parcelles.Qte_caisse | number:2}}</td>
                    <td>{{ parcelles.PM | number:2}}</td>
                    <td>{{ parcelles.poits | number:2}}</td>
                  </tr>


                </tbody>

                <tr>
                  <td colspan="3">Total</td>
                  <td>{{ _.sumBy(pc.parcellesGOArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesGOArr, 'poits') / _.sumBy(pc.parcellesGOArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesGOArr, 'poits') | number:2}}</td>
                </tr>

                <tr ng-if="pc.parcellesGOArr.length == 0">
                  <td colspan="7"></td>
                </tr>
              </table>

            </fieldset>
          </div>

          <div style="overflow-x:auto;" ng-if="pc.expeditionByID.type == 2 && typegroup == 2" id="tab_3">
            <fieldset>
              <legend>{{"Parcelle physique" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{"Parcelle Physique" | translate}}</th>
                    <th>{{"Variété" | translate}}</th>
                    <th>{{"Unité" | translate}}</th>
                    <th style="width: 53px;">{{"Nbre d'unité" | translate}}</th>
                    <th style="width: 53px;">{{"Poids moyen" | translate}}</th>
                    <th style="width: 53px;">{{"Poids" | translate}}</th>
                  </tr>
                </thead>

                <tbody ng-repeat="(key, value) in pc.parcellesPhysique">

                  <tr>
                    <td rowspan="{{value.length}}">{{key | ifEmpty:''}}</td>
                    <td>{{value[0].Variete}}</td>
                    <td>{{ value[0].unite }}</td>
                    <td>{{ value[0].Qte_caisse | number:2}}</td>
                    <td>{{ value[0].PM | number:2}}</td>
                    <td>{{ value[0].poits | number:2}}</td>
                  </tr>

                  <tr ng-repeat="parcelles in value" ng-if="!$first">
                    <td>{{ parcelles.Variete }}</td>
                    <td>{{ parcelles.unite }}</td>
                    <td>{{ parcelles.Qte_caisse | number:2}}</td>
                    <td>{{ parcelles.PM | number:2}}</td>
                    <td>{{ parcelles.poits | number:2}}</td>
                  </tr>




                </tbody>
                <tr>
                  <td colspan="3">Total</td>
                  <td>{{ _.sumBy(pc.parcellesPhysiqueArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesPhysiqueArr, 'poits') / _.sumBy(pc.parcellesPhysiqueArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesPhysiqueArr, 'poits') | number:2}}</td>
                </tr>

                <tr ng-if="pc.parcellesPhysiqueArr.length == 0">
                  <td colspan="7"></td>
                </tr>
              </table>


            </fieldset>
          </div>

          <div style="overflow-x:auto;" ng-if="pc.expeditionByID.type == 2 && typegroup == 3" id="tab_4">
            <fieldset>
              <legend>{{"Code de traçabilité" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{"Code de traçabilité" | translate}}</th>
                    <th>{{"Variété" | translate}}</th>
                    <th>{{"Unité" | translate}}</th>
                    <th style="width: 53px;">{{"Nbre d'unité" | translate}}</th>
                    <th style="width: 53px;">{{"Poids moyen" | translate}}</th>
                    <th style="width: 53px;">{{"Poids" | translate}}</th>
                  </tr>
                </thead>

                <tbody ng-repeat="(key, value) in pc.parcellesCodeExterne">

                  <tr>
                    <td rowspan="{{value.length}}">{{key | ifEmpty:''}}</td>
                    <td>{{value[0].Variete}}</td>
                    <td>{{ value[0].unite }}</td>
                    <td>
                      <center>{{ value[0].Qte_caisse | number:2}}</center>
                    </td>
                    <td>
                      <center>{{ value[0].PM | number:2}}</center>
                    </td>
                    <td>
                      <center>{{ value[0].poits | number:2}}</center>
                    </td>
                  </tr>

                  <tr ng-repeat="parcelles in value" ng-if="!$first">
                    <td>{{ parcelles.Variete }}</td>
                    <td>{{ parcelles.unite }}</td>
                    <td>
                      <center>{{ parcelles.Qte_caisse | number:2}}</center>
                    </td>
                    <td>
                      <center>{{ parcelles.PM | number:2}}</center>
                    </td>
                    <td>
                      <center>{{ parcelles.poits | number:2}}</center>
                    </td>
                  </tr>


                </tbody>

                <tr>
                  <td colspan="3">Total</td>
                  <td>
                    <center>{{ _.sumBy(pc.parcellesCodeExterneArr, 'Qte_caisse') | number:2}}</center>
                  </td>
                  <td>
                    <center>{{ _.sumBy(pc.parcellesCodeExterneArr, 'poits') / _.sumBy(pc.parcellesCodeExterneArr, 'Qte_caisse') | number:2}}</center>
                  </td>
                  <td>
                    <center>{{ _.sumBy(pc.parcellesCodeExterneArr, 'poits') | number:2}}</center>
                  </td>
                </tr>


                <tr ng-if="pc.parcellesCodeExterneArr.length == 0">
                  <td colspan="7"></td>
                </tr>
              </table>


            </fieldset>
          </div>

          <div style="overflow-x:auto;" ng-if="pc.expeditionByID.type == 2 && typegroup == 0" id="tab_5">
            <fieldset>
              <legend>{{"Parcelles culturale" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{"Parcelle culturale" | translate}}</th>
                    <th>{{"Variété" | translate}}</th>
                    <th>{{"Unité" | translate}}</th>
                    <th style="width: 53px;">{{"Nbre d'unité" | translate}}</th>
                    <th style="width: 53px;">{{"Poids moyen" | translate}}</th>
                    <th style="width: 53px;">{{"Poids" | translate}}</th>
                  </tr>
                </thead>
                <tbody ng-repeat="(key, value) in pc.parcellesRef">

                  <tr>
                    <td rowspan="{{value.length}}">{{key | ifEmpty:''}}</td>
                    <td>{{value[0].Variete}}</td>
                    <td>{{ value[0].unite }}</td>
                    <td>{{ value[0].Qte_caisse | number:2}}</td>
                    <td>{{ value[0].PM | number:2}}</td>
                    <td>{{ value[0].poits | number:2}}</td>
                  </tr>

                  <tr ng-repeat="parcelles in value" ng-if="!$first">
                    <td>{{ parcelles.Variete }}</td>
                    <td>{{ parcelles.unite }}</td>
                    <td>{{ parcelles.Qte_caisse | number:2}}</td>
                    <td>{{ parcelles.PM | number:2}}</td>
                    <td>{{ parcelles.poits | number:2}}</td>
                  </tr>


                </tbody>

                <tr>
                  <td colspan="3">Total</td>
                  <td>{{ _.sumBy(pc.parcellesRefArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesRefArr, 'poits') / _.sumBy(pc.parcellesRefArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesRefArr, 'poits') | number:2}}</td>
                </tr>

                <tr ng-if="pc.parcellesRefArr.length == 0">
                  <td colspan="6"></td>
                </tr>
              </table>

            </fieldset>
          </div>
        </div>


        <!-- form input mask -->
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div style="overflow-x:auto;" ng-if="pc.expeditionByID.type == 2 && typegroup == 1" id="tab_2">
            <fieldset>
              <legend>{{"Groupe opérationnel" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{"Groupe opérationnel" | translate}}</th>
                    <th>{{"Variété" | translate}}</th>
                    <th>{{"Unité" | translate}}</th>
                    <th style="width: 53px;">{{"Nbre d'unité" | translate}}</th>
                    <th style="width: 53px;">{{"Poids moyen" | translate}}</th>
                    <th style="width: 53px;">{{"Poids" | translate}}</th>
                  </tr>
                </thead>

                <tbody ng-repeat="(key, value) in pc.parcellesGO">

                  <tr>
                    <td rowspan="{{value.length}}">{{key | ifEmpty:''}}</td>
                    <td>{{value[0].Variete}}</td>
                    <td>{{ value[0].unite }}</td>
                    <td>{{ value[0].Qte_caisse | number:2}}</td>
                    <td>{{ value[0].PM | number:2}}</td>
                    <td>{{ value[0].poits | number:2}}</td>
                  </tr>

                  <tr ng-repeat="parcelles in value" ng-if="!$first">
                    <td>{{ parcelles.Variete }}</td>
                    <td>{{ parcelles.unite }}</td>
                    <td>{{ parcelles.Qte_caisse | number:2}}</td>
                    <td>{{ parcelles.PM | number:2}}</td>
                    <td>{{ parcelles.poits | number:2}}</td>
                  </tr>


                </tbody>

                <tr>
                  <td colspan="3">Total</td>
                  <td>{{ _.sumBy(pc.parcellesGOArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesGOArr, 'poits') / _.sumBy(pc.parcellesGOArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesGOArr, 'poits') | number:2}}</td>
                </tr>

                <tr ng-if="pc.parcellesGOArr.length == 0">
                  <td colspan="7"></td>
                </tr>
              </table>

            </fieldset>
          </div>

          <div style="overflow-x:auto;" ng-if="pc.expeditionByID.type == 2 && typegroup == 2" id="tab_3">
            <fieldset>
              <legend>{{"Parcelle physique" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{"Parcelle Physique" | translate}}</th>
                    <th>{{"Variété" | translate}}</th>
                    <th>{{"Unité" | translate}}</th>
                    <th style="width: 53px;">{{"Nbre d'unité" | translate}}</th>
                    <th style="width: 53px;">{{"Poids moyen" | translate}}</th>
                    <th style="width: 53px;">{{"Poids" | translate}}</th>
                  </tr>
                </thead>

                <tbody ng-repeat="(key, value) in pc.parcellesPhysique">

                  <tr>
                    <td rowspan="{{value.length}}">{{key | ifEmpty:''}}</td>
                    <td>{{value[0].Variete}}</td>
                    <td>{{ value[0].unite }}</td>
                    <td>{{ value[0].Qte_caisse | number:2}}</td>
                    <td>{{ value[0].PM | number:2}}</td>
                    <td>{{ value[0].poits | number:2}}</td>
                  </tr>

                  <tr ng-repeat="parcelles in value" ng-if="!$first">
                    <td>{{ parcelles.Variete }}</td>
                    <td>{{ parcelles.unite }}</td>
                    <td>{{ parcelles.Qte_caisse | number:2}}</td>
                    <td>{{ parcelles.PM | number:2}}</td>
                    <td>{{ parcelles.poits | number:2}}</td>
                  </tr>




                </tbody>
                <tr>
                  <td colspan="3">Total</td>
                  <td>{{ _.sumBy(pc.parcellesPhysiqueArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesPhysiqueArr, 'poits') / _.sumBy(pc.parcellesPhysiqueArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesPhysiqueArr, 'poits') | number:2}}</td>
                </tr>

                <tr ng-if="pc.parcellesPhysiqueArr.length == 0">
                  <td colspan="7"></td>
                </tr>
              </table>


            </fieldset>
          </div>

          <div style="overflow-x:auto;" ng-if="pc.expeditionByID.type == 2 && typegroup == 3" id="tab_4">
            <fieldset>
              <legend>{{"Code de traçabilité" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{"Code de traçabilité" | translate}}</th>
                    <th>{{"Variété" | translate}}</th>
                    <th>{{"Unité" | translate}}</th>
                    <th style="width: 53px;">{{"Nbre d'unité" | translate}}</th>
                    <th style="width: 53px;">{{"Poids moyen" | translate}}</th>
                    <th style="width: 53px;">{{"Poids" | translate}}</th>
                  </tr>
                </thead>

                <tbody ng-repeat="(key, value) in pc.parcellesCodeExterne">

                  <tr>
                    <td rowspan="{{value.length}}">{{key | ifEmpty:''}}</td>
                    <td>{{value[0].Variete}}</td>
                    <td>{{ value[0].unite }}</td>
                    <td>{{ value[0].Qte_caisse | number:2}}</td>
                    <td>{{ value[0].PM | number:2}}</td>
                    <td>{{ value[0].poits | number:2}}</td>
                  </tr>

                  <tr ng-repeat="parcelles in value" ng-if="!$first">
                    <td>{{ parcelles.Variete }}</td>
                    <td>{{ parcelles.unite }}</td>
                    <td>{{ parcelles.Qte_caisse | number:2}}</td>
                    <td>{{ parcelles.PM | number:2}}</td>
                    <td>{{ parcelles.poits | number:2}}</td>
                  </tr>


                </tbody>

                <tr>
                  <td colspan="3">Total</td>
                  <td>{{ _.sumBy(pc.parcellesCodeExterneArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesCodeExterneArr, 'poits') / _.sumBy(pc.parcellesCodeExterneArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesCodeExterneArr, 'poits') | number:2}}</td>
                </tr>


                <tr ng-if="pc.parcellesCodeExterneArr.length == 0">
                  <td colspan="7"></td>
                </tr>
              </table>


            </fieldset>
          </div>

          <div style="overflow-x:auto;" ng-if="pc.expeditionByID.type == 2 && typegroup == 0" id="tab_5">
            <fieldset>
              <legend>{{"Parcelles culturale" | translate}}</legend>
              <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
                <thead>
                  <tr>
                    <th>{{"Parcelle culturale" | translate}}</th>
                    <th>{{"Variété" | translate}}</th>
                    <th>{{"Unité" | translate}}</th>
                    <th style="width: 53px;">
                      <center>{{"Nbre d'unité" | translate}}</center>
                    </th>
                    <th style="width: 53px;">
                      <center>{{"Poids moyen" | translate}}</center>
                    </th>
                    <th style="width: 53px;">
                      <center>{{"Poids" | translate}}</center>
                    </th>
                  </tr>
                </thead>
                <tbody ng-repeat="(key, value) in pc.parcellesRef">

                  <tr>
                    <td rowspan="{{value.length}}">{{key | ifEmpty:''}}</td>
                    <td>{{value[0].Variete}}</td>
                    <td>{{ value[0].unite }}</td>
                    <td>{{ value[0].Qte_caisse | number:2}}</td>
                    <td>{{ value[0].PM | number:2}}</td>
                    <td>{{ value[0].poits | number:2}}</td>
                  </tr>

                  <tr ng-repeat="parcelles in value" ng-if="!$first">
                    <td>{{ parcelles.Variete }}</td>
                    <td>{{ parcelles.unite }}</td>
                    <td>{{ parcelles.Qte_caisse | number:2}}</td>
                    <td>{{ parcelles.PM | number:2}}</td>
                    <td>{{ parcelles.poits | number:2}}</td>
                  </tr>


                </tbody>

                <tr>
                  <td colspan="3">Total</td>
                  <td>{{ _.sumBy(pc.parcellesRefArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesRefArr, 'poits') / _.sumBy(pc.parcellesRefArr, 'Qte_caisse') | number:2}}</td>
                  <td>{{ _.sumBy(pc.parcellesRefArr, 'poits') | number:2}}</td>
                </tr>

                <tr ng-if="pc.parcellesRefArr.length == 0">
                  <td colspan="6"></td>
                </tr>
              </table>

            </fieldset>
          </div>
        </div>
      </div>



      <div class="col-md-12 col-sm-12 col-xs-12" id="tab_66">
        <div style="overflow-x:auto;">
          <fieldset>
            <legend>{{"Traitement pré-récolte" | translate}}</legend>
            <table style="background-color: white;" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
              <thead>
                <tr>
                  <th>{{"Traitement" | translate}}</th>
                  <th>{{"Date" | translate}}</th>
                  <th>{{"Matière active" | translate}}</th>
                  <th>{{"Nom - Commmercial" | translate}}</th>
                  <th>
                    <center>{{"Dose" | translate}}</center>
                  </th>
                  <th>
                    {{"Unité" | translate}}
                  </th>
                  <th>
                    <center>{{"Dar" | translate}}</center>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="lasttraitement in pc.lasttraitement">
                  <td>{{ lasttraitement.Ref_traitement }}</td>
                  <td>{{ lasttraitement.DATE_Ordre |  date:'dd/MM/yyyy'}}</td>
                  <td>{{ (lasttraitement.Matiere_active !== '0') ? lasttraitement.Matiere_active : '' }}</td>
                  <td>{{ lasttraitement.Nom_commercial }}</td>
                  <td>
                    <center>{{ lasttraitement.Dose}}</center>
                  </td>
                  <td>
                    {{ lasttraitement.uniteDose}}
                  </td>
                  <td>
                    <center>{{ lasttraitement.DAR}}</center>
                  </td>
                </tr>
                <tr ng-if="pc.lasttraitement.length !== 0">
                  <td colspan="6">
                    <center>{{"Visa Responsable Traitement" | translate}} : ...................</center>
                  </td>
                </tr>
                <tr ng-if="pc.lasttraitement.length == 0">
                  <td colspan="6"></td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div><br />
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12" id="tab_77">
        <div style="overflow-x:auto;">

          <table style="background-color: white;" border="1" class="table table-striped table-sm table-responsive-sm table-hover  jambo_table bulk_action ">
            <thead>
              <tr>
                <th>{{"D" | translate}}</th>
                <th>{{( (pc.expeditionByID.Drencher) ? 'X' : '-')}}</th>
                <th>{{"ND" | translate}}</th>
                <th>{{( (!pc.expeditionByID.Drencher) ? 'X' : '-')}}</th>
              </tr>
            </thead>
          </table>

        </div>
      </div>


      <div class="col-md-6 col-sm-6 col-xs-6" id="tab_66">
        <div style="overflow-x:auto;">
          <fieldset>
            <legend>{{"Traçabilité" | translate}}</legend>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <center>
                <div id="expeditionQr"></div>
              </center>
            </div>



          </fieldset>

        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6" id="tab_66">
        <div style="overflow-x:auto;">
          <fieldset>
            <legend>{{"Traitement" | translate}}</legend>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <div id="traitementQr"></div>
            </div>


          </fieldset>

        </div>
      </div>

    </div>