<div ng-controller="RecolteSuivirecolteCtrl as pc" class="modal-demo">
        <span> {{"Récoltes" | translate}} <i class="fa fa-angle-right"></i> <b> {{"Déclaration de la récolte" | translate}} </b> <i class="fa fa-angle-right"></i> <b> {{"Suivi récolte par variété
            " | translate}} </b>
        <div class="navigationSuivi">
        <a class="dt-button pull-right"  ui-sref="declarationrecolte" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
        <a class="dt-button pull-right"  ng-click="generatePdf()" title="{{'Imprimer' | translate}}"><i class="fa fa-print"></i></a> 
        </div>
        </span>
        <div style="text-align:center ;">
        <div   id="printThis" >
            <table  width="100%"   style="border: solid 1px rgb(0, 0, 0) !important;   border-collapse: collapse !important;" >
               <thead style="border: solid 1px rgb(0, 0, 0) !important;   border-collapse: collapse !important;" >
                    <tr>
                        <td rowspan="2" width="20%" style="border: solid 1px rgb(0, 0, 0) !important;   border-collapse: collapse !important; font-size: 18px; "><center>Coopérative <br> Agricole Zaouia</center></td>
                        <td width="60%" style="border: solid 1px rgb(0, 0, 0) !important;   border-collapse: collapse !important;font-size: 24px; font-weight: 700;"><center>SUIVI RECOLTE PAR VARIETE</center></td>
                        <td width="20%" style="border: solid 1px rgb(0, 0, 0) !important;   border-collapse: collapse !important;"></td>
                    </tr>
                    <tr>
                        <td style="border: solid 1px rgb(0, 0, 0) !important;   border-collapse: collapse !important; font-size: 18px;"><center>Liste de distribution : Techniciens , gérant</center></td>
                        <td></td>
                    </tr>
                </thead>
            </table>
            <table  width="100%"  style=" margin-top: 1em; border: 1px solid black !important; border-collapse: collapse !important;">
                <thead >
                     <tr>
                         <td >Producteur:</td>
                         <td >{{pc.NomFerme}}</td>
                         <td >Verger:</td>
                         <td >{{pc.NomFerme}}</td>
                         
                     </tr>
                     
                 </thead>
             </table>

             <table  width="100%"    style=" margin-top: 1em; border: 1px solid black !important; border-collapse: collapse !important;">
                <thead style="  border: 1px solid black !important; border-collapse: collapse !important;">
                     <tr>
                         <td style="   border: 1px solid black !important; border-collapse: collapse !important;"><center>Date<br>التاريخ</center></td>
                         <td style="  border: 1px solid black !important; border-collapse: collapse !important;"><center>Parcelle<br>كاري</center></td>
                         <td style="  border: 1px solid black !important; border-collapse: collapse !important;"><center>Nbr.Caisses<br>عدد الصناديق</center></td>
                         <td style="  border: 1px solid black !important; border-collapse: collapse !important;"><center>Variété<br>الصنف</center></td>
                         <td style="  border: 1px solid black !important; border-collapse: collapse !important;"><center>Observations<br>ملاحظة</center></td>
                     </tr>
                 </thead>
                 <tbody>
                    <tr ng-repeat="declaration in declarationrecolte[0]">
                        <td style=" padding-top: 10px; padding-bottom: 10px; border: 1px solid black !important; border-collapse: collapse !important;"><center>{{declaration.Date}}</center></td>
                        <td style=" padding-top: 10px; padding-bottom: 10px; border: 1px solid black !important; border-collapse: collapse !important;"><center>{{declaration.Parcelle}}</center></td>
                        <td style=" padding-top: 10px; padding-bottom: 10px; border: 1px solid black !important; border-collapse: collapse !important;"><center>{{declaration.nbrCaisses}}</center></td>
                        <td style=" padding-top: 10px; padding-bottom: 10px; border: 1px solid black !important; border-collapse: collapse !important;"><center>{{declaration.Produit}}</center></td>
                        <td style=" padding-top: 10px; padding-bottom: 10px; border: 1px solid black !important; border-collapse: collapse !important;"><center>{{declaration.Observation}}</center>
                        </td>
                    </tr>

                 </tbody>
             </table>

        </div>  
    </div>
</div>
    
