<div class="right_col" role="main">
  <div ng-controller="TableaudebordTbOrganisationparcelisationCtrl as pc" class="modal-demo">


    <center>

      <table>
        <tr>
          <td>{{"Ferme" | translate}}</td>
          <td>&nbsp;&nbsp;</td>

          <td>{{"Campagne" | translate}} (<font color="red">*</font>)</td>
          <td>&nbsp;&nbsp;</td>

          <td>{{"Culture" | translate}}</td>
          <td>&nbsp;&nbsp;</td>

          <td>{{"Variété" | translate}}</td>
          <td>&nbsp;&nbsp;</td>

          <td>{{"Porte-Greffe" | translate}}</td>
        </tr>
        <tr>
          <td>
            <select id="Ferme" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Ferme" ng-change="pc.Ferme_change()" multiple data-live-search="true" title="{{'Ferme' | translate}}..."
              data-selected-text-format="count > 1" data-size="10">
              <optgroup label="{{'Ferme' | translate}}">
                <option ng-repeat="Fermes in pc.Fermes | orderBy:'Nom'" ng-value="Fermes.IDFermes">{{ Fermes.Nom }}</option>
              </optgroup>
            </select>
          </td>
          <td>&nbsp;&nbsp;</td>

          <td>
            <select id="compagne" name="compagne" class="form-control  input-sm selectpicker" ng-model="compagne" ng-change="pc.compagne_change()" data-live-search="true" title="{{'Campagne' | translate}}..." data-selected-text-format="count > 1"
              data-size="10">
              <option ng-repeat="compagne in pc.compagne_array | orderBy:'Code'  | unique: 'Code'" value="{{compagne.ID_compagne}}">{{ compagne.Code }} De {{compagne.Date_debut | date:'dd/MM/yyyy'}} À {{compagne.Date_Fin | date:'dd/MM/yyyy'}}
              </option>
            </select>
          </td>

          <td>&nbsp;&nbsp;</td>
          <td>
            <select id="culture" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="culture" ng-change="pc.culture_change()" multiple data-live-search="true" title="{{'Culture' | translate}}..."
              data-selected-text-format="count > 1" data-size="10">
              <optgroup label="{{'Culture' | translate}}">
                <option ng-repeat="culture in pc.culture_array | orderBy:'Culture'" ng-value="culture.ID">{{ culture.Culture }}</option>
              </optgroup>
            </select>
          </td>
          <td>&nbsp;&nbsp;</td>

          <td>
            <select id="variete" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="variete" ng-change="pc.variete_change()" multiple data-live-search="true" title="{{'Variété' | translate}} ..."
              data-selected-text-format="count > 1" data-size="10">
              <optgroup label="{{'Variété' | translate}}">
                <option ng-repeat="variete in pc.variete_array | orderBy:'Variete'" ng-value="variete.id">{{ variete.Variete }}</option>
              </optgroup>
            </select>
          </td>
          <td>&nbsp;&nbsp;</td>

          <td>
            <select id="port_greff" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="port_greff" ng-change="pc.port_greff_change()" multiple data-live-search="true" title="{{'Porte-Greffe' | translate}}..."
              data-selected-text-format="count > 1" data-size="10">
              <optgroup label="{{'Porte-Greffe' | translate}}">
                <option ng-repeat="port_greff in pc.port_greffs_array | orderBy:'Libile'" ng-value="port_greff.IDPorte_greffe">{{ port_greff.Libile }}</option>
              </optgroup>
            </select>
          </td>
        </tr>

      </table>


      <table>
        <tr>
          <td>{{"Age" | translate}}</td>
          <td>&nbsp;&nbsp;</td>

          <td>{{"Région" | translate}}</td>
          <td>&nbsp;&nbsp;</td>

          <td>{{"Business unit" | translate}}</td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td>
            <select id="age" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="age" ng-change="pc.age_change()" multiple data-live-search="true" title="{{'Age' | translate}} ..." data-selected-text-format="count > 1"
              data-size="10">
              <optgroup label="{{'Age' | translate}}">
                <option ng-repeat="age in pc.TrancheAges | orderBy:'Code'" ng-value="age.ID">{{ age.Code }}</option>
              </optgroup>
            </select>
          </td>
          <td>&nbsp;&nbsp;</td>


          <td>
            <select id="Region" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="Region" ng-change="pc.Region_change()" multiple data-live-search="true" title="{{'Région' | translate}}..."
              data-selected-text-format="count > 1" data-size="10">
              <optgroup label="{{'Région' | translate}}">
                <option ng-repeat="Regions in pc.Regions | orderBy:'Region'" ng-value="Regions.ID">{{ Regions.Region }}</option>
              </optgroup>
            </select>
          </td>
          <td>&nbsp;&nbsp;</td>

          <td>
            <select id="BusinessUnit" class="form-control  input-sm selectpicker" data-actions-box='true' ng-model="BusinessUnit" ng-change="pc.BusinessUnit_change()" multiple data-live-search="true" title="{{'Business unit' | translate}}..."
              data-selected-text-format="count > 1" data-size="10">
              <optgroup label="{{'Business unit' | translate}}">
                <option ng-repeat="BusinessUnit in pc.BusinessUnits | orderBy:'Libelle'" ng-value="BusinessUnit.ID">{{ BusinessUnit.Libelle }}</option>
              </optgroup>
            </select>
          </td>
          <td>&nbsp;&nbsp;</td>


          <td>
            <md-button class="md-raised" ng-click="pc.Search()" title="{{'Rechercher' | translate}}">{{"Valider" | translate}}</md-button>
          </td>
        </tr>

      </table>

      <center>
        <bn style="font-size: 22px;color: orange;" class="ng-binding">{{ pc.getSup[0].Superficie || '0' | getNumberAsSpace}}</bn>
        <small style="padding-top:6px;">&nbsp;Ha</small>
      </center>
      <a class="btn" href="" ng-click="pc.ReverseDisplay('filter_form')" title="{{'Cacher le formulaire' | translate}}"><i class="fa fa-chevron-down "></i></a>


    </center>

    <div class="row">

      <div class="animate fadeIn col-md-4 col-sm-4 col-xs-4">
        <div class=" x_panel">
          <div class="x_title">
            <h4>{{"Répartition par variété" | translate}}</h4>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="height:420px;">
            <div ng-show="pc.repartitionbyvariete.length == 0" style="color: #b2ac43;"><br /><br /><br /><br />
              <center>
                <h3>0</h3><small> Hectare</small>
              </center>
            </div>
            <div id="chart_variete" ng-show="pc.repartitionbyvariete.length != 0" style="height:320px;"></div>
            <div id="legendwrapper" ng-show="pc.repartitionbyvariete.length != 0">
              <div id="legenddiv"></div>
            </div>
            <center>
              <bn class="badge badge-green_withe badge-small">
                <font color="#ffffff"><b>{{pc.repartitionbyvariete.length || '0'}} {{"Variété" | translate}}(s)</b></font>
              </bn>
            </center>
          </div>
        </div>
      </div>

      <div class="animate fadeIn col-md-4 col-sm-4 col-xs-4">
        <div class=" x_panel">
          <div class="x_title">
            <h4>{{"Répartition par porte-greffe" | translate}}</h4>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="height:420px;">
            <div ng-show="pc.repartitionbyPortegreffe.length == 0" style="color: #b2ac43;"><br /><br /><br /><br />
              <center>
                <h3>0</h3><small> Hectare</small>
              </center>
            </div>
            <div id="chart_portegreffe" ng-show="pc.repartitionbyPortegreffe.length != 0" style="height:320px;"></div>
            <div id="legendwrapper" ng-show="pc.repartitionbyPortegreffe.length != 0">
              <div id="legenddivPortgref"></div>
            </div>
            <center>
              <bn class="badge badge-green_withe badge-small">
                <font color="#ffffff"><b>{{pc.repartitionbyPortegreffe.length || '0'}} {{"Porte-Greffe" | translate}}(s)</b></font>
              </bn>
            </center>
          </div>
        </div>
      </div>

      <div class="animate fadeIn col-md-4 col-sm-4 col-xs-4">
        <div class=" x_panel">
          <div class="x_title">
            <h4>{{"Répartition par âge" | translate}}</h4>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="height:420px;">
            <div ng-show="pc.repartitionbyAge.length == 0" style="color: #b2ac43;"><br /><br /><br /><br />
              <center>
                <h3>0</h3><small> Hectare</small>
              </center>
            </div>
            <div id="chart_Age" ng-show="pc.repartitionbyAge.length != 0" style="height:320px;"></div>
            <div id="legendwrapper" ng-show="pc.repartitionbyAge.length != 0">
              <div id="legenddivportegreffe"></div>
            </div>
            <center>
              <bn class="badge badge-green_withe badge-small">
                <font color="#ffffff"><b>{{pc.repartitionbyAge.length || '0'}} {{"Age" | translate}}(s)</b></font>
              </bn>
            </center>
          </div>
        </div>
      </div>



    </div>

    <div class="row">

      <div class="animate fadeIn col-md-6 col-sm-6 col-xs-6">
        <div class=" x_panel">
          <div class="x_title">
            <h4>{{"Répartition par région" | translate}}</h4>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="height:420px;">
            <div ng-show="pc.repartitionbyRegion.length == 0" style="color: #b2ac43;"><br /><br /><br /><br />
              <center>
                <h3>0</h3><small> Hectare</small>
              </center>
            </div>
            <div id="chart_Region" ng-show="pc.repartitionbyRegion.length != 0" style="height:320px;"></div>
            <div id="legendwrapper" ng-show="pc.repartitionbyRegion.length != 0">
              <div id="legenddivRegion"></div>
            </div>
            <center>
              <bn class="badge badge-green_withe badge-small">
                <font color="#ffffff"><b>{{pc.repartitionbyRegion.length || '0'}} {{"Région" | translate}}(s)</b></font>
              </bn>
            </center>
          </div>
        </div>
      </div>

      <div class="animate fadeIn col-md-6 col-sm-6 col-xs-6">
        <div class=" x_panel">
          <div class="x_title">
            <h4>{{"Répartition par business unit" | translate}}</h4>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="height:420px;">
            <div ng-show="pc.repartitionbyBusinessunit.length == 0" style="color: #b2ac43;"><br /><br /><br /><br />
              <center>
                <h3>0</h3><small> Hectare</small>
              </center>
            </div>
            <div id="chart_Businessunit" ng-show="pc.repartitionbyBusinessunit.length != 0" style="height:320px;"></div>
            <div id="legendwrapper" ng-show="pc.repartitionbyBusinessunit.length != 0">
              <div id="legenddivBusinessunit"></div>
            </div>
            <center>
              <bn class="badge badge-green_withe badge-small">
                <font color="#ffffff"><b>{{pc.repartitionbyBusinessunit.length || '0'}} {{"Business unit" | translate}}(s)</b></font>
              </bn>
            </center>
          </div>
        </div>
      </div>

    </div>


    <!--<br /><br />
    <center>Bar race example (Yearly Production (Tonne) by variety) from 2002 to this year</center>
    <div id="race"></div> <br />--><br />
    <div id="map"></div>
    <br /><br />






  </div>
</div>