<div ng-controller="OnboardingOnboardingStepsCtrl as vm">


    <div class="container_onbord">
        <div class="right-panel_onbord">
            <!--step 1-->
            <div ng-if="vm.step_1">
                <p class="fade-in delay Onboarding_steps nomarging">Étape 1 Sur 6</p>
                <h2 class="fade-in nomarging">BeeOne Onboarding</h2>
                <p class="fade-in delay OnboardingQst nomarging">Dans quelle langue souhaitez-vous exécuter beeOne ?</p>
                <br />
                <form>
                  <div flex="100" flex-gt-sm="33" layout="column">
                    <md-input-container class="md-block" flex-gt-xs style="width: 300px;">
                        <label>{{ 'Langue' | translate }}</label>
                        <md-select ng-model="vm.langue">
                            <md-option ng-value="'ar'">
                                <i class="flag-icon flag-icon-ma"></i>&nbsp;&nbsp;&nbsp; Arabic
                            </md-option>
                            <md-option ng-value="'fr'">
                                <i class="flag-icon flag-icon-fr"></i>&nbsp;&nbsp;&nbsp; French
                            </md-option>
                            <md-option ng-value="'en'">
                                <i class="flag-icon flag-icon-us"></i>&nbsp;&nbsp;&nbsp; English
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                </form>
            </div>

            <!--step 2-->
            <div ng-if="vm.step_2">
                <p class="fade-in delay Onboarding_steps nomarging">Étape 2 Sur 6</p>
                <h2 class="fade-in nomarging">BeeOne Onboarding</h2>
                <p class="fade-in delay OnboardingQst nomarging">Dans quel pays opérez-vous actuellement ?</p>
                <br />
                <form>
                    <div flex="100" flex-gt-sm="33" layout="column">


                      <md-input-container class="md-block" flex-gt-xs style="width: 300px;">
                        <label>{{'Country' | translate}}</label>
                        <md-select ng-model="vm.country" style="width:90%;"  data-md-container-class="selectSelectHeader">
                          <md-select-header class="select-header">
                            <input ng-model="vm.searchText" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="header-searchbox md-text" style="border: 0px;" />
                          </md-select-header>
                          <md-option ng-value="country_sel.name" ng-repeat="country_sel in vm.countries | filter: vm.searchText">
                            <i class="flag-icon flag-icon-{{country_sel.code}}"></i>&nbsp; {{ country_sel.name }}
                          </md-option>
                        </md-select>
                      </md-input-container>

                    </div>

                </form>
            </div>

            <!--step 3-->
            <div ng-if="vm.step_3">
                <p class="fade-in delay Onboarding_steps nomarging">Étape 3 Sur 6</p>
                <h2 class="fade-in nomarging">BeeOne Onboarding</h2>
                <p class="fade-in delay OnboardingQst nomarging">Qui est en charge du processus d'intégration ?</p>
                <br />
                <form>
                    <div layout="row"  style="    gap: 27px;" flex>
                        <div flex="100" flex-gt-sm="5" layout="column">
                            <md-input-container class="md-block" flex>
                              <img src="../images/onboarding/user.svg" alt="user"  />
                          </md-input-container>
                          </div>    
                        <div flex="100" flex-gt-sm="25" layout="column">
                          <md-input-container class="md-block" flex>
                            <label>{{"Prénom" | translate}}...</label>
                            <input ng-model="vm.prenom" style="width: 120px;" type="text">
                          </md-input-container>
                        </div>
                        <div flex="100" flex-gt-sm="5" layout="column">
                            <md-input-container class="md-block" flex>
                              <img src="../images/onboarding/user.svg" alt="user"  />
                          </md-input-container>
                          </div>
                        <div flex="100" flex-gt-sm="25" layout="column">
                          <md-input-container class="md-block" flex>
                            <label>{{'Nom' | translate}}...</label>
                            <input ng-model="vm.nom" style="width: 160px;" type="text">
                          </md-input-container>
                        </div>
                      </div>
                      

                </form>
            </div>
            
             <!--step 4-->
             <div ng-if="vm.step_4">
                <p class="fade-in delay Onboarding_steps nomarging">Étape 4 Sur 6</p>
                <h2 class="fade-in nomarging">BeeOne Onboarding</h2>
                <p class="fade-in delay OnboardingQst nomarging">Quel poste occupez-vous actuellement ?</p>
                <br />
                <form>
                    <div layout="column" layout-align="start start">
                        <md-radio-group ng-model="vm.poste" layout="column">
                          <!-- Radio Button: Support BeeOne -->
                          <md-radio-button value="Support BeeOne">
                            Support BeeOne
                          </md-radio-button>
                      
                          <!-- Radio Button: Responsable technique -->
                          <md-radio-button value="Responsable technique">
                            Responsable technique
                          </md-radio-button>
                      
                          <!-- Radio Button: Gestionnaire de ferme -->
                          <md-radio-button value="Gestionnaire de ferme">
                            Gestionnaire de ferme
                          </md-radio-button>
                      
                          <!-- Radio Button: Responsable RH -->
                          <md-radio-button value="Responsable RH">
                            Responsable RH
                          </md-radio-button>
                      
                          <!-- Radio Button: Autre -->
                          <md-radio-button value="Autre">
                            Autre
                          </md-radio-button>
                        </md-radio-group>
                      
                        <!-- Input field displayed when "Autre" is selected -->
                        <div layout="row" layout-align="start center" ng-show="vm.poste === 'Autre'">
                          <md-input-container>
                            <label>Précisez</label>
                            <input type="text" ng-model="autreValue" placeholder="Entrez votre poste">
                          </md-input-container>
                        </div>
                      </div>
                      

                </form>
            </div>

            <!--step 5-->
            <div ng-if="vm.step_5">
                <p class="fade-in delay Onboarding_steps nomarging">Étape 5 Sur 6</p>
                <h2 class="fade-in nomarging">BeeOne Onboarding</h2>
                <p class="fade-in delay OnboardingQst nomarging">Avez-vous déjà utilisé beeOne ?</p>
                <br />
                <form>
                    <div layout="column" layout-align="start start">
                        <md-radio-group ng-model="vm.usedbefore" layout="column">
                         
                          <!-- Radio Button: Responsable technique -->
                          <md-radio-button value="1">
                            Oui
                          </md-radio-button>
                      
                          <!-- Radio Button: Gestionnaire de ferme -->
                          <md-radio-button value="0">
                           Non
                          </md-radio-button>
                      
                         
                      </div>
                      

                </form>
            </div>

            <!--step 6-->
            <div ng-if="vm.step_6">
                

                <p class="fade-in delay Onboarding_steps nomarging">Étape 6 Sur 6</p>
                <h2 class="fade-in nomarging">Bienvenue à bord 👋</h2>
                <p class="fade-in delay OnboardingQst ">Ce n'est que le début de votre aventure avec BeeOne eRP. Nous sommes impatients de voir ce que vous accomplirez !
                    <br />
                
            </div>

            <!-- Left-side Footer -->
            <div class="footer_onbord">               
                <button class="btn_onboarding  right_notes" ng-click="vm.steps(1)" ng-disabled="!vm.langue" ng-show="vm.step_1">Continuer</button>
                <button class="btn_onboarding  right_notes" ng-click="vm.steps(2)" ng-disabled="!vm.country" ng-show="vm.step_2">Continuer</button>
                <button class="btn_onboarding  right_notes" ng-click="vm.steps(3)" ng-disabled="!vm.nom && !vm.prenom" ng-show="vm.step_3">Continuer</button>
                <button class="btn_onboarding  right_notes" ng-click="vm.steps(4)" ng-disabled="!vm.poste" ng-show="vm.step_4">Continuer</button>
                <button class="btn_onboarding  right_notes" ng-click="vm.steps(5)" ng-disabled="!vm.usedbefore" ng-show="vm.step_5">Continuer</button>
                <button class="btn_onboarding  right_notes" ng-click="vm.continuer()"  ng-show="vm.step_6">Confirmer</button>
            </div>

        </div>


        <div class="left-panel_onbord">
            <div class="fade-in logo footer_onbord_left">
                <h2 class="nomarging" >ERP De Gestion Agricole</h2>
                <p class="nomarging onbord_p" >Gérez facilement votre exploitation avec BeeOne Notre logiciel 360 </p>
            </div>
        </div>
    </div>
    <loading-spinner is-loading="loading"></loading-spinner>
</div>