<md-dialog aria-label="Mango (Fruit)" style="width: 600px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'Ajouter une famille d opération' | translate}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-wrap>

          <div flex="100" flex-gt-sm="100" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Famille' | translate}}</label>
              <input ng-model="Famille" ng-value="" md-autofocus type="text" style="width: 90%;" required>
            </md-input-container>
          </div>


        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
      <md-button ng-click="AnnulerFamilleOperation();" class="md-primary">
        {{'Annuler' | translate}}
      </md-button>
      <md-button ng-click="AjouterFamilleOperation()" ng-if="!progress">
        {{'Ajouter' | translate}}
      </md-button>
      <md-progress-circular md-mode="indeterminate" ng-if="progress"></md-progress-circular>
    </md-dialog-actions>

  </form>
</md-dialog>
