<md-dialog aria-label="Mango (Fruit)" style="width: 600px;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'Modifier le Stades phénologiques' | translate}} </h2>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <div class="md-dialog-content">
        <div layout="row" layout-wrap>
          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Code' | translate}}</label>
              <input ng-model="data.code" style="width: 250px;" md-autofocus>
            </md-input-container>
          </div>


          <div flex="100" flex-gt-sm="50" layout="column">
            <md-input-container class="md-block" flex-gt-xs>
              <label>{{'Culture' | translate}} ...</label>
              <md-select ng-model="culture" style="width:90%;" data-md-container-class="selectdemoSelectHeader">
                <md-select-header class="demo-select-header">
                  <input ng-model="searchculture" type="search" ng-keydown="$event.stopPropagation()" placeholder="{{'Rechercher' | translate}} .." class="demo-header-searchbox md-text">
                </md-select-header>
                <md-option ng-value="Culture.ID" ng-repeat="Culture in Cultures  | orderBy:'Culture' | filter:searchculture" ng-selected="data.IdCulture == Culture.ID">
                  {{Culture.Culture}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>



          <div flex="100" flex-gt-sm="50" layout="column">
            <label>{{'Couleur calque' | translate}}</label>
            <div md-color-picker ng-model="data.CouleurCalque" label="" icon="color_lens" skip-hide='false' preserve-scope='true' open-on-input="true" style="width: 250px;"></div>
          </div>

          <div flex="100" flex-gt-sm="50" layout="column">
            <label>{{'Couleur cadre' | translate}}</label>
            <div md-color-picker ng-model="data.CouleurCadre" label="" icon="color_lens" skip-hide='false' preserve-scope='true' open-on-input="true" style="width: 250px;"></div>
          </div>

          <div flex="100" layout="column">
            <md-input-container class="md-block">
              <label>{{'Description' | translate}}</label>
              <textarea ng-model="data.description" rows="3" style="width: 520px;"></textarea>
            </md-input-container>
          </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="">
      <span flex></span>
      <md-button ng-click="Annuler();" class="md-primary">
        {{'Annuler' |translate}}
      </md-button>
      <md-button ng-click="Modifier()">
        {{'Modifier' | translate}}
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>