<div class="right_col" role="main">
  <div ng-controller="ProfilGestionprofilsCtrl as pc" class="modal-demo">
    <span>{{'Gestion des acces' | translate}} <i class="fa fa-angle-right"></i><b> {{'Gestion des utilisateurs' | translate}}</b>
      <a id="remove" class="dt-button pull-right" ng-click="ShowTable();" style="display: none" title="{{'Fermer' | translate}}"><i class="fa fa-remove"></i></a>
      <button id="delete" type="button" class="dt-withcolor-button-doublon pull-right" ng-show="pc.profiledata.ID" ng-click="pc.DeleteUser(pc.profiledata.ID);">
        {{'Supprimerutilisateur' | translate}}
      </button>
      <button id="block" type="button" class="dt-withcolor-button-conge pull-right" ng-show="pc.profiledata.ID && !pc.profiledata.Etat" ng-click="pc.BlockUser(pc.profiledata.ID, 1);">
        {{'Bloquerutilisateur' | translate}}
      </button>
      <button id="block" type="button" class="dt-withcolor-button-conge pull-right" ng-show="pc.profiledata.ID && pc.profiledata.Etat && pc.profiledata.Etat" ng-click="pc.BlockUser(pc.profiledata.ID, 0);">
        {{'Debloquerutilisateur' | translate}}
      </button>
      <button id="block" type="button" class="dt-withcolor-button-ferie pull-right" ng-show="pc.profiledata.ID && !pc.profiledata.Etat" ng-click="pc.moduleManager(pc.profiledata);">
        {{'Gérer les accès' | translate}}
      </button>
    </span>

    <div class="table-responsive" id="table">
      <table id="table" datatable="" dt-options="pc.dtOptions" dt-columns="pc.dtColumns" dt-instance="pc.dtInstance" class="table table-striped table-sm table-responsive-sm table-hover jambo_table bulk_action"></table>
    </div>

    <div id="form" style="display: none">
      <!--style="display:none;"-->
      <form name="operationObject" autocomplete="off">
        <div class="row">
          <br />
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-row">
              <label for="">{{'Nom(*)' | translate}}</label>
              <input type="text" class="form-control" id="Nom" ng-model="pc.profiledata.Nom" placeholder="{{'Nom ...' | translate}}" ng-required />
            </div>
            <div class="form-row">
              <label for="inputPassword4">{{'Prénom(*)' | translate}}</label>
              <input type="text" class="form-control" id="prenom" ng-model="pc.profiledata.Prenom" placeholder="{{'Prénom ...' | translate}}" ng-required />
            </div>
            <div class="form-row">
              <label for="inputPassword4">{{'E-mail' | translate}}</label>
              <input type="text" class="form-control" id="mail" ng-model="pc.profiledata.Mail" autocomplete="off" placeholder="{{'E-mail ...' | translate}}" />
            </div>
            <div class="form-row">
              <label for="inputPassword4">{{'Téléphone' | translate}}</label>
              <input type="text" class="form-control" id="phone" ng-model="pc.profiledata.Phone" autocomplete="off" placeholder="{{'Téléphone ...' | translate}}" />
            </div>
          </div>

          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-row">
              <label for="inputEmail4">{{'Login(*)' | translate}}</label>
              <input type="text" class="form-control" id="login" ng-model="pc.profiledata.Login" placeholder="{{'Login ...' | translate}}" ng-required />
            </div>
            <div class="form-row">
              <label for="inputPassword4">{{'Mot de passe(*)' | translate}}</label>
              <input type="password" class="form-control" id="password" ng-model="pc.profiledata.Password" placeholder="{{'Mot de passe ...' | translate}}" ng-required />
            </div>
            <div class="form-row">
              <label for="inputPassword4">{{'Confirmer le mot de passe(*)' | translate}}</label>
              <input type="password" class="form-control" id="confirmpassword" ng-model="passwordconfirm" placeholder="{{'Confirmer le mot de passe ...' | translate}}" ng-required />
            </div>

            <div class=""><br /> <br />
              <label class="col-form-label col-sm-2 pt-0">{{'Type(*)' | translate}}</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" ng-value="1" ng-checked="pc.profiledata.isAdmin" ng-model="pc.profiledata.isAdmin" />
                  <label class="form-check-label" for="gridRadios1">
                    {{'Administrateur' | translate}}
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" ng-value="0" ng-checked="!pc.profiledata.isAdmin" ng-model="pc.profiledata.isAdmin" />
                  <label class="form-check-label" for="gridRadios2">
                    {{'Utilisateur' | translate}}
                  </label>
                </div>
              </div>
            </div>


            <div class="" ng-show="!pc.profiledata.isAdmin">
              <br /> <br /> <br /> <br />
              <label class="col-form-label col-sm-2 pt-0">{{'Rôle(*)' | translate}}</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadiosRole" id="gridRadiosRole1" ng-value="1" ng-checked="pc.profiledata.role" ng-model="pc.profiledata.role" />
                  <label class="form-check-label" for="gridRadiosRole1">
                    {{'Opérateur' | translate}}
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadiosRole" id="gridRadiosRole2" ng-value="2" ng-checked="pc.profiledata.role" ng-model="pc.profiledata.role" />
                  <label class="form-check-label" for="gridRadiosRole2">
                    {{'Responsable qualité' | translate}}
                  </label>
                </div>
              </div>
            </div>

            <div class="">
              <br /> <br /> <br /> <br />
              <label class="col-form-label col-sm-2 pt-0">{{'BeeOne Manager' | translate}}(*)</label>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios11" ng-value="true" ng-checked="pc.profiledata.is_colab" ng-model="pc.profiledata.is_colab" />
                  <label class="form-check-label" for="gridRadios11">
                    {{'Oui' | translate}}
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios22" ng-value="false" ng-checked="!pc.profiledata.is_colab" ng-model="pc.profiledata.is_colab" />
                  <label class="form-check-label" for="gridRadios22">
                    {{'Non' | translate}}
                  </label>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <button type="submit" class="btn btn-success pull-right" ng-show="!pc.profiledata.ID" title="{{'Valider' | translate}}" ng-click="pc.MAJUser(null);">
              {{'Valider' | translate}}
            </button>
            <button type="submit" class="btn btn-primary pull-right" ng-show="pc.profiledata.ID" title="{{'Modifier' | translate}}" ng-click="pc.MAJUser(pc.profiledata.ID);">
              {{'Modifier' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>